* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* -- Grid Settings -------------------------------------------- */
/* Preserve some sanity */
.wrapper {
  margin: 0 auto;
  width: 100%;
  position: relative; }

.container,
.row,
.column {
  box-sizing: border-box;
  position: relative;
  content: "";
  -webkit-transition: width 0.4s ease-out;
  -moz-transition: width 0.4s ease-out;
  transition: width 0.4s ease-out; }
  .container:before,
  .row:before,
  .column:before {
    display: table;
    content: ""; }
    .container:before:after,
    .row:before:after,
    .column:before:after {
      content: "";
      display: table;
      clear: both; }
  .container:after,
  .row:after,
  .column:after {
    clear: both;
    display: table;
    content: "";
    line-height: 0; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 667px) {
    .container {
      padding-left: 40px;
      padding-right: 40px; } }

.row {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.column {
  position: relative;
  min-height: 1px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  .column:first-child {
    padding-left: 0;
    padding-right: 0; }
    @media screen and (min-width: 667px) {
      .column:first-child {
        padding-left: 0;
        padding-right: 20px; } }
  .column:last-child {
    padding-right: 0;
    padding-left: 0; }
    @media screen and (min-width: 667px) {
      .column:last-child {
        padding-left: 20px;
        padding-right: 0; } }
  .column.pull-left {
    padding-left: 0;
    padding-right: 0; }
    @media screen and (min-width: 667px) {
      .column.pull-left {
        padding-left: 0;
        padding-right: 20px; } }
  .column.pull-right {
    padding-right: 0;
    padding-left: 0; }
    @media screen and (min-width: 667px) {
      .column.pull-right {
        padding-left: 20px;
        padding-right: 0; } }
  .column .column:first-child {
    padding-left: 0; }
  .column .column:last-child {
    padding-right: 0; }

.whole,
.half,
.one-third,
.two-thirds,
.one-quarter,
.three-quarters,
.one-fifth,
.two-fifths,
.three-fifths,
.four-fifths,
.golden-small,
.golden-large {
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  flex-basis: 100%;
  -ms-flex-preferred-size: 100%; }

/* Utility classes */
.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-justify {
  text-align: justify; }

/* Let people nuke the gutters/padding completely in a couple of ways */
.no-gutters {
  padding-right: 0 !important;
  padding-left: 0 !important; }

@media screen and (max-width: 667px) {
  .hide-on-mobiles {
    display: none !important; } }
/* -- Small screen ------------------------------------------------ */
@media screen and (min-width: 667px) {
  .whole {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%; }

  .half {
    -webkit-flex-basis: 50%;
    -moz-flex-basis: 50%;
    flex-basis: 50%;
    -ms-flex-preferred-size: 50%; }

  .one-third {
    -webkit-flex-basis: 33.3%;
    -moz-flex-basis: 33.3%;
    flex-basis: 33.3%;
    -ms-flex-preferred-size: 33.3%; }

  .two-thirds {
    -webkit-flex-basis: 66.6%;
    -moz-flex-basis: 66.6%;
    flex-basis: 66.6%;
    -ms-flex-preferred-size: 66.6%; }

  .three-quarters {
    -webkit-flex-basis: 75%;
    -moz-flex-basis: 75%;
    flex-basis: 75%;
    -ms-flex-preferred-size: 75%; }

  .one-quarter {
    -webkit-flex-basis: 25%;
    -moz-flex-basis: 25%;
    flex-basis: 25%;
    -ms-flex-preferred-size: 25%; }

  .one-fifth {
    -webkit-flex-basis: 2;
    -moz-flex-basis: 2;
    flex-basis: 2;
    -ms-flex-preferred-size: 2; }

  .two-fifths {
    -webkit-flex-basis: 4;
    -moz-flex-basis: 4;
    flex-basis: 4;
    -ms-flex-preferred-size: 4; }

  .three-fifths {
    -webkit-flex-basis: 6;
    -moz-flex-basis: 6;
    flex-basis: 6;
    -ms-flex-preferred-size: 6; }

  .four-fifths {
    -webkit-flex-basis: 8;
    -moz-flex-basis: 8;
    flex-basis: 8;
    -ms-flex-preferred-size: 8; }

  .golden-small {
    -webkit-flex-basis: 28.01019%;
    -moz-flex-basis: 28.01019%;
    flex-basis: 28.01019%;
    -ms-flex-preferred-size: 28.01019%; }

  .golden-large {
    -webkit-flex-basis: 69.14722%;
    -moz-flex-basis: 69.14722%;
    flex-basis: 69.14722%;
    -ms-flex-preferred-size: 69.14722%; }

  .pull-right {
    float: right; } }
@font-face {
  font-family: "Genericons";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#Genericons") format("svg"); }
.genericon {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  height: 62px;
  width: 62px;
  line-height: 54px;
  font-family: 'Genericons';
  vertical-align: middle;
  cursor: pointer;
  font-weight: 300;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  speak: none; }

.fivehundred:before {
  content: "\e905"; }

.laptop:before {
  content: "\e001"; }

.desktop:before {
  content: "\e002"; }

.tablet:before {
  content: "\e003"; }

.phone:before {
  content: "\e004"; }

.newspaper:before {
  content: "\e009"; }

.camera:before {
  content: "\e012"; }

.tools:before {
  content: "\e033"; }

.profile:before {
  content: "\e040"; }

.web:before {
  content: "\e052"; }

.twitter:before {
  content: "\f099"; }

.facebook:before {
  content: "\f09a"; }

.feed-rss:before {
  content: "\f09e"; }

.google-plus:before {
  content: "\f0d5"; }

.envelope:before {
  content: "\f0e0"; }

.linkedin:before {
  content: "\f0e1"; }

.chevron.left:before {
  content: "\f104"; }
.chevron.right:before {
  content: "\f105"; }
.chevron.up:before {
  content: "\f106"; }
.chevron.down:before {
  content: "\f107"; }

.html5:before {
  content: "\f13b"; }

.skype:before {
  content: "\f17e"; }

.wordpress:before {
  content: "\f19a"; }

.rebel:before {
  content: "\f1d0"; }

.empire:before {
  content: "\f1d1"; }

.git:before {
  content: "\f1d3"; }

.pinterest-p:before {
  content: "\f231"; }

.commenting-o:before {
  content: "\f27b"; }

.house:before {
  content: "\e900"; }

.clock:before {
  content: "\e901"; }

.bubble:before {
  content: "\e902"; }

.flickr:before {
  content: "\e903"; }

.html-five:before {
  content: "\e904"; }

html,
body {
  font-size: 100%; }

::selection {
  background: #B4DA55;
  color: #FAFAFA; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', Arial, Helvetica, Verdana, sans-serif;
  font-weight: 300;
  color: #222222;
  background-color: #FAFAFA;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga";
  font-feature-settings: "liga"; }

h1,
h2,
h3,
h4 {
  padding: 0;
  padding: 0;
  margin: 0;
  font-family: 'Exo 2', Arial, Helvetica, Verdana, sans-serif;
  font-weight: 200;
  line-height: 1; }
  h1:before,
  h2:before,
  h3:before,
  h4:before {
    display: block;
    content: ' ';
    line-height: 0; }
  h1:after,
  h2:after,
  h3:after,
  h4:after {
    display: block;
    content: ' ';
    line-height: 0; }

h1 {
  font-size: 8.125rem; }

h2 {
  font-size: 3.75rem;
  margin-bottom: 0.9375rem; }

h3 {
  font-size: 1.875rem; }

h4 {
  font-size: 1.375rem; }

h1 em,
h2 em,
h3 em,
h4 em {
  color: #B4DA55;
  font-style: normal; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  display: inline; }

a {
  -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  -moz-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  color: #B4DA55;
  text-decoration: underline; }
  a:hover {
    color: #888888;
    text-decoration: none; }

p {
  margin: 0 0 15px 0;
  font-size: 1.125rem;
  line-height: 1.8; }

img {
  max-width: 100%;
  border: 0;
  margin: 0 auto;
  height: auto;
  display: block;
  vertical-align: middle; }

figure {
  margin: 0;
  padding: 0; }
  figure figcaption {
    color: #FAFAFA;
    padding: 20px;
    background-color: rgba(17, 17, 17, 0.6); }

blockquote {
  font-size: 1.125rem;
  line-height: 1.2;
  font-family: 'Exo 2', Georgia, 'Times New Roman', sans-serif;
  border-left: 4px solid #B4DA55;
  padding: 0 0 0 20px;
  margin: 15px 0 25px;
  font-weight: 200;
  line-height: 1.4; }
  blockquote cite {
    display: block;
    font-size: 0.75rem;
    font-style: normal;
    font-family: 'Open Sans', Arial, Helvetica, Verdana, sans-serif;
    font-weight: 300;
    line-height: 1;
    margin-top: 20px;
    color: #888888; }
    blockquote cite:before {
      content: "\2014 \2009"; }

.animate {
  -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  -moz-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }

.font-effect-wallpaper {
  -webkit-mask: url("../img/wallpaper.png") top left;
  -moz-mask: url("../img/wallpaper.png") top left;
  mask: url("../img/wallpaper.png") top left; }

.small-text {
  margin-top: 20px;
  color: #888888;
  font-size: 0.875rem; }

.site-wrapper {
  position: relative;
  right: 0;
  transition: 0.3s right ease-in-out; }

.page {
  position: relative;
  width: 100%;
  display: table;
  background-color: #FFFFFF;
  box-sizing: border-box;
  z-index: 1;
  padding-top: 95px;
  padding-bottom: 65px; }

/* Buttons */
.btn {
  display: inline-block;
  margin: 10px 0;
  padding: 0 20px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.875rem;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 2px solid #B4DA55;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 25px;
  color: #FAFAFA;
  background-color: #B4DA55;
  padding-left: 55px; }
  .btn:hover {
    background-color: #90ae44;
    border-color: #6c8333; }
  .btn:before {
    position: absolute;
    font-family: 'Genericons';
    font-style: normal;
    left: 15px;
    top: 5px;
    font-size: 1.375rem; }

.scroll {
  display: block;
  cursor: pointer;
  text-align: center;
  color: #FFFFFF;
  line-height: 42px;
  width: 42px;
  height: 42px;
  border: none;
  margin: 0 auto;
  text-decoration: none; }
  .scroll .chevron {
    font-size: 1.625rem;
    font-weight: 200;
    line-height: 42px;
    height: 42px;
    width: 42px; }
    .scroll .chevron:before {
      display: block;
      line-height: 42px;
      height: 42px;
      width: 42px; }
  .scroll:hover {
    color: #B4DA55; }

.slideContent {
  transition: 0.3s right ease-in-out;
  position: fixed;
  z-index: 3;
  top: 0;
  right: -15rem;
  width: 15rem;
  height: 100%;
  background: #222222; }
  @media screen and (min-width: 667px) {
    .slideContent {
      position: relative;
      right: auto;
      height: 75px;
      width: auto;
      display: inline-block;
      float: right;
      background: transparent; } }

.burgerMenu {
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 4;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  display: block;
  padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 75px;
  width: 55px;
  padding: 0;
  transition: 0.3s right ease-in-out; }
  @media screen and (min-width: 667px) {
    .burgerMenu {
      display: none; } }

.lines {
  display: block;
  width: 100%;
  height: 6px;
  background-color: #FFFFFF;
  border-radius: 4px;
  position: relative; }
  .lines:before, .lines:after {
    content: '';
    display: block;
    width: 100%;
    height: 6px;
    background-color: #FFFFFF;
    border-radius: 4px;
    transition: 0.3s;
    position: absolute;
    left: 0;
    transform-origin: -15px center; }
  .lines:before {
    top: -15px; }
  .lines:after {
    bottom: -15px; }

.mainMenu {
  position: relative;
  padding-bottom: 2em; }
  @media screen and (min-width: 667px) {
    .mainMenu {
      padding-bottom: 0; } }

.menuActive .lines {
  background-color: transparent; }
  .menuActive .lines:before, .menuActive .lines:after {
    transform-origin: 50% 50%;
    top: 0;
    width: 3rem; }
  .menuActive .lines:before {
    transform: rotate3d(0, 0, 1, 45deg); }
  .menuActive .lines:after {
    transform: rotate3d(0, 0, 1, -45deg); }
.menuActive .slideContent {
  right: 0; }
  @media screen and (min-width: 667px) {
    .menuActive .slideContent {
      right: 0; } }
.menuActive .burgerMenu,
.menuActive .site-header,
.menuActive .site-wrapper {
  right: 15rem; }
  @media screen and (min-width: 667px) {
    .menuActive .burgerMenu,
    .menuActive .site-header,
    .menuActive .site-wrapper {
      right: 0; } }

.site-header {
  width: 100%;
  height: 75px;
  position: fixed;
  background-color: transparent;
  z-index: 5;
  top: 0;
  right: 0;
  transition: 0.3s all ease-in-out; }
  .site-header.scrolled {
    background-color: #222222; }
  .site-header .logo {
    height: 75px;
    width: 75px;
    display: inline-block;
    text-align: center;
    position: relative; }
    .site-header .logo:before {
      content: '';
      display: block;
      background-image: url("../img/logo114x114.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 75px;
      height: 75px;
      -webkit-mask: url("../img/wallpaper.png") top left;
      -moz-mask: url("../img/wallpaper.png") top left;
      mask: url("../img/wallpaper.png") top left; }
    .site-header .logo:hover {
      background-color: #B4DA55; }
      .site-header .logo:hover .dot {
        background-color: #222222; }
      .site-header .logo:hover.active .dot {
        background-color: #222222; }
    .site-header .logo .srt {
      display: none; }
    .site-header .logo .dot {
      display: block;
      position: absolute;
      background-color: #FFFFFF;
      height: 10px;
      width: 14px;
      right: 5px;
      bottom: 10px; }
    .site-header .logo.active .dot {
      background-color: #B4DA55; }

.navbar {
  padding-top: 6em;
  padding-bottom: 2em; }
  @media screen and (min-width: 667px) {
    .navbar {
      display: inline-block;
      padding-top: 0;
      padding-bottom: 0; } }
  .navbar .menu .item {
    display: block;
    position: relative; }
    @media screen and (min-width: 667px) {
      .navbar .menu .item {
        display: inline-block; } }
    .navbar .menu .item .link {
      display: block;
      color: #FAFAFA;
      text-decoration: none;
      line-height: 75px;
      padding: 0 20px;
      font-weight: 800;
      font-family: 'Exo 2', Arial, Helvetica, Verdana, sans-serif; }
      @media screen and (min-width: 667px) {
        .navbar .menu .item .link {
          padding: 0 25px;
          text-align: center;
          font-size: 1.375rem; } }
      .navbar .menu .item .link:hover {
        color: #888888;
        background-color: #111111; }
        @media screen and (min-width: 667px) {
          .navbar .menu .item .link:hover {
            background-color: transparent; } }
      .navbar .menu .item .link.active {
        color: #B4DA55;
        background-color: #111111;
        cursor: default; }
        @media screen and (min-width: 667px) {
          .navbar .menu .item .link.active {
            background-color: transparent; } }
    .navbar .menu .item:after {
      content: '';
      position: absolute;
      background-color: #888888;
      height: 1px;
      width: calc(100% - 40px);
      left: 20px;
      bottom: 0; }
      @media screen and (min-width: 667px) {
        .navbar .menu .item:after {
          height: 25px;
          width: 2px;
          right: -2px;
          bottom: 22px;
          left: auto; } }
    .navbar .menu .item:last-of-type:after {
      background-color: transparent; }
    .navbar .menu .item .nav-text {
      text-align: left;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
      text-transform: uppercase;
      -webkit-mask: url("../img/wallpaper.png") top left;
      -moz-mask: url("../img/wallpaper.png") top left;
      mask: url("../img/wallpaper.png") top left; }

.site-footer {
  position: relative;
  display: table;
  background-color: #111111;
  width: 100%;
  height: 42px; }
  .site-footer .footer-container {
    padding-bottom: 0;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: table;
    height: 100%;
    z-index: 1; }
  .site-footer .footer-content {
    z-index: 1;
    display: table-cell;
    vertical-align: middle;
    width: 100%; }
  .site-footer .copyright {
    font-size: 0.875rem;
    line-height: 2;
    margin: 20px auto 0;
    vertical-align: middle;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #FAFAFA; }
    @media screen and (min-width: 667px) {
      .site-footer .copyright {
        margin: 0 auto;
        line-height: 42px;
        display: inline-block;
        text-align: left; } }
    .site-footer .copyright:before {
      content: ''; }

/* -- Social ---------------------------------------------------------------- */
ul.social-thumbs {
  margin: 0 auto 20px;
  display: block;
  text-align: center; }
  @media screen and (min-width: 667px) {
    ul.social-thumbs {
      margin: 0 auto;
      display: inline-block;
      float: right; } }
  ul.social-thumbs li {
    margin: 0 10px 0;
    display: inline-block; }
    ul.social-thumbs li:last-of-type {
      margin: 0; }
    ul.social-thumbs li a.genericon {
      line-height: 42px;
      height: 42px;
      width: 42px;
      font-size: 1.375rem;
      background-color: transparent;
      color: #FAFAFA; }
      ul.social-thumbs li a.genericon:hover {
        color: #FAFAFA; }
      ul.social-thumbs li a.genericon.facebook:hover {
        border-color: #3B5998;
        color: #3B5998; }
      ul.social-thumbs li a.genericon.twitter:hover {
        border-color: #00ACED;
        color: #00ACED; }
      ul.social-thumbs li a.genericon.google-plus:hover {
        border-color: #D73D32;
        color: #D73D32; }
      ul.social-thumbs li a.genericon.linkedin:hover {
        border-color: #007BB6;
        color: #007BB6; }
      ul.social-thumbs li a.genericon.flickr:hover {
        border-color: #FF0084;
        color: #FF0084; }
      ul.social-thumbs li a.genericon.pinterest:hover {
        border-color: #cb2027;
        color: #cb2027; }
      ul.social-thumbs li a.genericon.fivehundred {
        font-size: 1.75rem; }
        ul.social-thumbs li a.genericon.fivehundred:hover {
          border-color: #b9c1c7;
          color: #b9c1c7; }
      ul.social-thumbs li a.genericon.rss:hover {
        background-color: #FF6600; }
      ul.social-thumbs li a.genericon.wordpress {
        font-size: 4.75rem;
        border: none; }
        ul.social-thumbs li a.genericon.wordpress:hover {
          background-color: #222222;
          color: #DDDDDD; }

.seperator-section {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  z-index: 1;
  background-color: #FAFAFA; }
  @media screen and (min-width: 667px) {
    .seperator-section {
      height: 350px; } }
  .seperator-section.picture {
    background-image: url("../img/bg-md-v2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
    @media screen and (min-width: 667px) {
      .seperator-section.picture {
        background-image: url("../img/bg-lg-v2.jpg"); } }
    .seperator-section.picture:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../img/grid.png");
      z-index: 1; }
    .seperator-section.picture:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(17, 17, 17, 0.4);
      z-index: 0; }
    .seperator-section.picture .container {
      color: #FAFAFA; }
      .seperator-section.picture .container blockquote cite {
        color: #FAFAFA; }
  .seperator-section .container {
    z-index: 1;
    display: table;
    height: 100%;
    text-align: center;
    color: #888888;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    width: 100%; }
    .seperator-section .container blockquote {
      display: table-cell;
      vertical-align: middle;
      font-size: 1.5rem;
      border-left: none;
      font-weight: 800;
      text-align: center; }
      @media screen and (min-width: 667px) {
        .seperator-section .container blockquote {
          font-size: 2.25rem; } }
      .seperator-section .container blockquote cite {
        font-size: 0.875rem;
        line-height: 1.2;
        font-family: 'Open Sans', Arial, Helvetica, Verdana, sans-serif;
        font-weight: 300; }
        @media screen and (min-width: 667px) {
          .seperator-section .container blockquote cite {
            font-size: 1rem; } }
        .seperator-section .container blockquote cite:after {
          content: "\2014 \2009"; }
      .seperator-section .container blockquote span {
        display: block; }

.loading-container {
  margin: 0 auto;
  padding: 4rem 0;
  display: none;
  height: 100%;
  width: 100%;
  min-height: 720px; }

.waiting .loading-container {
  display: table; }
.waiting .main-content {
  display: none; }

.loading-ring {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center; }
  .loading-ring .light {
    width: 35px;
    height: 35px;
    background-color: #B4DA55;
    border-radius: 50%;
    display: inline-block;
    -webkit-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    -moz-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite; }
  .loading-ring .text {
    display: block;
    text-align: center;
    margin-top: 1.875rem;
    color: #888888;
    width: 100%;
    font-size: 0.875rem; }

@-webkit-keyframes motion {
  0% {
    -webkit-transform: translateX(0) scale(1); }
  25% {
    -webkit-transform: translateX(-100px) scale(0.3); }
  50% {
    -webkit-transform: translateX(0) scale(1); }
  75% {
    -webkit-transform: translateX(100px) scale(0.3); }
  100% {
    -webkit-transform: translateX(0) scale(1); } }
@-moz-keyframes motion {
  0% {
    -moz-transform: translateX(0) scale(1); }
  25% {
    -moz-transform: translateX(-100px) scale(0.3); }
  50% {
    -moz-transform: translateX(0) scale(1); }
  75% {
    -moz-transform: translateX(100px) scale(0.3); }
  100% {
    -moz-transform: translateX(0) scale(1); } }
@keyframes motion {
  0% {
    -webkit-transform: translateX(0) scale(1);
    -moz-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    -o-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1); }
  25% {
    -webkit-transform: translateX(-100px) scale(0.3);
    -moz-transform: translateX(-100px) scale(0.3);
    -ms-transform: translateX(-100px) scale(0.3);
    -o-transform: translateX(-100px) scale(0.3);
    transform: translateX(-100px) scale(0.3); }
  50% {
    -webkit-transform: translateX(0) scale(1);
    -moz-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    -o-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1); }
  75% {
    -webkit-transform: translateX(100px) scale(0.3);
    -moz-transform: translateX(100px) scale(0.3);
    -ms-transform: translateX(100px) scale(0.3);
    -o-transform: translateX(100px) scale(0.3);
    transform: translateX(100px) scale(0.3); }
  100% {
    -webkit-transform: translateX(0) scale(1);
    -moz-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    -o-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1); } }
.items {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  max-width: 1280px;
  margin: 0 auto; }
  .items .item {
    color: #222222;
    height: 240px;
    background-color: #F2F2F2;
    margin: 0;
    border-bottom: solid 10px #FFFFFF;
    vertical-align: middle;
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%; }
    @media screen and (min-width: 667px) {
      .items .item {
        -webkit-flex-basis: 50%;
        -moz-flex-basis: 50%;
        flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        border-right: solid 10px #FFFFFF; }
        .items .item:nth-child(3n) {
          border-right: none; }
        .items .item:nth-child(9n) {
          border-bottom: none; } }
    @media screen and (min-width: 1008px) {
      .items .item {
        -webkit-flex-basis: 33.3%;
        -moz-flex-basis: 33.3%;
        flex-basis: 33.3%;
        -ms-flex-preferred-size: 33.3%; }
        .items .item:nth-child(7n), .items .item:nth-child(8n) {
          border-bottom: none; } }
    .items .item .item-link {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      position: relative; }
      .items .item .item-link:hover {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); }
        .items .item .item-link:hover .overlay {
          opacity: 1; }
      .items .item .item-link .content {
        display: table;
        width: 100%;
        height: 100%; }

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.6);
  display: table;
  opacity: 0;
  position: absolute;
  text-align: center;
  color: #FAFAFA;
  top: 0;
  left: 0; }
  .overlay .overlay-content {
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 20px;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.4;
    text-align: center; }
    .overlay .overlay-content .overlay-title {
      font-size: 1.375rem; }
    .overlay .overlay-content .overlay-subtitle {
      font-size: 0.875rem;
      text-transform: uppercase; }
    .overlay .overlay-content .genericon {
      margin-top: 0.625rem;
      color: #FAFAFA;
      font-size: 2rem;
      border: solid 4px #FAFAFA;
      border-radius: 50%;
      height: 82px;
      width: 82px;
      line-height: 74px; }

.home {
  display: table;
  border-bottom: solid 1px #222222;
  position: relative;
  z-index: 0;
  min-height: 100vh;
  height: 100vh; }
  .home .home-container {
    display: table-cell;
    vertical-align: middle;
    width: calc(100% - 40px);
    max-width: 1280px;
    position: fixed;
    top: 25%; }
    @media screen and (min-width: 667px) {
      .home .home-container {
        width: calc(100% - 80px);
        top: 40%; } }
    .home .home-container .info-box {
      text-align: center;
      text-shadow: 1px 1px 0 #111111; }
      .home .home-container .info-box h1 {
        font-weight: 800;
        padding: 0;
        font-size: 5.25rem; }
        @media screen and (min-width: 667px) {
          .home .home-container .info-box h1 {
            font-size: 7.8125rem; } }
      .home .home-container .info-box p {
        font-weight: 200;
        font-size: 1.125rem;
        margin-top: 20px;
        line-height: 1.4; }
        @media screen and (min-width: 667px) {
          .home .home-container .info-box p {
            font-size: 1.375rem; } }

.about .devices {
  text-align: center;
  padding: 0; }
  .about .devices .genericon {
    background-color: transparent;
    color: #888888;
    border-radius: 50%;
    border: solid 4px #888888;
    font-size: 2rem;
    margin: 2.5rem 0.3125rem;
    cursor: default; }
    @media screen and (min-width: 667px) {
      .about .devices .genericon {
        line-height: 85px;
        height: 92px;
        width: 92px;
        font-size: 3rem;
        margin: 2.5rem 1.5625rem; } }

.work .item-link .image {
  background-image: url("../img/blank.png");
  background-color: #FAFAFA;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .work .item-link .image.web {
    background-position: center top; }
    .work .item-link .image.web:before {
      content: ""; }
  .work .item-link .image.camera:before {
    content: ""; }

.blog .item-link {
  padding: 20px;
  color: #222222; }
  .blog .item-link .article-content {
    display: table-cell;
    vertical-align: middle; }
  .blog .item-link .article-header {
    position: absolute;
    top: 20px;
    color: #888888; }
  .blog .item-link .article-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #B4DA55; }
  .blog .item-link .entry-title {
    font-size: 1.875rem;
    text-align: left; }
  .blog .item-link .entry-time:before {
    font-family: 'Genericons';
    display: inline-block;
    padding: 0 10px 0 0; }
  .blog .item-link .entry-comments:before {
    font-family: 'Genericons';
    display: inline-block;
    padding: 0 10px 0 0; }

#error .site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  height: 75px; }
#error .error {
  background-image: url("../img/bg-error-md.jpg");
  background-position: top center;
  height: 100vh;
  border-top: 0;
  border-bottom: 0;
  display: table; }
  @media screen and (min-width: 667px) {
    #error .error {
      background-image: url("../img/bg-error-lg.jpg"); } }
  #error .error .home-container {
    position: relative;
    top: 0;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle; }
    #error .error .home-container .info-box {
      text-align: center; }
      #error .error .home-container .info-box h1 {
        font-weight: 800;
        font-size: 2.625rem; }
      #error .error .home-container .info-box p {
        font-weight: 200;
        font-size: 1.125rem;
        margin-top: 20px;
        line-height: 1.4; }
#error .page {
  background-color: transparent;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 100vh; }

/*# sourceMappingURL=style.css.map */
