html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  position: relative; }

.container,
.row,
.column {
  box-sizing: border-box;
  position: relative;
  content: ''; }
  .container::before, .container::after,
  .row::before,
  .row::after,
  .column::before,
  .column::after {
    display: table;
    content: '';
    line-height: 0; }
    .container::before::after, .container::after::after,
    .row::before::after,
    .row::after::after,
    .column::before::after,
    .column::after::after {
      clear: both;
      content: "";
      display: block; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  max-width: 1280px;
  padding-left: 10px;
  padding-right: 10px; }
  .container::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (min-width: 48rem) {
    .container {
      padding-right: 1.25rem;
      padding-left: 1.25rem; } }

.row {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.column {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-basis: calc(100%);
  -moz-flex-basis: calc(100%);
  flex-basis: calc(100%);
  -ms-flex-preferred-size: calc(100%);
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  position: relative;
  min-height: 0.0625rem;
  padding-left: 0;
  padding-right: 0; }
  @media screen and (min-width: 48rem) {
    .column {
      padding-right: 1.25rem;
      padding-left: 1.25rem; } }
  @media screen and (min-width: 48rem) {
    .column--1-col {
      -webkit-flex-basis: calc(8.33333%);
      -moz-flex-basis: calc(8.33333%);
      flex-basis: calc(8.33333%);
      -ms-flex-preferred-size: calc(8.33333%); }
    .column--2-col {
      -webkit-flex-basis: calc(16.66667%);
      -moz-flex-basis: calc(16.66667%);
      flex-basis: calc(16.66667%);
      -ms-flex-preferred-size: calc(16.66667%); }
    .column--3-col {
      -webkit-flex-basis: calc(25%);
      -moz-flex-basis: calc(25%);
      flex-basis: calc(25%);
      -ms-flex-preferred-size: calc(25%); }
    .column--4-col {
      -webkit-flex-basis: calc(33.33333%);
      -moz-flex-basis: calc(33.33333%);
      flex-basis: calc(33.33333%);
      -ms-flex-preferred-size: calc(33.33333%); }
    .column--5-col {
      -webkit-flex-basis: calc(41.66667%);
      -moz-flex-basis: calc(41.66667%);
      flex-basis: calc(41.66667%);
      -ms-flex-preferred-size: calc(41.66667%); }
    .column--6-col {
      -webkit-flex-basis: calc(50%);
      -moz-flex-basis: calc(50%);
      flex-basis: calc(50%);
      -ms-flex-preferred-size: calc(50%); }
    .column--7-col {
      -webkit-flex-basis: calc(58.33333%);
      -moz-flex-basis: calc(58.33333%);
      flex-basis: calc(58.33333%);
      -ms-flex-preferred-size: calc(58.33333%); }
    .column--8-col {
      -webkit-flex-basis: calc(66.66667%);
      -moz-flex-basis: calc(66.66667%);
      flex-basis: calc(66.66667%);
      -ms-flex-preferred-size: calc(66.66667%); }
    .column--9-col {
      -webkit-flex-basis: calc(75%);
      -moz-flex-basis: calc(75%);
      flex-basis: calc(75%);
      -ms-flex-preferred-size: calc(75%); }
    .column--10-col {
      -webkit-flex-basis: calc(83.33333%);
      -moz-flex-basis: calc(83.33333%);
      flex-basis: calc(83.33333%);
      -ms-flex-preferred-size: calc(83.33333%); }
    .column--11-col {
      -webkit-flex-basis: calc(91.66667%);
      -moz-flex-basis: calc(91.66667%);
      flex-basis: calc(91.66667%);
      -ms-flex-preferred-size: calc(91.66667%); }
    .column--12-col {
      -webkit-flex-basis: calc(100%);
      -moz-flex-basis: calc(100%);
      flex-basis: calc(100%);
      -ms-flex-preferred-size: calc(100%); }
    .column--1-offset {
      margin-left: calc(8.33333%); }
    .column--2-offset {
      margin-left: calc(16.66667%); }
    .column--3-offset {
      margin-left: calc(25%); }
    .column--4-offset {
      margin-left: calc(33.33333%); }
    .column--5-offset {
      margin-left: calc(41.66667%); }
    .column--6-offset {
      margin-left: calc(50%); }
    .column--7-offset {
      margin-left: calc(58.33333%); }
    .column--8-offset {
      margin-left: calc(66.66667%); }
    .column--9-offset {
      margin-left: calc(75%); }
    .column--10-offset {
      margin-left: calc(83.33333%); }
    .column--11-offset {
      margin-left: calc(91.66667%); } }
  .column:first-of-type {
    padding-left: 0; }
  .column:last-of-type {
    padding-right: 0; }
  .column--flex-wrap {
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto; }
  .column.no-gutters {
    padding-left: 0;
    padding-right: 0; }
  .column--order-1 {
    order: 1; }
  .column--order-2 {
    order: 2; }
  .column--order-3 {
    order: 3; }
  .column--order-4 {
    order: 4; }
  .column--order-5 {
    order: 5; }
  .column--order-6 {
    order: 6; }
  .column--order-7 {
    order: 7; }
  .column--order-8 {
    order: 8; }
  .column--order-9 {
    order: 9; }
  .column--order-10 {
    order: 10; }
  .column--order-11 {
    order: 11; }
  .column--order-12 {
    order: 12; }
  .column--xs-1-col {
    -webkit-flex-basis: calc(25%);
    -moz-flex-basis: calc(25%);
    flex-basis: calc(25%);
    -ms-flex-preferred-size: calc(25%); }
  .column--xs-2-col {
    -webkit-flex-basis: calc(50%);
    -moz-flex-basis: calc(50%);
    flex-basis: calc(50%);
    -ms-flex-preferred-size: calc(50%); }
  .column--xs-3-col {
    -webkit-flex-basis: calc(75%);
    -moz-flex-basis: calc(75%);
    flex-basis: calc(75%);
    -ms-flex-preferred-size: calc(75%); }
  .column--xs-4-col {
    -webkit-flex-basis: calc(100%);
    -moz-flex-basis: calc(100%);
    flex-basis: calc(100%);
    -ms-flex-preferred-size: calc(100%); }

@font-face {
  font-family: "Genericons";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.svg#Genericons") format("svg"); }
.genericon {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  height: 3.875rem;
  width: 3.875rem;
  line-height: 3.375rem;
  font-family: 'Genericons';
  vertical-align: middle;
  cursor: pointer;
  font-weight: 300;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.clock:before {
  content: '\e8b5'; }

.arrow--left:before {
  content: '\e5c4'; }
.arrow--right:before {
  content: '\e5c8'; }
.arrow--down:before {
  content: '\e5db'; }
.arrow--up:before {
  content: '\e5d8'; }

.camera:before {
  content: '\e412'; }

.close:before {
  content: '\e5cd'; }

.tick:before {
  content: '\e876'; }

.chevron--down:before {
  content: '\e313'; }
.chevron--left:before {
  content: '\e314'; }
.chevron--right:before {
  content: '\e315'; }
.chevron--up:before {
  content: '\e316'; }

.mouse:before {
  content: '\e323'; }

.person:before {
  content: '\e7fd'; }

.web:before {
  content: '\e80b'; }

.emoji--unhappy:before {
  content: '\e811'; }
.emoji--neutral:before {
  content: '\e812'; }
.emoji--happy:before {
  content: '\e813'; }
.emoji--very_unhappy:before {
  content: '\e814'; }
.emoji--very_satisfied:before {
  content: '\e815'; }

.notes:before {
  content: '\e8cd'; }

.mail:before {
  content: '\f003'; }

.house:before {
  content: '\f015'; }

.thumbs--up:before {
  content: '\f087'; }
.thumbs--down:before {
  content: '\f088'; }

.social--twitter:before {
  content: '\f099'; }
.social--facebook:before {
  content: '\f09a'; }
.social--google-plus:before {
  content: '\f0d5'; }
.social--google:before {
  content: '\f1a0'; }
.social--linkedin:before {
  content: '\f0e1'; }
.social--instagram:before {
  content: '\f16d'; }
.social--fivehundred:before {
  content: '\f26e'; }
.social--rss:before {
  content: '\ea9b'; }
.social--youtube:before {
  content: '\ea9d'; }
.social--flickr:before {
  content: '\eaa4'; }
.social--dribbble:before {
  content: '\eaa7'; }
.social--github:before {
  content: '\eab0'; }
.social--wordpress:before {
  content: '\eab4'; }
.social--pinterest:before {
  content: '\ead2'; }

.os--apple:before {
  content: '\f179'; }
.os--android:before {
  content: '\f17b'; }
.os .windows:before {
  content: '\eac1'; }
.os .windows8:before {
  content: '\eac2'; }

.browser .chrome:before {
  content: '\f268'; }
.browser .firefox:before {
  content: '\f269'; }
.browser .internet-explorer:before {
  content: '\f26b'; }
.browser--edge:before {
  content: '\f282'; }
.browser .opera:before {
  content: '\eade'; }

.commenting:before {
  content: '\f27b'; }

.pencil:before {
  content: '\e906'; }

.tags:before {
  content: '\e936'; }

.tv:before {
  content: '\e95b'; }

.search:before {
  content: '\e986'; }

.eye--plus:before {
  content: '\e9cf'; }
.eye--minus:before {
  content: '\e9d0'; }

.star--empty:before {
  content: '\e9d7'; }
.star--half:before {
  content: '\e9d8'; }
.star--full:before {
  content: '\e9d9'; }

.html-five:before {
  content: '\eae5'; }

html,
body {
  font-size: 100%; }

::selection {
  background: #c03c03;
  color: #fafafa; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga";
  font-feature-settings: "liga";
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  color: #888b8d;
  background-color: #ffffff;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  border: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: block;
  vertical-align: middle; }

figure {
  margin: 0;
  padding: 0; }
  figure figcaption {
    color: #fafafa;
    padding: 1.25rem;
    background-color: rgba(77, 77, 77, 0.6); }

.site-wrapper {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
  position: relative; }

.page {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  z-index: 1;
  padding-top: 5.9375rem;
  padding-bottom: 4.6875rem; }
  .page.active .parallax {
    opacity: 1; }
  .page .parallax {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0; }
  .page--no-padding {
    padding-top: 0;
    padding-bottom: 0; }

.burgerMenu {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  top: 0.9375rem;
  right: 1.25rem;
  z-index: 4;
  background-color: transparent;
  outline: 0;
  margin: 0;
  padding: 0;
  height: 2.625rem;
  width: 2.625rem;
  transform: rotate(0);
  transform-origin: center center;
  -webkit-tap-highlight-color: rgba(77, 77, 77, 0);
  border: 0;
  cursor: pointer; }
  @media screen and (min-width: 48rem) {
    .burgerMenu {
      display: none; } }
  .burgerMenu__lines {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: block;
    border-radius: 0.625rem;
    width: 2.625rem;
    height: 0.25rem;
    position: absolute;
    z-index: -1;
    transform: rotate(0);
    background-color: #ffffff;
    right: 0;
    content: '';
    cursor: pointer; }
    .burgerMenu__lines:before, .burgerMenu__lines:after {
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease;
      display: block;
      border-radius: 0.625rem;
      width: 2.625rem;
      height: 0.25rem;
      position: absolute;
      z-index: -1;
      transform: rotate(0);
      background-color: #ffffff;
      right: 0;
      content: ''; }
    .burgerMenu__lines:before {
      top: -0.75rem; }
    .burgerMenu__lines:after {
      bottom: -0.75rem; }
    .burgerMenu__lines:focus, .burgerMenu__lines:hover {
      background-color: #ffffff; }
      .burgerMenu__lines:focus:before, .burgerMenu__lines:focus:after, .burgerMenu__lines:hover:before, .burgerMenu__lines:hover:after {
        background-color: #ffffff; }

.menuActive {
  overflow: hidden; }
  .menuActive .burgerMenu__lines {
    background-color: transparent; }
    .menuActive .burgerMenu__lines:before, .menuActive .burgerMenu__lines:after {
      background-color: #ffffff;
      transform-origin: 50% 50%;
      top: 0;
      width: 3rem; }
    .menuActive .burgerMenu__lines:before {
      transform: rotate3d(0, 0, 1, 45deg); }
    .menuActive .burgerMenu__lines:after {
      transform: rotate3d(0, 0, 1, -45deg); }
  .menuActive .site-header {
    background-color: #2b3133;
    box-shadow: 0 2px 4px 0 rgba(77, 77, 77, 0.4);
    height: 23.875rem; }
    .menuActive .site-header--scrolled .burgerMenu__lines:before, .menuActive .site-header--scrolled .burgerMenu__lines:after {
      background-color: #ffffff; }
  .menuActive .blocker {
    opacity: 1;
    z-index: 4; }
  .menuActive .btn__scroll--up.show {
    opacity: 0; }

.blocker {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
  background-color: rgba(77, 77, 77, 0.4);
  opacity: 0;
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.animate {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  .animate--fade-in {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
    animation: fadein 3.4s; }

.align--center {
  display: table;
  height: 100%;
  vertical-align: middle; }

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0 0 0.9375rem;
  color: #545454;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  text-align: center; }
  h1 em,
  h2 em,
  h3 em,
  h4 em {
    color: #c03c03;
    font-style: normal; }

h1 {
  font-size: 8.125rem;
  font-weight: 800; }

h2 {
  font-size: 3rem;
  line-height: 3.625rem;
  font-weight: 800; }

h3 {
  font-size: 2.25rem;
  line-height: 2.875rem; }

h4 {
  font-size: 1.375rem; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  display: inline; }

a {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  color: #c03c03;
  text-decoration: underline; }
  a:hover {
    color: #888b8d;
    text-decoration: none; }

p {
  margin: 0 0 0.9375rem;
  font-size: 1.125rem;
  line-height: 1.8; }

blockquote {
  font-size: 1.125rem;
  line-height: 1.2;
  border-left: 4px solid #c03c03;
  padding: 0 0 0 1.25rem;
  margin: 0.9375rem 0 1.5625rem;
  font-weight: 900;
  line-height: 1.4; }
  blockquote cite {
    display: block;
    font-size: 0.75rem;
    font-style: normal;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1;
    margin-top: 1.25rem;
    color: #888b8d; }

.font-effect-wallpaper {
  -webkit-mask: url("../img/wallpaper.png") top left;
  -moz-mask: url("../img/wallpaper.png") top left;
  mask: url("../img/wallpaper.png") top left; }

.text--center {
  text-align: center; }
.text--small {
  margin-top: 1.25rem;
  color: #888b8d;
  font-size: 0.875rem; }

.site-header {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
  width: 100%;
  height: 4.6875rem;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  overflow: hidden; }
  .site-header__content {
    max-width: 100%; }
    @media screen and (min-width: 48rem) {
      .site-header__content {
        padding-left: 1.25rem;
        padding-right: 1.25rem; } }
  .site-header__logo {
    height: 4.6875rem;
    width: 4.6875rem;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 4; }
    .site-header__logo:before {
      content: '';
      display: block;
      background-image: url("../img/logo114x114.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 4.6875rem;
      height: 4.6875rem;
      -webkit-mask: url("../img/wallpaper.png") top left;
      -moz-mask: url("../img/wallpaper.png") top left;
      mask: url("../img/wallpaper.png") top left; }
    .site-header__logo:hover {
      background-color: #c03c03; }
      .site-header__logo:hover .site-header__logo__dot {
        background-color: #2b3133; }
    .site-header__logo .srt {
      display: none; }
    .site-header__logo__dot {
      -webkit-transition: background-color 0.4s ease;
      -moz-transition: background-color 0.4s ease;
      transition: background-color 0.4s ease;
      display: block;
      position: absolute;
      background-color: #c03c03;
      height: 0.75rem;
      width: 0.75rem;
      right: 0.5rem;
      bottom: 0.5rem;
      border-radius: 50%; }
  .site-header--scrolled {
    background-color: #2b3133;
    box-shadow: 0 2px 4px 0 rgba(77, 77, 77, 0.4); }

.nav {
  width: 100%; }
  @media screen and (min-width: 48rem) {
    .nav {
      display: inline-block;
      float: right;
      width: auto; } }
  .nav__menu {
    text-align: center;
    width: 100%; }
    @media screen and (min-width: 48rem) {
      .nav__menu {
        list-style: none;
        overflow: hidden;
        text-align: right;
        float: right; } }
    .nav__menu__item {
      display: block;
      position: relative;
      margin-left: 0;
      border-bottom: solid 1px #888b8d; }
      .nav__menu__item:first-of-type {
        border-top: solid 1px #888b8d; }
      .nav__menu__item:last-of-type {
        border-bottom: none; }
      @media screen and (min-width: 48rem) {
        .nav__menu__item {
          display: inline-block;
          margin-left: 2.1875rem;
          border-bottom: 0; } }
    .nav__menu__link {
      display: block;
      color: #ffffff;
      text-decoration: none;
      line-height: 4.6875rem;
      font-weight: 900;
      position: relative;
      text-align: center;
      font-size: 1.375rem; }
      .nav__menu__link:hover {
        color: #ffffff;
        background-color: #4d4d4d; }
        @media screen and (min-width: 48rem) {
          .nav__menu__link:hover {
            color: #888b8d;
            background-color: transparent; } }
      .nav__menu__link--active {
        color: #c03c03;
        background-color: #4d4d4d;
        cursor: default; }
        @media screen and (min-width: 48rem) {
          .nav__menu__link--active {
            color: #c03c03;
            background-color: transparent; } }
        .nav__menu__link--active:hover {
          color: #c03c03; }
    .nav__menu__text {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
      text-transform: uppercase; }

.site-footer {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
  width: 100%;
  background-color: #2b3133; }
  .site-footer__content {
    z-index: 1;
    vertical-align: middle;
    max-width: 100%; }
  .site-footer__copyright {
    font-size: 0.875rem;
    line-height: 2;
    margin: 1.25rem auto 0.625rem;
    vertical-align: middle;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff; }
    @media screen and (min-width: 62rem) {
      .site-footer__copyright {
        margin: 0 auto;
        line-height: 2.625rem;
        display: inline-block;
        text-align: left; } }
    .site-footer__copyright:before {
      content: ''; }

.seperator-section {
  position: relative;
  margin: 0 auto;
  height: 18.75rem;
  z-index: 1;
  background-color: #ffffff; }
  .seperator-section.picture {
    background-image: url("../img/bg-md-v4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
    @media screen and (min-width: 48rem) {
      .seperator-section.picture {
        background-image: url("../img/bg-lg-v4.jpg"); } }
  .seperator-section .container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    z-index: 1;
    height: 100%;
    position: relative;
    width: 100%; }
    .seperator-section .container blockquote {
      vertical-align: middle;
      font-size: 1.625rem;
      border-left: 0;
      text-align: center;
      display: inline-block;
      text-align: left;
      color: #ffffff;
      margin: 0;
      padding: 0; }
      @media screen and (min-width: 48rem) {
        .seperator-section .container blockquote {
          font-size: 2.25rem;
          line-height: 2.875rem;
          text-align: left; } }
      .seperator-section .container blockquote cite {
        font-size: 1rem;
        line-height: 1.2;
        font-weight: 300;
        color: #ffffff;
        margin-top: 0.9375rem; }

.line {
  display: block;
  font-weight: 900; }
  .line__content {
    display: inline-block;
    text-align: left;
    background-color: rgba(192, 60, 3, 0.45);
    padding: 0.375rem;
    margin-bottom: 0.0625rem; }

.loading__container {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  margin: 0 auto;
  padding: 4rem 0;
  display: none;
  height: 100%;
  width: 100%;
  min-height: 26.25rem; }
.loading__ring {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center; }
  .loading__ring__light {
    -webkit-animation: motion 3s ease infinite;
    -moz-animation: motion 3s ease infinite;
    animation: motion 3s ease infinite;
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #c03c03;
    border-radius: 0.25rem;
    display: inline-block; }
  .loading__ring__text {
    display: block;
    text-align: center;
    margin-top: 1.875rem;
    color: #888b8d;
    width: 100%;
    font-size: 1.125rem; }
.loading__content {
  min-height: 32.5rem; }

.waiting .loading__container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
.waiting .loading__content {
  display: none; }

@-webkit-keyframes motion {
  0% {
    -webkit-transform: translateX(0) scale(1); }
  25% {
    -webkit-transform: translateX(-100px) scale(0.3); }
  50% {
    -webkit-transform: translateX(0) scale(1); }
  75% {
    -webkit-transform: translateX(100px) scale(0.3); }
  100% {
    -webkit-transform: translateX(0) scale(1); } }
@-moz-keyframes motion {
  0% {
    -moz-transform: translateX(0) scale(1); }
  25% {
    -moz-transform: translateX(-100px) scale(0.3); }
  50% {
    -moz-transform: translateX(0) scale(1); }
  75% {
    -moz-transform: translateX(100px) scale(0.3); }
  100% {
    -moz-transform: translateX(0) scale(1); } }
@keyframes motion {
  0% {
    -webkit-transform: translateX(0) scale(1);
    -moz-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    -o-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1); }
  25% {
    -webkit-transform: translateX(-100px) scale(0.3);
    -moz-transform: translateX(-100px) scale(0.3);
    -ms-transform: translateX(-100px) scale(0.3);
    -o-transform: translateX(-100px) scale(0.3);
    transform: translateX(-100px) scale(0.3); }
  50% {
    -webkit-transform: translateX(0) scale(1);
    -moz-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    -o-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1); }
  75% {
    -webkit-transform: translateX(100px) scale(0.3);
    -moz-transform: translateX(100px) scale(0.3);
    -ms-transform: translateX(100px) scale(0.3);
    -o-transform: translateX(100px) scale(0.3);
    transform: translateX(100px) scale(0.3); }
  100% {
    -webkit-transform: translateX(0) scale(1);
    -moz-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    -o-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1); } }
.grid__item {
  background-color: #f3f3f3;
  margin-bottom: 1.25rem;
  vertical-align: middle;
  display: block;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(77, 77, 77, 0.4); }
  @media screen and (min-width: 48rem) {
    .grid__item {
      -webkit-flex-basis: 48%;
      -moz-flex-basis: 48%;
      flex-basis: 48%;
      -ms-flex-preferred-size: 48%;
      margin-right: 1.25rem; }
      .grid__item:nth-child(2n) {
        margin-right: 0; }
      .grid__item:last-of-type {
        margin-right: 0; } }
  @media screen and (min-width: 62rem) {
    .grid__item {
      -webkit-flex-basis: 32%;
      -moz-flex-basis: 32%;
      flex-basis: 32%;
      -ms-flex-preferred-size: 32%; }
      .grid__item:nth-child(2n) {
        margin-right: 1.25rem; }
      .grid__item:nth-child(3n) {
        margin-right: 0; } }
  .grid__item--link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: relative;
    color: #888b8d; }
    .grid__item--link:hover {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
      .grid__item--link:hover .overlay {
        opacity: 1; }
  .grid__item--image {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    background-image: url("../img/blank.png");
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 16.25rem;
    width: 100%; }
    .grid__item--image.web {
      background-position: center top; }
      .grid__item--image.web::before {
        content: ''; }
    .grid__item--image.camera::before {
      content: ''; }
  .grid__item:nth-child(odd) {
    background-color: #fafafa; }

.overlay {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 77, 77, 0.6);
  opacity: 0;
  position: absolute;
  text-align: center;
  color: #fafafa;
  top: 0;
  left: 0; }
  .overlay__content {
    color: #fafafa;
    text-transform: uppercase;
    padding: 1.25rem;
    width: 100%;
    vertical-align: middle;
    line-height: 1.4;
    text-align: center; }
    .overlay__content--title {
      font-size: 1.5rem;
      font-weight: 900;
      color: #fafafa; }
  .overlay .genericon {
    color: #fafafa;
    font-size: 2.625rem;
    border: solid 4px #fafafa;
    border-radius: 50%;
    height: 5.125rem;
    width: 5.125rem;
    line-height: 4.625rem; }

.info-box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  margin: 0 auto;
  text-align: left;
  height: 100vh; }
  @media screen and (min-width: 62rem) {
    .info-box {
      max-width: 50.625rem; } }
  .info-box__content {
    vertical-align: middle; }
  .info-box__title {
    font-size: 2rem;
    text-align: left;
    color: #ffffff; }
    @media screen and (min-width: 48rem) {
      .info-box__title {
        font-size: 3.875rem; } }
    .info-box__title--large {
      font-size: 2.625rem; }
      @media screen and (min-width: 48rem) {
        .info-box__title--large {
          font-size: 5.125rem; } }
  .info-box__line {
    display: block;
    font-weight: 900; }
    .info-box__line__content {
      display: inline-block;
      text-align: left;
      background-color: rgba(192, 60, 3, 0.45);
      padding: 0.375rem;
      margin-bottom: 0.0625rem; }
  .info-box__link {
    color: #fafafa; }
    .info-box__link:hover {
      color: #2b3133;
      text-decoration: none; }
  .info-box__sub-title {
    font-size: 1.125rem;
    background-color: rgba(192, 60, 3, 0.45);
    padding: 0.375rem;
    display: inline-block;
    color: #ffffff; }

.btn {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #545454;
  border: solid 2px #545454; }
  .btn:hover {
    background-color: #c03c03;
    border-color: #c03c03;
    color: #ffffff;
    outline: none; }
  .btn--default {
    display: inline-block;
    margin: 1.25rem 0.9375rem 0;
    border-radius: 25px;
    padding: 0 0.3125rem 0 1.25rem;
    font-size: 1.125rem;
    line-height: 2.625rem;
    text-align: left;
    margin: 1.25rem 0.9375rem 0;
    font-weight: 900; }
    .btn--default .genericon {
      height: 2.625rem;
      width: 2.625rem;
      line-height: 2.625rem;
      float: right;
      margin-left: 0.3125rem; }
  .btn--social {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 2.625rem;
    line-height: 2.625rem;
    width: 2.625rem;
    height: 2.625rem;
    margin: 0 0.625rem;
    text-decoration: none; }
    .btn--social .genericon {
      font-size: 1.375rem;
      line-height: 2.25rem;
      width: 2.625rem;
      height: 2.625rem; }
  .btn--flickr:hover {
    background-color: #ff0084;
    border-color: #ff0084; }
  .btn--fivehundred:hover {
    background-color: #0099e5;
    border-color: #0099e5; }
  .btn__scroll {
    display: block;
    cursor: pointer;
    text-align: center;
    background-color: #f3f3f3;
    color: #888b8d;
    font-size: 2.625rem;
    line-height: 2.625rem;
    width: 2.625rem;
    height: 2.625rem;
    margin: 0 auto;
    text-decoration: none; }
    .btn__scroll--up {
      opacity: 0;
      position: fixed;
      z-index: 1;
      line-height: 2.25rem;
      bottom: 1.25rem;
      right: 1.25rem;
      z-index: 5;
      color: #ffffff;
      background-color: #2b3133; }
      @media screen and (min-width: 48rem) {
        .btn__scroll--up {
          bottom: 2.625rem;
          right: 1.25rem; } }
    .btn__scroll--down {
      position: absolute;
      background-color: rgba(192, 60, 3, 0.4);
      color: #ffffff;
      bottom: 3.75rem;
      left: 50%;
      margin-left: -1.3125rem; }
    .btn__scroll.show {
      opacity: 1; }

.social {
  margin: 0 auto 1.25rem;
  display: block;
  text-align: center; }
  @media screen and (min-width: 62rem) {
    .social {
      margin: 0 auto;
      display: inline-block;
      text-align: right;
      float: right; } }
  .social--alt {
    margin: 0 auto;
    position: relative;
    text-align: left;
    float: none; }
    @media screen and (min-width: 62rem) {
      .social--alt {
        margin: 0 0 0 10px;
        float: none;
        position: absolute; } }
  .social__item {
    margin: 0 0.625rem 0 0;
    display: inline-block; }
    .social__item:last-of-type {
      margin: 0; }
  .social .genericon {
    line-height: 2.625rem;
    height: 2.625rem;
    width: 2.625rem;
    font-size: 1.375rem;
    background-color: transparent;
    color: #ffffff; }
    .social .genericon--alt {
      line-height: 2.75rem;
      height: 2.75rem;
      width: 2.75rem;
      background-color: rgba(192, 60, 3, 0.45); }
    .social .genericon:hover {
      color: #ffffff; }
    .social .genericon.social--facebook:hover {
      background-color: #3b5998; }
    .social .genericon.social--twitter:hover {
      background-color: #00aced; }
    .social .genericon.social--google-plus:hover {
      background-color: #d73d32; }
    .social .genericon.social--linkedin:hover {
      background-color: #007bb6; }
    .social .genericon.social--flickr:hover {
      background-color: #ff0084; }
    .social .genericon.social--pinterest:hover {
      background-color: #cb2027; }
    .social .genericon.social--fivehundred {
      font-size: 1.75rem; }
      .social .genericon.social--fivehundred:hover {
        background-color: #0099e5; }
    .social .genericon.social--rss:hover {
      background-color: #ff6600; }
    .social .genericon.social--wordpress {
      font-size: 1.75rem; }
      .social .genericon.social--wordpress:hover {
        background-color: #21759b; }

.blog .grid__item__content {
  padding: 1.25rem;
  display: table-cell;
  vertical-align: middle; }
.blog .article-header {
  color: #888b8d; }
.blog .article-footer {
  color: #c03c03;
  position: absolute;
  bottom: 0.625rem;
  width: calc(100% - 40px); }
  .blog .article-footer .content {
    padding: 0;
    float: right; }
  .blog .article-footer .genericon {
    line-height: 2.625rem;
    height: 2.625rem;
    width: 2.625rem; }
.blog .entry-title {
  font-size: 1.5rem;
  color: #888b8d; }
.blog .entry-excerpt {
  font-size: 0.875rem;
  margin-bottom: 0.625rem; }
.blog .entry-time {
  display: block;
  margin-bottom: 0.9375rem;
  font-size: 1rem; }
  .blog .entry-time::before {
    font-family: 'Genericons';
    display: inline-block;
    padding-right: 0.625rem;
    font-size: 0.875rem; }
.blog .entry-comments::before {
  font-family: 'Genericons';
  display: inline-block;
  padding: 0 0.625rem 0 0; }

.error-page .site-header {
  background-color: transparent; }
.error-page .site-footer {
  position: absolute;
  bottom: 0; }
.error-page .error {
  background-image: url("../img/bg-error-md.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0; }
  @media screen and (min-width: 48rem) {
    .error-page .error {
      background-image: url("../img/bg-error-lg.jpg"); } }
  .error-page .error::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/grid.png");
    z-index: 1; }
  .error-page .error::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(77, 77, 77, 0.45);
    z-index: 0; }
  .error-page .error .container {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 100%;
    z-index: 1; }
.error-page .page {
  padding-top: 0;
  padding-bottom: 0; }

/*# sourceMappingURL=style.css.map */
