* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* -- Grid Settings -------------------------------------------- */
/* Preserve some sanity */
.wrapper {
  margin: 0 auto;
  width: 100%; }

.container,
.row,
.column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  content: "";
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .container:before,
  .row:before,
  .column:before {
    display: table;
    content: ""; }
    .container:before:after,
    .row:before:after,
    .column:before:after {
      content: "";
      display: table;
      clear: both; }
  .container:after,
  .row:after,
  .column:after {
    clear: both;
    display: table;
    content: "";
    line-height: 0; }

.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 1250px;
  padding-left: 25px;
  padding-right: 25px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.row {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.column {
  position: relative;
  min-height: 1px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  .column:first-child {
    padding-left: 0;
    padding-right: 0; }
    @media screen and (min-width: 768px) {
      .column:first-child {
        padding-left: 0;
        padding-right: 25px; } }
  .column:last-child {
    padding-right: 0;
    padding-left: 0; }
    @media screen and (min-width: 768px) {
      .column:last-child {
        padding-left: 25px;
        padding-right: 0; } }
  .column.pull-left {
    padding-left: 0;
    padding-right: 0; }
    @media screen and (min-width: 768px) {
      .column.pull-left {
        padding-left: 0;
        padding-right: 25px; } }
  .column.pull-right {
    padding-right: 0;
    padding-left: 0; }
    @media screen and (min-width: 768px) {
      .column.pull-right {
        padding-left: 25px;
        padding-right: 0; } }
  .column .column:first-child {
    padding-left: 0; }
  .column .column:last-child {
    padding-right: 0; }

.whole,
.half,
.one-third,
.two-thirds,
.one-quarter,
.three-quarters,
.one-fifth,
.two-fifths,
.three-fifths,
.four-fifths,
.golden-small,
.golden-large {
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  flex-basis: 100%;
  -ms-flex-preferred-size: 100%; }

/* Utility classes */
.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-justify {
  text-align: justify; }

/* Let people nuke the gutters/padding completely in a couple of ways */
.no-gutters {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.hide-on-mobiles {
  display: none !important; }

/* -- Small screen ------------------------------------------------ */
@media screen and (min-width: 768px) {
  .whole {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%; }

  .half {
    -webkit-flex-basis: 50%;
    -moz-flex-basis: 50%;
    flex-basis: 50%;
    -ms-flex-preferred-size: 50%; }

  .one-third {
    -webkit-flex-basis: 33.3%;
    -moz-flex-basis: 33.3%;
    flex-basis: 33.3%;
    -ms-flex-preferred-size: 33.3%; }

  .two-thirds {
    -webkit-flex-basis: 66.6%;
    -moz-flex-basis: 66.6%;
    flex-basis: 66.6%;
    -ms-flex-preferred-size: 66.6%; }

  .three-quarters {
    -webkit-flex-basis: 75%;
    -moz-flex-basis: 75%;
    flex-basis: 75%;
    -ms-flex-preferred-size: 75%; }

  .one-quarter {
    -webkit-flex-basis: 25%;
    -moz-flex-basis: 25%;
    flex-basis: 25%;
    -ms-flex-preferred-size: 25%; }

  .one-fifth {
    -webkit-flex-basis: 2;
    -moz-flex-basis: 2;
    flex-basis: 2;
    -ms-flex-preferred-size: 2; }

  .two-fifths {
    -webkit-flex-basis: 4;
    -moz-flex-basis: 4;
    flex-basis: 4;
    -ms-flex-preferred-size: 4; }

  .three-fifths {
    -webkit-flex-basis: 6;
    -moz-flex-basis: 6;
    flex-basis: 6;
    -ms-flex-preferred-size: 6; }

  .four-fifths {
    -webkit-flex-basis: 8;
    -moz-flex-basis: 8;
    flex-basis: 8;
    -ms-flex-preferred-size: 8; }

  .golden-small {
    -webkit-flex-basis: 28.01019%;
    -moz-flex-basis: 28.01019%;
    flex-basis: 28.01019%;
    -ms-flex-preferred-size: 28.01019%; }

  .golden-large {
    -webkit-flex-basis: 69.14722%;
    -moz-flex-basis: 69.14722%;
    flex-basis: 69.14722%;
    -ms-flex-preferred-size: 69.14722%; }

  .pull-right {
    float: right; }

  .hide-on-mobiles {
    display: inherit !important; } }
@font-face {
  font-family: "Genericons";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#Genericons") format("svg"); }
.genericon {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  height: 62px;
  width: 62px;
  line-height: 52px;
  font-family: 'Genericons';
  vertical-align: middle;
  cursor: pointer;
  font-weight: 300;
  -mozsx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  speak: none; }

.fivehundred:before {
  content: "\e600"; }

.search:before {
  content: "\f002"; }

.envelope:before {
  content: "\f003"; }

.user:before {
  content: "\f007"; }

.tags:before {
  content: "\f02c"; }

.camera:before {
  content: "\f030"; }

.twitter:before {
  content: "\f099"; }

.facebook:before {
  content: "\f09a"; }

.github:before {
  content: "\f09b"; }

.comments:before {
  content: "\f0e6"; }

.desktop:before {
  content: "\f108"; }

.laptop:before {
  content: "\f109"; }

.tablet:before {
  content: "\f10a"; }

.mobile:before {
  content: "\f10b"; }

.info:before {
  content: "\f129"; }

.long-arrow.down:before {
  content: "\f175"; }
.long-arrow.up:before {
  content: "\f176"; }
.long-arrow.left:before {
  content: "\f177"; }
.long-arrow.right:before {
  content: "\f178"; }

.apple:before {
  content: "\f179"; }

.windows:before {
  content: "\f17a"; }

.android:before {
  content: "\f17b"; }

.linux:before {
  content: "\f17c"; }

.dribbble:before {
  content: "\f17d"; }

.skype:before {
  content: "\f17e"; }

.newspaper:before {
  content: "\f1ea"; }

.copyright:before {
  content: "\f1f9"; }

.paint-brush:before {
  content: "\f1fc"; }

.icon-home:before {
  content: "\e900"; }

.pencil:before {
  content: "\e905"; }

.profile:before {
  content: "\e923"; }

.clock:before {
  content: "\e94e"; }

.eye-plus:before {
  content: "\e9cf"; }

.eye-minus:before {
  content: "\e9d0"; }

.happy:before {
  content: "\e9df"; }

.smile:before {
  content: "\e9e1"; }

.tongue:before {
  content: "\e9e3"; }

.sad:before {
  content: "\e9e5"; }

.wink:before {
  content: "\e9e7"; }

.grin:before {
  content: "\e9e9"; }

.cool:before {
  content: "\e9eb"; }

.angry:before {
  content: "\e9ed"; }

.evil:before {
  content: "\e9ef"; }

.shocked:before {
  content: "\e9f1"; }

.baffled:before {
  content: "\e9f3"; }

.confused:before {
  content: "\e9f5"; }

.neutral:before {
  content: "\e9f7"; }

.hipster:before {
  content: "\e9f9"; }

.wondering:before {
  content: "\e9fb"; }

.sleepy:before {
  content: "\e9fd"; }

.frustrated:before {
  content: "\e9ff"; }

.crying:before {
  content: "\ea01"; }

.plus:before {
  content: "\ea0a"; }

.minus:before {
  content: "\ea0b"; }

.cross:before {
  content: "\ea0f"; }

.checkmark:before {
  content: "\ea10"; }

.enter:before {
  content: "\ea13"; }

.exit:before {
  content: "\ea14"; }

.play:before {
  content: "\ea1c"; }

.google-plus:before {
  content: "\ea88"; }

.feed:before {
  content: "\ea94"; }

.flickr:before {
  content: "\eaa1"; }

.steam:before {
  content: "\eaae"; }

.wordpress:before {
  content: "\eab6"; }

.linkedin:before {
  content: "\eac9"; }

.pinterest:before {
  content: "\ead0"; }

.html5:before {
  content: "\eadf"; }

.chrome:before {
  content: "\eae5"; }

.firefox:before {
  content: "\eae6"; }

.IE:before {
  content: "\eae7"; }

.opera:before {
  content: "\eae8"; }

.safari:before {
  content: "\eae9"; }

html,
body {
  font-size: 100%; }

::selection {
  background: #B4D455;
  color: #FAFAFA; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Exo 2', Arial, Helvetica, Verdana, sans-serif;
  font-weight: 300;
  color: #222222;
  background-color: #FAFAFA;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga";
  font-feature-settings: "liga";
  text-align: justify;
  overflow-x: hidden; }

h1,
h2,
h3,
h4 {
  padding: 0;
  padding: 0;
  margin: 0;
  font-family: 'Exo 2', Arial, Helvetica, Verdana, sans-serif;
  font-weight: 200; }

h1 {
  font-size: 8.125rem; }

h2 {
  font-size: 3.75rem;
  margin-bottom: 0.9375rem; }

h3 {
  font-size: 1.875rem; }

h4 {
  font-size: 1.375rem; }

h1 em,
h2 em,
h3 em,
h4 em {
  color: #B4D455;
  font-style: normal; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  display: inline; }

a {
  -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  -moz-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  color: #B4D455;
  text-decoration: underline; }
  a:hover {
    color: #888888;
    text-decoration: none; }

p {
  margin: 0 0 15px 0;
  font-size: 1.125rem;
  line-height: 1.8; }

img {
  max-width: 100%;
  border: 0;
  margin: 0 auto;
  height: auto;
  display: block;
  vertical-align: middle; }

figure {
  margin: 0;
  padding: 0; }
  figure figcaption {
    color: #FAFAFA;
    padding: 25px;
    background-color: rgba(17, 17, 17, 0.6); }

blockquote {
  font-size: 1.125rem;
  line-height: 1.2;
  font-family: 'Exo 2', Georgia, 'Times New Roman', sans-serif;
  border-left: 4px solid #B4D455;
  padding: 0 0 0 20px;
  margin: 15px 0 25px;
  font-weight: 200;
  line-height: 1.4; }
  blockquote cite {
    display: block;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    margin-top: 25px;
    color: #888888; }
    blockquote cite:before {
      content: "\2014 \2009"; }

.animate {
  -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  -moz-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
  transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }

.font-effect-wallpaper {
  -webkit-mask: url("../img/wallpaper.png") top left;
  -moz-mask: url("../img/wallpaper.png") top left;
  mask: url("../img/wallpaper.png") top left; }

.small-text {
  margin-top: 25px;
  color: #888888;
  font-size: 0.875rem; }

/*----------------------------------------------------------------------------------------------*/
.site-header {
  width: 100%;
  height: 75px;
  position: fixed;
  background-color: #222222;
  z-index: 4;
  top: 0;
  left: 0; }
  @media screen and (min-width: 768px) {
    .site-header {
      width: 95px;
      height: 100vh; } }
  .site-header .logo {
    background-color: #B4D455;
    background-image: url("../img/logo114x114.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75px;
    width: 75px;
    text-indent: -9999px;
    display: block;
    text-align: center; }
    .site-header .logo:hover {
      background-color: #F2F2F2; }
    @media screen and (min-width: 768px) {
      .site-header .logo {
        width: 95px;
        height: 95px;
        position: fixed;
        bottom: 25px;
        left: 0; } }

/* ----------------------------------------------------------------------------------------------*/
.site-footer {
  position: relative;
  display: table;
  background-color: #111111;
  width: 100%;
  height: 350px;
  z-index: 3; }
  @media screen and (min-width: 768px) {
    .site-footer {
      padding-left: 95px; } }
  .site-footer .footer-container {
    padding-bottom: 0;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: table;
    height: 100%;
    z-index: 1; }
  .site-footer .footer-content {
    z-index: 1;
    display: table-cell;
    vertical-align: middle;
    width: 100%; }
  .site-footer .copyright {
    font-size: 0.875rem;
    line-height: 2;
    margin: 0;
    vertical-align: middle;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #FAFAFA;
    padding: 0 0 1rem 0; }
    .site-footer .copyright:before {
      content: ''; }

/*----------------------------------------------------------------------------------------------*/
.page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: table;
  background-color: #FAFAFA;
  box-sizing: border-box;
  z-index: 3;
  padding-top: 110px;
  padding-bottom: 110px; }
  @media screen and (min-width: 768px) {
    .page {
      padding-left: 95px; } }

/* -- Sidebar ---------------------------------------------------------------------------- */
.sidebar {
  top: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  position: fixed;
  background-color: #111111;
  display: table;
  z-index: 1; }
  .sidebar ul.menu {
    display: table-cell;
    vertical-align: middle;
    margin-top: 0; }
    .sidebar ul.menu li {
      display: block;
      border-top: solid 1px #222222; }
      .sidebar ul.menu li:first-of-type {
        border-top: none; }
      .sidebar ul.menu li .nav-link {
        color: #FAFAFA;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2.25rem;
        padding: 0 1.5625rem; }
        .sidebar ul.menu li .nav-link:hover {
          color: #B4D455;
          background-color: #222222; }
        .sidebar ul.menu li .nav-link.active {
          cursor: default;
          color: #B4D455; }
        .sidebar ul.menu li .nav-link .srt {
          font-family: 'Exo 2', Arial, Helvetica, Verdana, sans-serif;
          display: block;
          font-size: 1.375rem;
          line-height: 90px; }
    @media screen and (min-width: 768px) {
      .sidebar ul.menu {
        margin-top: 95px; } }
  @media screen and (min-width: 768px) {
    .sidebar {
      left: -300px;
      width: 300px;
      border-left: solid 1px #222222; } }

.navbar {
  display: block;
  position: fixed;
  top: 0;
  right: 0; }
  @media screen and (min-width: 768px) {
    .navbar {
      right: inherit;
      left: 0; } }

.toggle-sidebars {
  display: flex;
  margin: 0; }
  .toggle-sidebars li {
    display: inline-block; }
  .toggle-sidebars .toggle-nav,
  .toggle-sidebars .toggle-back {
    display: block; }
    .toggle-sidebars .toggle-nav:hover,
    .toggle-sidebars .toggle-back:hover {
      background-color: #B4D455; }
      .toggle-sidebars .toggle-nav:hover .toggle-nav-bar,
      .toggle-sidebars .toggle-back:hover .toggle-nav-bar {
        background-color: #222222; }
        .toggle-sidebars .toggle-nav:hover .toggle-nav-bar:before, .toggle-sidebars .toggle-nav:hover .toggle-nav-bar:after,
        .toggle-sidebars .toggle-back:hover .toggle-nav-bar:before,
        .toggle-sidebars .toggle-back:hover .toggle-nav-bar:after {
          background-color: #222222; }
      .toggle-sidebars .toggle-nav:hover .back-arrow,
      .toggle-sidebars .toggle-back:hover .back-arrow {
        color: #222222; }
    .toggle-sidebars .toggle-nav .srt,
    .toggle-sidebars .toggle-back .srt {
      display: none; }
    .toggle-sidebars .toggle-nav .burger-container,
    .toggle-sidebars .toggle-back .burger-container {
      display: inline-block;
      position: relative;
      margin: 0;
      padding: 0;
      width: 75px;
      height: 72px;
      font-size: 0;
      text-indent: -9999px; }
      .toggle-sidebars .toggle-nav .burger-container:focus,
      .toggle-sidebars .toggle-back .burger-container:focus {
        outline: none; }
      @media screen and (min-width: 768px) {
        .toggle-sidebars .toggle-nav .burger-container,
        .toggle-sidebars .toggle-back .burger-container {
          height: 95px;
          width: 95px; } }
    .toggle-sidebars .toggle-nav .toggle-nav-bar,
    .toggle-sidebars .toggle-back .toggle-nav-bar {
      display: block;
      position: absolute;
      left: 15px;
      right: 15px;
      top: 50%;
      height: 6px;
      background-color: #FAFAFA; }
      @media screen and (min-width: 768px) {
        .toggle-sidebars .toggle-nav .toggle-nav-bar,
        .toggle-sidebars .toggle-back .toggle-nav-bar {
          left: 24px;
          right: 24px; } }
      .toggle-sidebars .toggle-nav .toggle-nav-bar:before, .toggle-sidebars .toggle-nav .toggle-nav-bar:after,
      .toggle-sidebars .toggle-back .toggle-nav-bar:before,
      .toggle-sidebars .toggle-back .toggle-nav-bar:after {
        position: absolute;
        content: '';
        display: block;
        background-color: #FAFAFA;
        height: 6px;
        width: 100%;
        -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
        -moz-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
        transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }
      .toggle-sidebars .toggle-nav .toggle-nav-bar:before,
      .toggle-sidebars .toggle-back .toggle-nav-bar:before {
        top: -12px; }
      .toggle-sidebars .toggle-nav .toggle-nav-bar:after,
      .toggle-sidebars .toggle-back .toggle-nav-bar:after {
        top: 12px; }
    .toggle-sidebars .toggle-nav .back-arrow,
    .toggle-sidebars .toggle-back .back-arrow {
      display: block;
      color: #FAFAFA;
      line-height: 95px;
      font-size: 42px;
      font-family: 'Genericons';
      text-indent: 0;
      text-align: center; }

.blocker {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  margin-top: 75px; }
  @media screen and (min-width: 768px) {
    .blocker {
      margin-top: 0; } }

.is-sidebar-expanded .toggle-sidebars .toggle-nav .toggle-nav-bar {
  transform: rotate(45deg); }
  .is-sidebar-expanded .toggle-sidebars .toggle-nav .toggle-nav-bar:before, .is-sidebar-expanded .toggle-sidebars .toggle-nav .toggle-nav-bar:after {
    top: 0;
    transform: rotate(-90deg); }
.is-sidebar-expanded .sidebar,
.is-sidebar-expanded .blocker {
  -webkit-transform: translate(260px);
  -moz-transform: translate(260px);
  -ms-transform: translate(260px);
  -o-transform: translate(260px);
  transform: translate(260px); }
  @media screen and (min-width: 768px) {
    .is-sidebar-expanded .sidebar,
    .is-sidebar-expanded .blocker {
      -webkit-transform: translateX(395px);
      -moz-transform: translateX(395px);
      -ms-transform: translateX(395px);
      -o-transform: translateX(395px);
      transform: translateX(395px); } }
.is-sidebar-expanded .wrapper,
.is-sidebar-expanded .home {
  -webkit-transform: translate(260px);
  -moz-transform: translate(260px);
  -ms-transform: translate(260px);
  -o-transform: translate(260px);
  transform: translate(260px); }
  @media screen and (min-width: 768px) {
    .is-sidebar-expanded .wrapper,
    .is-sidebar-expanded .home {
      -webkit-transform: translateX(300px);
      -moz-transform: translateX(300px);
      -ms-transform: translateX(300px);
      -o-transform: translateX(300px);
      transform: translateX(300px); } }
.is-sidebar-expanded .blocker {
  background: rgba(17, 17, 17, 0.6);
  z-index: 1600; }

.seperator-section {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  border-top: solid 4px #111111;
  border-bottom: solid 4px #111111;
  background-color: #F2F2F2;
  background-image: url("../img/bg-md.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1; }
  @media screen and (min-width: 768px) {
    .seperator-section {
      height: 350px;
      padding-left: 95px;
      background-image: url("../img/bg-lg.jpg"); } }
  .seperator-section:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(17, 17, 17, 0.4);
    z-index: 0; }
  .seperator-section:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/grid.png");
    z-index: 1; }
  .seperator-section .container {
    z-index: 1;
    display: table;
    height: 100%;
    text-align: center;
    color: #FAFAFA;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    width: 100%; }
    .seperator-section .container blockquote {
      display: table-cell;
      vertical-align: middle;
      font-size: 1.5rem;
      border-left: none;
      font-weight: 800;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .seperator-section .container blockquote {
          font-size: 2.25rem; } }
      .seperator-section .container blockquote cite {
        font-size: 0.875rem;
        line-height: 1.2;
        font-weight: 400;
        color: #FAFAFA; }
        @media screen and (min-width: 768px) {
          .seperator-section .container blockquote cite {
            font-size: 1rem; } }
        .seperator-section .container blockquote cite:after {
          content: "\2014 \2009"; }

/* -- Home ---------------------------------------------------------------- */
.home {
  display: table;
  border-bottom: solid 1px #111111;
  border-top: 0;
  position: relative;
  z-index: 1; }
  .home .home-container {
    display: table-cell;
    vertical-align: middle;
    z-index: 1;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .home .home-container {
        vertical-align: bottom; } }
    .home .home-container .info-box {
      position: fixed;
      bottom: 0;
      left: 0;
      margin-bottom: 5rem;
      margin-left: 0; }
      .home .home-container .info-box h1 {
        font-weight: 800;
        padding: 0;
        text-align: center;
        font-size: 5.25rem;
        line-height: 1; }
        @media screen and (min-width: 768px) {
          .home .home-container .info-box h1 {
            font-size: 7.8125rem;
            text-align: left; } }
      .home .home-container .info-box p {
        font-weight: 200;
        font-size: 1.125rem;
        text-align: center;
        margin-top: 25px;
        line-height: 1.4;
        clear: both; }
        @media screen and (min-width: 768px) {
          .home .home-container .info-box p {
            font-size: 1.375rem;
            text-align: left; } }
      .home .home-container .info-box.no-gutters {
        padding-right: 25px !important;
        padding-left: 25px !important; }
        @media screen and (min-width: 768px) {
          .home .home-container .info-box.no-gutters {
            padding-right: 0 !important;
            padding-left: 0 !important; } }
      @media screen and (min-width: 768px) {
        .home .home-container .info-box {
          left: inherit;
          margin-left: 25px; } }

/* -- About ---------------------------------------------------------------- */
.about .devices {
  text-align: center;
  padding: 0; }
  .about .devices .genericon {
    background-color: transparent;
    color: #888888;
    border-radius: 50%;
    border: solid 4px #888888;
    line-height: 3.875rem;
    font-size: 2.125rem;
    margin: 2.5rem 25px;
    cursor: default; }
    @media screen and (min-width: 768px) {
      .about .devices .genericon {
        font-size: 2.125rem;
        line-height: 82px;
        height: 82px;
        width: 82px;
        font-size: 2.5rem; } }
.about .skills-box {
  color: #111111;
  background-color: #F2F2F2;
  text-align: center;
  margin: 25px auto 0; }
  .about .skills-box ul {
    display: block;
    padding: 25px;
    -webkit-columns: 4 8em;
    -moz-columns: 4 8em;
    columns: 4 8em;
    -webkit-column-rule: 2px solid #FAFAFA;
    -moz-column-rule: 2px solid #FAFAFA;
    column-rule: 2px solid #FAFAFA; }
    .about .skills-box ul li {
      line-height: 2.625rem;
      border-bottom: 1px solid #FAFAFA; }
      @media screen and (min-width: 768px) {
        .about .skills-box ul li:nth-child(4n) {
          border-bottom: none; } }

/* -- Work ---------------------------------------------------------------- */
.work .item-link .image {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/blank.png");
  background-color: #FAFAFA;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }
.work .item-link:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .work .item-link:hover .overlay {
    opacity: 1; }

/* -- Blog ---------------------------------------------------------------- */
.blog .item-link {
  padding: 25px; }
  .blog .item-link .content {
    display: table;
    width: 100%; }
    .blog .item-link .content .entry-title {
      font-size: 1.875rem;
      text-align: left; }
    .blog .item-link .content .long-arrow {
      color: #B4D455;
      font-size: 1.625rem;
      vertical-align: text-bottom;
      text-align: center; }
    .blog .item-link .content .entry-time {
      color: #222222;
      margin-top: 25px;
      display: block; }
      .blog .item-link .content .entry-time:before {
        font-family: 'Genericons';
        display: inline-block;
        padding: 0 10px 0 0; }
  .blog .item-link:hover .content .entry-title {
    color: #222222; }
  .blog .item-link:hover .overlay {
    opacity: 1; }

/* -- Social ---------------------------------------------------------------- */
ul.social-thumbs {
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center; }
  ul.social-thumbs li {
    margin: 0 25px 25px 0;
    display: inline-block; }
    ul.social-thumbs li a.genericon {
      border: solid 4px #FAFAFA;
      border-radius: 50%;
      font-size: 1.375rem;
      background-color: transparent;
      color: #FAFAFA; }
      ul.social-thumbs li a.genericon:hover {
        background-color: rgba(17, 17, 17, 0.6);
        color: #FAFAFA; }
      ul.social-thumbs li a.genericon.facebook:hover {
        border-color: #3B5998;
        color: #3B5998; }
      ul.social-thumbs li a.genericon.twitter:hover {
        border-color: #00ACED;
        color: #00ACED; }
      ul.social-thumbs li a.genericon.google:hover {
        border-color: #D73D32;
        color: #D73D32; }
      ul.social-thumbs li a.genericon.linkedin:hover {
        border-color: #007BB6;
        color: #007BB6; }
      ul.social-thumbs li a.genericon.flickr:hover {
        border-color: #FF0084;
        color: #FF0084; }
      ul.social-thumbs li a.genericon.pinterest:hover {
        border-color: #cb2027;
        color: #cb2027; }
      ul.social-thumbs li a.genericon.fivehundred {
        font-size: 1rem; }
        ul.social-thumbs li a.genericon.fivehundred:hover {
          background-color: #222222;
          color: #FAFAFA; }
      ul.social-thumbs li a.genericon.rss:hover {
        background-color: #FF6600; }
      ul.social-thumbs li a.genericon.wordpress {
        font-size: 4.75rem;
        border: none; }
        ul.social-thumbs li a.genericon.wordpress:hover {
          background-color: #222222;
          color: #DDDDDD; }

/* -- Error ---------------------------------------------------------------- */
#error .site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; }
  #error .site-footer .copyright {
    padding: 0;
    line-height: 50px; }
#error .error {
  background-image: url("../img/bg-error-md.jpg");
  background-position: top center;
  height: 100vh;
  border-top: 0;
  border-bottom: 0; }
  @media screen and (min-width: 768px) {
    #error .error {
      background-image: url("../img/bg-error-lg.jpg"); } }
#error .page {
  background-color: transparent;
  padding-left: 0; }
#error .info-box {
  position: fixed;
  bottom: 5rem;
  left: 0;
  margin-bottom: 10rem;
  margin-left: 0; }
  #error .info-box h1 {
    font-weight: 800;
    padding: 0;
    text-align: center;
    font-size: 2.625rem;
    line-height: 1; }
    @media screen and (min-width: 768px) {
      #error .info-box h1 {
        font-size: 4rem;
        text-align: left; } }
  #error .info-box p {
    font-weight: 200;
    font-size: 1.125rem;
    text-align: center;
    margin-top: 25px;
    line-height: 1.4;
    clear: both; }
    @media screen and (min-width: 768px) {
      #error .info-box p {
        font-size: 1.375rem;
        text-align: left; } }
  #error .info-box.no-gutters {
    padding-right: 25px !important;
    padding-left: 25px !important; }
    @media screen and (min-width: 768px) {
      #error .info-box.no-gutters {
        padding-right: 0 !important;
        padding-left: 0 !important; } }
  @media screen and (min-width: 768px) {
    #error .info-box {
      left: inherit;
      margin-left: 25px; } }

/* Buttons */
.btn {
  display: inline-block;
  margin: 10px 0;
  padding: 0 20px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.875rem;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 2px solid #B4D455;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 25px;
  color: #FAFAFA;
  background-color: #B4D455;
  padding-left: 55px; }
  .btn:hover {
    background-color: #90a944;
    border-color: #6c7f33; }
  .btn:before {
    position: absolute;
    font-family: 'Genericons';
    font-style: normal;
    left: 15px;
    top: 5px;
    font-size: 1.375rem; }

.scroll {
  display: block;
  cursor: pointer;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 1;
  background: transparent;
  text-align: center;
  border: 0;
  outline: 0;
  z-index: 2;
  text-decoration: none;
  color: #F2F2F2; }
  @media screen and (min-width: 768px) {
    .scroll {
      left: 95px;
      width: calc(100% - 95px); } }
  .scroll.up {
    top: -4px; }
  .scroll.down {
    position: fixed;
    bottom: 0; }
  .scroll .long-arrow {
    display: inline-block;
    position: relative;
    font-size: 1.875rem;
    font-weight: 200;
    line-height: 1;
    height: initial; }
    .scroll .long-arrow.up {
      bottom: -8px; }
    .scroll .long-arrow.down {
      top: -8px; }
  .scroll:hover {
    background-color: rgba(250, 250, 250, 0.1); }
    .scroll:hover .long-arrow {
      color: #FAFAFA; }
      .scroll:hover .long-arrow.up {
        bottom: 18px; }
      .scroll:hover .long-arrow.down {
        top: 18px; }

/* -- Overlay -------------------------------------------------- */
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.6);
  display: table;
  opacity: 0;
  position: absolute;
  text-align: center;
  color: #FAFAFA;
  top: 0;
  left: 0; }
  .overlay .overlay-content {
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 25px;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.4;
    text-align: center; }
    .overlay .overlay-content .overlay-title {
      font-size: 1.375rem; }
    .overlay .overlay-content .long-arrow {
      margin-top: 0.625rem;
      color: #FAFAFA;
      font-size: 1.375rem;
      border: solid 4px #FAFAFA;
      border-radius: 50%; }

/*-- Grid List --------------------------------------------------------------- */
.main-content {
  background-color: #F2F2F2;
  min-height: 720px; }

.items {
  display: block;
  max-width: 1250px;
  margin: 0 auto; }
  .items .item {
    display: block;
    color: #222222;
    height: 240px;
    background-color: #F2F2F2;
    margin: 0 auto;
    border-bottom: solid 8px #FAFAFA;
    border-left: solid 8px #FAFAFA;
    border-right: solid 8px #FAFAFA;
    vertical-align: middle; }
    @media screen and (min-width: 768px) {
      .items .item {
        display: inline-block;
        width: 50%;
        border-right: none; }
        .items .item:nth-child(2n) {
          border-right: solid 8px #FAFAFA; }
        .items .item:nth-child(9n) {
          border-bottom: none; } }
    @media screen and (min-width: 996px) {
      .items .item {
        width: 33.3%; }
        .items .item:nth-child(2n) {
          border-right: none; }
        .items .item:nth-child(3n) {
          border-right: solid 8px #FAFAFA; }
        .items .item:nth-child(7n), .items .item:nth-child(8n) {
          border-bottom: none; } }
    .items .item .item-link {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      position: relative; }

/* -- Loading ---------------------------------------------------------------- */
.loading-container {
  margin: 0 auto;
  padding: 4rem 0;
  display: none;
  height: 100%;
  width: 100%;
  min-height: 720px; }

.waiting .loading-container {
  display: table; }
.waiting .main-content {
  display: none; }

.loading-ring {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center; }
  .loading-ring .light {
    width: 35px;
    height: 35px;
    background-color: #B4D455;
    border-radius: 50%;
    display: inline-block;
    -webkit-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    -moz-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite; }
  .loading-ring .text {
    display: block;
    text-align: center;
    margin-top: 1.875rem;
    color: #888888;
    width: 100%;
    font-size: 0.875rem; }

@-webkit-keyframes motion {
  0% {
    -webkit-transform: translateX(0) scale(1); }
  25% {
    -webkit-transform: translateX(-100px) scale(0.3); }
  50% {
    -webkit-transform: translateX(0) scale(1); }
  75% {
    -webkit-transform: translateX(100px) scale(0.3); }
  100% {
    -webkit-transform: translateX(0) scale(1); } }
@-moz-keyframes motion {
  0% {
    -moz-transform: translateX(0) scale(1); }
  25% {
    -moz-transform: translateX(-100px) scale(0.3); }
  50% {
    -moz-transform: translateX(0) scale(1); }
  75% {
    -moz-transform: translateX(100px) scale(0.3); }
  100% {
    -moz-transform: translateX(0) scale(1); } }
@keyframes motion {
  0% {
    -webkit-transform: translateX(0) scale(1);
    -moz-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    -o-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1); }
  25% {
    -webkit-transform: translateX(-100px) scale(0.3);
    -moz-transform: translateX(-100px) scale(0.3);
    -ms-transform: translateX(-100px) scale(0.3);
    -o-transform: translateX(-100px) scale(0.3);
    transform: translateX(-100px) scale(0.3); }
  50% {
    -webkit-transform: translateX(0) scale(1);
    -moz-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    -o-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1); }
  75% {
    -webkit-transform: translateX(100px) scale(0.3);
    -moz-transform: translateX(100px) scale(0.3);
    -ms-transform: translateX(100px) scale(0.3);
    -o-transform: translateX(100px) scale(0.3);
    transform: translateX(100px) scale(0.3); }
  100% {
    -webkit-transform: translateX(0) scale(1);
    -moz-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    -o-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1); } }

/*# sourceMappingURL=style.css.map */
