html,
body {
    font-size: 100%;
}

::selection {
    background: $site-color;
    color: $white-tint1;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    color: $black-tint1;
    background-color: $white-tint1;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include font-feature-settings('liga');
}

h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;

    &:before {
        display: block;
        content: ' ';
        line-height: 0;
    }

    &:after {
        display: block;
        content: ' ';
        line-height: 0;
    }
}

h1 {
    font-size: rem(130);

    em {
        color: $site-color;
        font-style: normal;
    }
}

h2 {
    font-size: rem(60);
    margin-bottom: rem(15);

    em {
        color: $site-color;
        font-style: normal;
    }
}

h3 {
    font-size: rem(30);

    em {
        color: $site-color;
        font-style: normal;
    }
}

h4 {
    font-size: rem(22);

    em {
        color: $site-color;
        font-style: normal;
    }
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
    display: inline;
}

a {
    @include transition(all .6s cubic-bezier(.7, .01, .3, 1));
    color: $site-color;
    text-decoration: underline;

    &:hover {
        color: $grey-tint1;
        text-decoration: none;
    }
}

p {
    margin: 0 0 15px;
    font-size: rem(18);
    line-height: 1.8;
}

img {
    border: 0;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}

figure {
    margin: 0;
    padding: 0;

    figcaption {
        color: $white-tint1;
        padding: $gutter;
        background-color: rgba($black, .6);
    }
}

blockquote {
    font-size: rem(18);
    line-height: 1.2;
    border-left: 4px solid $site-color;
    padding: 0 0 0 20px;
    margin: 15px 0 25px;
    font-weight: 900;
    line-height: 1.4;

    cite {
        display: block;
        font-size: rem(12);
        font-style: normal;
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        font-weight: 300;
        line-height: 1;
        margin-top: $gutter;
        color: $grey-tint1;

        &:before {
            content: '\2014 \2009';
        }
    }
}

.animate {
    @include transition(all .6s cubic-bezier(.7, .01, .3, 1));
}

.font-effect-wallpaper {
    // scss-lint:disable VendorPrefix
    -webkit-mask: url('../img/wallpaper.png') top left;
    -moz-mask: url('../img/wallpaper.png') top left;
    // scss-lint:enable VendorPrefix
    mask: url('../img/wallpaper.png') top left;
}

.small-text {
    margin-top: $gutter;
    color: $grey-tint1;
    font-size: rem(14);
}

.site-wrapper {
    position: relative;
    right: 0;
    transition: .3s right ease-in-out;

    @include media($tablet) {
        margin-bottom: 42px;
    }
}

.page {
    position: relative;
    width: 100%;
    display: table;
    background-color: $white;
    box-sizing: border-box;
    z-index: 1;
    padding-top: 85px;
}

.scroll {
    display: block;
    cursor: pointer;
    text-align: center;
    color: $grey-tint1;
    line-height: 42px;
    width: 42px;
    height: 42px;
    border: 0;
    margin: 0 auto;
    text-decoration: none;

    .chevron {
        font-size: rem(26);
        font-weight: 300;
        line-height: 42px;
        height: 42px;
        width: 42px;

        &:before {
            display: block;
            line-height: 42px;
            height: 42px;
            width: 42px;
        }
    }

    &:hover {
        color: $site-color;
    }

    &.up {
        opacity: 0;
        position: fixed;
        background-color: $black;
        color: $white;
        z-index: 5;
        bottom: 0;
        right: $gutter;

        @include media($tablet) {
            bottom: 42px;
            right: 40px;
        }
    }

    &.show {
        opacity: 1;
    }
}

.slideContent {
    transition: .3s right ease-in-out;
    position: fixed;
    z-index: 3;
    top: 0;
    right: -15rem;
    width: 15rem;
    height: 100%;
    background: $black-tint1;

    @include media($tablet) {
        position: relative;
        right: auto;
        height: $navbar-height;
        width: auto;
        display: inline-block;
        float: right;
        background-color: transparent;
    }
}

.burgerMenu {
    position: fixed;
    top: 0;
    right: $gutter;
    z-index: 4;
    border: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    display: block;
    padding: 10px;
    @include user-select (none);
    height: $navbar-height;
    width: 55px;
    padding: 0;
    transition: .3s right ease-in-out;

    @include media($tablet) {
        display: none;
    }
}

.lines {
    display: block;
    width: 100%;
    height: 6px;
    background-color: $white;
    border-radius: 4px;
    position: relative;

    &:before,
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 6px;
        background-color: $white;
        border-radius: 4px;
        transition: .3s;
        position: absolute;
        left: 0;
        transform-origin: -15px center;
    }

    &:before {
        top: -15px;
    }

    &:after {
        bottom: -15px;
    }

    &:hover {
        background-color: $site-color;

        &:before,
        &:after {
            background-color: $site-color;
        }
    }
}

.mainMenu {
    position: relative;
    padding-bottom: 2em;

    @include media($tablet) {
        padding-bottom: 0;
    }
}

.menuActive {
    .lines {
        background-color: transparent;

        &:before,
        &:after {
            transform-origin: 50% 50%;
            top: 0;
            width: 3rem;
        }

        &:before {
            transform: rotate3d(0, 0, 1, 45deg);
        }

        &:after {
            transform: rotate3d(0, 0, 1, -45deg);
        }
    }

    .slideContent {
        right: 0;
    }

    .burgerMenu,
    .site-header,
    .site-wrapper {
        right: 15rem;

        @include media($tablet) {
            right: 0;
        }
    }

    .blocker {
        opacity: 1;
        z-index: 4;
    }
}

.blocker {
    background-color: rgba($white-tint1, .6);
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
}
