@include font-face('Genericons', 'fonts/icomoon', normal, normal);

.genericon {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    height: 62px;
    width: 62px;
    line-height: 54px;
    font-family: 'Genericons';
    vertical-align: middle;
    cursor: pointer;
    font-weight: 300;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    speak: none;
}


.chevron
{
    &.down:before {
	       content: "\f0a3";
    }
    &.left:before {
    	content: "\f0a4";
    }
    &.right:before {
    	content: "\f078";
    }
    &.up:before {
    	content: "\f0a2";
    }
}
.house:before {
	content: "\e801";
}
.clock:before {
	content: "\e802";
}
.arrow {
    &.up:before {
    	content: "\e803";
    }
    &.right:before {
    	content: "\e806";
    }
    &.down:before {
    	content: "\e807";
    }
    &.left:before {
    	content: "\e80c";
    }
}
.google-plus:before {
	content: "\e808";
}
.facebook:before {
	content: "\e804";
}
.twitter:before {
	content: "\e809";
}
.rss-feed:before {
	content: "\e80a";
}
.flickr:before {
	content: "\e805";
}
.linkedin:before {
	content: "\e80b";
}
.fivehundred:before {
	content: "\e800";
}
.laptop:before {
	content: "\e001";
}
.desktop:before {
	content: "\e002";
}
.tablet:before {
	content: "\e003";
}
.phone:before {
	content: "\e004";
}
.newspaper:before {
	content: "\e009";
}
.camera:before {
	content: "\e012";
}
.envelope:before {
	content: "\e028";
}
.tools:before {
	content: "\e033";
}
.profile:before {
	content: "\e040";
}
.web:before {
	content: "\e052";
}
