@include font-face('Genericons', 'fonts/icomoon', normal, normal);

.genericon {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    height: 62px;
    width: 62px;
    line-height: 52px;
    font-family: 'Genericons';
    vertical-align: middle;
    cursor: pointer;
    font-weight: 300;
    -mozsx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    speak: none;
}


.fivehundred:before {
	content: "\e600";
}

.search:before {
	content: "\f002";
}

.envelope:before {
	content: "\f003";
}

.user:before {
	content: "\f007";
}

.tags:before {
	content: "\f02c";
}

.camera:before {
	content: "\f030";
}

.twitter:before {
	content: "\f099";
}

.facebook:before {
	content: "\f09a";
}

.github:before {
	content: "\f09b";
}

.comments:before {
	content: "\f0e6";
}

.desktop:before {
	content: "\f108";
}

.laptop:before {
	content: "\f109";
}

.tablet:before {
	content: "\f10a";
}

.mobile:before {
	content: "\f10b";
}

.info:before {
	content: "\f129";
}

.long-arrow {
    &.down:before {
        content: "\f175";
    }

    &.up:before {
        content: "\f176";
    }

    &.left:before {
        content: "\f177";
    }

    &.right:before {
        content: "\f178";
    }
}

.apple:before {
	content: "\f179";
}

.windows:before {
	content: "\f17a";
}

.android:before {
	content: "\f17b";
}

.linux:before {
	content: "\f17c";
}

.dribbble:before {
	content: "\f17d";
}

.skype:before {
	content: "\f17e";
}

.newspaper:before {
	content: "\f1ea";
}

.copyright:before {
	content: "\f1f9";
}

.paint-brush:before {
	content: "\f1fc";
}

.icon-home:before {
	content: "\e900";
}

.pencil:before {
	content: "\e905";
}

.profile:before {
	content: "\e923";
}

.clock:before {
	content: "\e94e";
}

.eye-plus:before {
	content: "\e9cf";
}

.eye-minus:before {
	content: "\e9d0";
}

.happy:before {
	content: "\e9df";
}

.smile:before {
	content: "\e9e1";
}

.tongue:before {
	content: "\e9e3";
}

.sad:before {
	content: "\e9e5";
}

.wink:before {
	content: "\e9e7";
}

.grin:before {
	content: "\e9e9";
}

.cool:before {
	content: "\e9eb";
}

.angry:before {
	content: "\e9ed";
}

.evil:before {
	content: "\e9ef";
}

.shocked:before {
	content: "\e9f1";
}

.baffled:before {
	content: "\e9f3";
}

.confused:before {
	content: "\e9f5";
}

.neutral:before {
	content: "\e9f7";
}

.hipster:before {
	content: "\e9f9";
}

.wondering:before {
	content: "\e9fb";
}

.sleepy:before {
	content: "\e9fd";
}

.frustrated:before {
	content: "\e9ff";
}

.crying:before {
	content: "\ea01";
}

.plus:before {
	content: "\ea0a";
}

.minus:before {
	content: "\ea0b";
}

.cross:before {
	content: "\ea0f";
}

.checkmark:before {
	content: "\ea10";
}

.enter:before {
	content: "\ea13";
}

.exit:before {
	content: "\ea14";
}

.play:before {
	content: "\ea1c";
}

.google-plus:before {
	content: "\ea88";
}

.feed:before {
	content: "\ea94";
}

.flickr:before {
	content: "\eaa1";
}

.steam:before {
	content: "\eaae";
}

.wordpress:before {
	content: "\eab6";
}

.linkedin:before {
	content: "\eac9";
}

.pinterest:before {
	content: "\ead0";
}

.html5:before {
	content: "\eadf";
}

.chrome:before {
	content: "\eae5";
}

.firefox:before {
	content: "\eae6";
}

.IE:before {
	content: "\eae7";
}

.opera:before {
	content: "\eae8";
}

.safari:before {
	content: "\eae9";
}