.grid-items {
    border-left: solid 10px $white;
    border-right: solid 10px $white;
}

.items {
    .item {
        color: $black-tint1;
        background-color: $grey;
        margin: 0;
        border-bottom: solid 10px $white;
        border-right: solid 10px $white;
        vertical-align: middle;

        @include media($tablet) {
            &:nth-child(3n) {
                border-right: 0;
            }
        }

        &-link {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            position: relative;

            &:hover {
                @include filter(grayscale(100%));

                .overlay {
                    opacity: 1;
                }
            }
        }
    }
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba($black, .6);
    display: table;
    opacity: 0;
    position: absolute;
    text-align: center;
    color: $white-tint1;
    top: 0;
    left: 0;

    &-content {
        color: $white-tint1;
        text-transform: uppercase;
        padding: $gutter;
        display: table-cell;
        vertical-align: middle;
        line-height: 1.4;
        text-align: center;
    }

    &-title {
        font-size: rem(24);
    }

    &-subtitle {
        font-size: rem(14);
        text-transform: uppercase;
    }

    .genericon {
        margin-top: rem(10);
        color: $white-tint1;
        font-size: rem(32);
        border: solid 4px $white-tint1;
        border-radius: 50%;
        height: 82px;
        width: 82px;
        line-height: 74px;
    }
}
