/* Preserve some sanity */
.wrapper {
    margin: 0 auto;
    width: 100%;
}

.container,
.row,
.column {
    @include box-sizing(border-box);
    position: relative;
    content: "";
    @include transition(all 0.4s ease);

    &:before {
        display: table;
        content: "";
        @include clearfix();
    }

    &:after {
        clear: both;
        display: table;
        content: "";
        line-height: 0;
    }
}

.container {
    @include outer-container;
    margin: 0 auto;
    width: 100%;
    max-width: $screen-lg;
    padding-left: $gutter;
    padding-right: $gutter;
}

.row {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
}

.column {
    position: relative;
    min-height: 1px;
    @include flex( 1 1 auto);

    &:first-child {
        padding-left: 0;
        padding-right: 0;

        @include media($tablet) {
            padding-left: 0;
            padding-right: $gutter;
        }
    }

    &:last-child {
        padding-right: 0;
        padding-left: 0;

        @include media($tablet) {
            padding-left: $gutter;
            padding-right: 0;
        }
    }

    &.pull-left {
        padding-left: 0;
        padding-right: 0;

        @include media($tablet) {
            padding-left: 0;
            padding-right: $gutter;
        }
    }

    &.pull-right {
        padding-right: 0;
        padding-left: 0;

        @include media($tablet) {
            padding-left: $gutter;
            padding-right: 0;
        }
    }

    .column {
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.whole,
.half,
.one-third,
.two-thirds,
.one-quarter,
.three-quarters,
.one-fifth,
.two-fifths,
.three-fifths,
.four-fifths,
.golden-small,
.golden-large { @include flex-basis(100%); }

/* Utility classes */
.align-center   { text-align: center; }
.align-left     { text-align: left; }
.align-right    { text-align: right; }
.align-justify  { text-align: justify; }

/* Let people nuke the gutters/padding completely in a couple of ways */
.no-gutters {
    padding-right: 0;
    padding-left: 0;
}

@include media($mobile) {
    .hide-on-mobiles { display: none !important; }
}

/* -- Small screen ------------------------------------------------ */
@include media($tablet) {
    .whole          { @include flex-basis(100%); }
    .half           { @include flex-basis(50%); }
    .one-third      { @include flex-basis(33.3%); }
    .two-thirds     { @include flex-basis(66.6%); }
    .three-quarters { @include flex-basis(75%); }
    .one-quarter    { @include flex-basis(25%); }
    .one-fifth      { @include flex-basis(2); }
    .two-fifths     { @include flex-basis(4); }
    .three-fifths   { @include flex-basis(6); }
    .four-fifths    { @include flex-basis(8); }

    .golden-small   { @include flex-basis(28.01019%); }
    .golden-large   { @include flex-basis(69.14722%); }

    .pull-right     { float: right; }
}
