@import "bourbon/bourbon";
@import "neat/neat";
@import 'variables';

// Prevent overflow on HTML element
html {
	overflow-y: scroll;
}

.has-overlay {
	overflow: hidden;

	> body {
		height: 100%;
		overflow-y: scroll;
	}
}

.modal {
    @include transform(translate(0, 100%));
	@include transform(translate3d(0, 100%, 0));
    @include transition (opacity 0.4s ease-in-out);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1050;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
    background-color: rgba($white-tint1, 0.9);

	&.is-active {
        @include transform(translate(0, 0));

		width: 100%;
		height: 100%;
        opacity: 1;
        display: table;
	}

	// Internet Explorer 8
	display: none\9;

	&.is-active {
		display: block\9;
		height: 100%\9;
		width: 100%\9;
	}


	// Overwrite IE8 hack for IE9 and IE10
	&.is-active {
		display: block\9;
	}


	// Content Area
	.modal-inner {
		overflow-x: hidden;
        display: table-cell; 
        vertical-align: middle;
        width: 100%;
        -webkit-overflow-scrolling: touch; // Native style momentum scrolling
        
		// This removes the scrollbar in lt IE9
		@media \0screen\,screen\9 {
			background: transparent;
		}
        
        .full-container {
            background-color: $white-tint1;
        }
        
        .modal-content {
            position: relative;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 1.5rem $gutter;
            margin: 0 auto;
            float: none;
            -webkit-overflow-scrolling: touch;
            min-height: 100%;
            text-align: left;
            outline: 0;
            
            h3 {
                margin-bottom: 5px;
            }
            
            // This removes the scrollbar in lt IE9
            @media \0screen\,screen\9 {
                overflow: visible;
            }
        }
    
        .picture-content {
            margin: 10px auto 0;
            float: none;
            padding: 0;
            -webkit-overflow-scrolling: touch;

            // This removes the scrollbar in lt IE9
            @media \0screen\,screen\9 {
                overflow: visible;
            }
        }
    }

	// A close button
	.modal-close {
        position: fixed;
        top: 0;
        right: 15px;
        width: 75px;
        height: 75px;
        cursor: pointer;
        font-family: 'Genericons';
        color: $grey-tint1;
        text-decoration: none;
        z-index: 1050;
        
        &:before {
            content: '\f406';
            font-size: 4rem;
        }
        
        &:hover {
            color: $black-tint2;
        }
	}
}