html,
body {
    font-size: 100%;
}

::selection {
    background: $site-color;
    color: $white-tint1;
}

*,
*:before,
*:after {
    @include box-sizing (border-box);
}

body {
    font-family: 'Exo 2', Arial, Helvetica, Verdana, sans-serif;
    font-weight: 300;
    color: $black-tint1;
    background-color: $white-tint1;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include font-feature-settings("liga");
    text-align: justify;
}

h1,
h2,
h3,
h4 {
    padding: 0;
    padding: 0;
    margin: 0;
    font-family: 'Exo 2', Arial, Helvetica, Verdana, sans-serif;
    font-weight: 200;

    &:before {
        display: table;
        content: ' ';
        line-height: 0;
    }

    &:after {
        display: table;
        content: ' ';
        line-height: 0;
    }
}

h1 {
    font-size: rem(130);
}

h2 {
    font-size: rem(60);
    margin-bottom: rem(15);
}

h3 {
    font-size: rem(30);
}

h4 {
    font-size: rem(22);
}

    h1 em,
    h2 em,
    h3 em,
    h4 em {
        color: $site-color;
        font-style: normal;
    }

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
    display: inline;
}

a {
    @include transition(all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1));
    color: $site-color;
    text-decoration: underline;

    &:hover {
        color: $grey-tint1;
        text-decoration: none;
    }
}

p {
    margin: 0 0 15px 0;
    font-size: rem(18);
    line-height: 1.8;
}

img {
    max-width: 100%;
    border: 0;
    margin: 0 auto;
    height: auto;
    display: block;
    vertical-align: middle;
}

figure {
    margin: 0;
    padding: 0;

    figcaption {
        color: $white-tint1;
        padding: $gutter;
        background-color: rgba($black, 0.6);
    }
}

blockquote {
    font-size: rem(18);
    line-height: 1.2;
    font-family: 'Exo 2', Georgia, 'Times New Roman', sans-serif;
    border-left: 4px solid $site-color;
    padding: 0 0 0 20px;
    margin: 15px 0 25px;
	font-weight: 200;
    line-height: 1.4;

    cite {
        display: block;
        font-size: rem(12);
        font-style: normal;
		font-weight: 300;
        line-height: 1;
        margin-top: $gutter;
        color: $grey-tint1;

        &:before {
            content: "\2014 \2009";
        }
    }
}

.animate {
    @include transition(all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1));
}

.font-effect-wallpaper {
    -webkit-mask: url('../img/wallpaper.png') top left;
    -moz-mask: url('../img/wallpaper.png') top left;
    mask: url('../img/wallpaper.png') top left;
}

.small-text {
    margin-top: $gutter;
    color: $grey-tint1;
    font-size: rem(14);
}

.site-wrapper {
    overflow-y: hidden;
}

/*----------------------------------------------------------------------------------------------*/

.site-header {
    width: 100%;
    height: 75px;
	position: fixed;
    background-color: $black-tint1;
	z-index: 5;
	top: 0;
    left: 0;

    @include media($tablet) {
        width: $navbar-width;
        height: 100vh;
    }

    .logo {
        background-color: $site-color;
        background-image: url('../img/logo114x114.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 75px;
        width: 75px;
        text-indent: -9999px;
        display: block;
        text-align: center;

        &:hover {
            background-color: $grey;
        }

        @include media($tablet) {
            width: $navbar-width;
            height: $navbar-width;
            position: fixed;
            bottom: $gutter;
            left: 0;
        }
    }
}

/* ----------------------------------------------------------------------------------------------*/

.site-footer {
    position: relative;
    display: table;
    background-color: $black;
    width: 100%;
    height: 350px;
    z-index: 3;

    @include media($tablet) {
        padding-left: $navbar-width;
    }

    .footer-container {
        padding-bottom: 0;
        max-width: rem(1280);
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: table;
        height: 100%;
        z-index: 1;
	}

    .footer-content {
        z-index: 1;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }

    .copyright {
        font-size: rem(14);
        line-height: 2;
        margin: 0;
        vertical-align: middle;
        display: block;
        text-align: center;
        text-transform: uppercase;
        color: $white-tint1;
        padding: 0 0 1rem 0;

        &:before {
            content: '';
        }
    }
}

/*----------------------------------------------------------------------------------------------*/

.page {
    position: relative;
    width: 100%;
    display: table;
    background-color: $white-tint1;
    box-sizing: border-box;
    z-index: 3;
    padding-top: 60px;
    padding-bottom: 60px;

    @include media($tablet) {
        padding-left: $navbar-width;
    }
}

/* -- Sidebar ---------------------------------------------------------------------------- */
.sidebar {
    top: 0;
    left: -260px;
    width: 260px;
    height: 100%;
    position: fixed;
    background-color: $black;
    display: table;
    z-index: 1;

    @include media($tablet) {
        left: -300px;
        width: 300px;
        border-left: solid 1px $black-tint1;
    }
}

ul {
    &.menu {
        display: table-cell;
        vertical-align: middle;
        margin-top: 0;

        li {
            display: inline-block;

            @include media($tablet) {
                display: block;
            }
        }

        @include media($tablet) {
            margin-top: $navbar-width;
        }
    }
}

.navbar {
    display: block;
    position: fixed;
    top: 0;
    right: 0;

    @include media($tablet) {
        right: inherit;
        left: 0;
        width: $navbar-width;
    }
}

.toggle-sidebars {
    display: flex;
    margin: 0;
    width: 100%;

    li {
        display: inline-block;
    }

    .toggle-nav,
    .toggle-back {
        display: block;
        width: 75px;
        height: 75px;
        color: $white-tint1;
        text-decoration: none;

        &:hover {
            background-color: $site-color;
            color: $black-tint1;

            .toggle-nav-bar {
                background-color: $white-tint1;

                &:before,
                &:after {
                    background-color: $white-tint1;
                }
            }

            .back-arrow {
                color: $white-tint1;
            }
        }

        &.active {
            color: $site-color;

            &:hover {
                background-color: $black-tint1;
            }
        }

        .genericon {
            font-size: rem(42);
            width: 75px;
            height: 75px;
            line-height: 75px;

            @include media($tablet) {
                height: $navbar-width;
                width: $navbar-width;
                line-height: $navbar-width;
            }
        }

        .srt {
            display: none;
            text-align: center;
            color: $white-tint1;
            font-size: rem(14);
            font-family: 'Exo 2', Arial, Helvetica, Verdana, sans-serif;
        }

        .burger-container {
            display: inline-block;
            position: relative;
            margin: 0;
            padding: 0;
            width: 75px;
            height: 75px;
            font-size: 0;
            text-indent: -9999px;

            &:focus {
                outline: none;
            }

            @include media($tablet) {
                height: $navbar-width;
                width: $navbar-width;
            }
        }

        .toggle-nav-bar {
            display: block;
            position: absolute;
            left: 15px;
            right: 15px;
            top: 50%;
            height: 6px;
            background-color: $white-tint1;

            @include media($tablet) {
                left: 24px;
                right: 24px;
            }

            &:before,
            &:after {
                position: absolute;
                content: '';
                display: block;
                background-color: $white-tint1;
                height: 6px;
                width: 100%;
                @include transition(all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1));
            }

            &:before {
                top: -12px;
            }

            &:after {
                top: 12px;
            }
        }

        .back-arrow {
            display: block;
            color: $white-tint1;
            line-height: $navbar-width;
            font-size: 42px;
            font-family: 'Genericons';
            text-indent: 0;
            text-align: center;
        }

        @include media($tablet) {
            height: $navbar-width;
            width: $navbar-width;
        }
    }

    @include media($tablet) {
        width: $navbar-width;
    }
}

.blocker {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: 75px;

    @include media($tablet) {
        margin-top: 0;
    }
}

.is-sidebar-expanded {
    .toggle-sidebars {
        .toggle-nav {
            .toggle-nav-bar {
                transform: rotate(45deg);

                &:before,
                &:after {
                      top: 0;
                      transform: rotate(-90deg);
                }
            }
        }
    }

    .sidebar,
    .blocker {
        @include transform(translate(260px));

        @include media($tablet) {
            @include transform(translateX(395px));
        }
    }

    .wrapper,
    .home {
        @include transform(translate(260px));

        @include media($tablet) {
            @include transform(translateX(300px));
        }
    }

    .blocker {
        background: rgba($black, 0.6);
        z-index: 4;
    }
}


.seperator-section {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    border-top: solid 1px $black-tint1;
    border-bottom: solid 1px $black-tint1;
    background-color: $grey;
    background-image: url('../img/bg-md.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;

    @include media($tablet) {
        height: 350px;
        padding-left: $navbar-width;
        background-image: url('../img/bg-lg.jpg');
    }

    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($black, 0.4);
        z-index: 0;
    }

    &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../img/grid.png');
        z-index: 1;
    }

    .container {
        z-index: 1;
        display: table;
        height: 100%;
        text-align: center;
        color: $white-tint1;
        padding-top: $gutter;
        padding-bottom: $gutter;
        position: relative;
        width: 100%;

        blockquote {
            display: table-cell;
            vertical-align: middle;
            font-size: rem(24);
            border-left: none;
            font-weight: 800;
            text-align: center;

            @include media($tablet) {
                font-size: rem(36);
            }

            cite {
                font-size: rem(14);
                line-height: 1.2;
                font-weight: 400;
                color: $white-tint1;

                @include media($tablet) {
                    font-size: rem(16);
                }

                &:after {
                    content: "\2014 \2009";
                }
            }
        }
    }
}


/* -- Home ---------------------------------------------------------------- */
.home {
    display: table;
    border-bottom: solid 1px $black;
    border-top: 0;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    height: 100vh;

    .home-container {
        display: table-cell;
        vertical-align: middle;
        z-index: 1;
        width: 100%;

        @include media($tablet) {
            vertical-align: bottom;
        }

        .info-box {
            position: fixed;
            bottom: 0;
            left: 0;
            margin-bottom: 5rem;
            margin-left: 0;

            h1 {
                font-weight: 800;
                padding: 0;
                text-align: center;
                font-size: rem(84);
                line-height: 1;

                @include media($tablet) {
                    font-size: rem(125);
                    text-align: left;
                }
            }

            p {
                font-weight: 200;
                font-size: rem(18);
                text-align: center;
                margin-top: $gutter;
                line-height: 1.4;
                clear: both;

                @include media($tablet) {
                    font-size: rem(22);
                    text-align: left;
                }
            }

            &.no-gutters {
                padding-right: $gutter !important;
                padding-left: $gutter !important;

                @include media($tablet) {
                    padding-left: 0 !important;
                }
            }

            @include media($tablet) {
                left: inherit;
                margin-left: $gutter;
            }
        }
    }
}


/* -- About ---------------------------------------------------------------- */
.about {
    .devices {
        text-align: center;
        padding: 0;

        .genericon {
            background-color: transparent;
            color: $grey-tint1;
            border-radius: 50%;
            border: solid 4px $grey-tint1;
            font-size: rem(32);
            margin: rem(40) rem(5);
            cursor: default;

            @include media($tablet) {
                line-height: 85px;
                height: 92px;
                width: 92px;
                font-size: rem(48);
                margin: rem(40) rem(25);
            }
        }
    }
}


/* -- Work ---------------------------------------------------------------- */
.work {
    .item-link {
        .image {
            display: block;
            width: 100%;
            height: 100%;
            background-image: url('../img/blank.png');
            background-color: $white-tint1;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;

            &.web {
                background-position: center top;

                &:before {
                    content: "";
                }
            }

            &.camera {
                &:before {
                    content: "";
                }
            }
        }

        &:hover {
            @include filter(grayscale(100%));

            .overlay {
                opacity: 1;
            }
        }
    }
}


/* -- Blog ---------------------------------------------------------------- */
.blog {
    .item-link {
        padding: $gutter;

        .content {
            display: table;
            width: 100%;

            .entry-title {
                font-size: rem(30);
                text-align: left;
            }

            .arrow {
                color: $site-color;
                font-size: rem(26);
                vertical-align: text-bottom;
                text-align: center;
            }

            .entry-time {
                color: $black-tint1;
                margin-top: $gutter;
                display: block;

                &:before {
                    font-family: 'Genericons';
                    display: inline-block;
                    padding: 0 10px 0 0;
                }
            }
        }

        &:hover {
            .content {
                .entry-title {
                    color: $black-tint1;
                }
            }

            .overlay {
                opacity: 1;
            }
        }
    }
}

/* -- Social ---------------------------------------------------------------- */
ul.social-thumbs {
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;

    li {
        margin: 0 $gutter $gutter 0;
        display: inline-block;

        a.genericon {
            border: solid 4px $white-tint1;
            border-radius: 50%;
            font-size: rem(22);
            background-color: transparent;
            color: $white-tint1;

            &:hover {
                background-color: rgba($black, 0.6);
                color: $white-tint1;
            }

            &.facebook {
                &:hover {
                    border-color: $facebook-blue;
                    color: $facebook-blue;
                }
            }

            &.twitter {
                &:hover {
                    border-color: $twitter-blue;
                    color: $twitter-blue;
                }
            }

            &.google-plus {
                &:hover {
                    border-color: $google-red;
                    color: $google-red;
                }
            }

            &.linkedin {
                &:hover {
                    border-color: $linkedin-blue;
                    color: $linkedin-blue;
                }
            }

            &.flickr {
                &:hover {
                    border-color: $flickr-pink;
                    color: $flickr-pink;
                }
            }

            &.pinterest {
                &:hover {
                    border-color: $pinterest-red;
                    color: $pinterest-red;
                }
            }

            &.fivehundred {
                font-size: rem(28);
                &:hover {
                    border-color: $fivehundred-grey;
                    color: $fivehundred-grey;
                }
            }

            &.rss {
                &:hover {
                    background-color: $rss-orange;
                }
            }

            &.wordpress {
                font-size: rem(76);
                border: none;

                &:hover {
                    background-color: $black-tint1;
                    color: $wordpress-grey;
                }
            }
        }
    }
}


/* -- Error ---------------------------------------------------------------- */
#error {
    .site-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;

        .copyright {
            padding: 0;
            line-height: 50px;
        }
    }

    .error {
        background-image: url('../img/bg-error-md.jpg');
        background-position: top center;
        height: 100vh;
        border-top: 0;
        border-bottom: 0;

        @include media($tablet) {
            background-image: url('../img/bg-error-lg.jpg');
        }
    }

    .page {
        background-color: transparent;
        padding-left: 0;
    }

    .info-box {
        position: fixed;
        bottom: 5rem;
        left: 0;
        margin-bottom: 10rem;
        margin-left: 0;

        h1 {
            font-weight: 800;
            padding: 0;
            text-align: center;
            font-size: rem(42);
            line-height: 1;

            @include media($tablet) {
                font-size: rem(64);
                text-align: left;
            }
        }

        p {
            font-weight: 200;
            font-size: rem(18);
            text-align: center;
            margin-top: $gutter;
            line-height: 1.4;
            clear: both;

            @include media($tablet) {
                font-size: rem(22);
                text-align: left;
            }
        }

        &.no-gutters {
            padding-right: $gutter !important;
            padding-left: $gutter !important;

            @include media($tablet) {
                padding-right: 0 !important;
                padding-left: 0 !important;
            }
        }

        @include media($tablet) {
            left: inherit;
            margin-left: $gutter;
        }
    }
}


/* Buttons */
.btn {
    display: inline-block;
    margin: 10px 0;
    padding: 0 20px;
    font-weight: 700;
    font-size: rem(14);
    line-height: rem(14);
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid $site-color;
    white-space: nowrap;
    @include user-select (none);
    border-radius: 25px;
    color: $white-tint1;
    background-color: $site-color;
    padding-left: 55px;

    &:hover {
        background-color: shade($site-color, 20%);
        border-color: shade($site-color, 40%);
    }

    &:before {
        position: absolute;
        font-family: 'Genericons';
        font-style: normal;
        left: 15px;
        top: 5px;
        font-size: rem(22);
    }
}

.scroll {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 1;
    background: transparent;
    text-align: center;
    border: 0;
    outline: 0;
    z-index: 2;
    text-decoration: none;
    color: $grey;

    @include media($tablet) {
        left: $navbar-width;
        width: calc(100% - 95px);
    }

    &.up {
        top: -4px;
    }

    &.down {
        position: fixed;
        bottom: 0;
    }

    .chevron {
        display: inline-block;
        position: relative;
        font-size: rem(26);
        font-weight: 200;
        line-height: 1;
        height: initial;

        &.up {
            bottom: -18px;
        }

        &.down {
            top: -8px;
        }
    }

    &:hover {
        background-color: $black-tint1;

        .chevron {
            color: $white-tint1;

            &.up {
                bottom: 0px;
            }

            &.down {
                top: 18px;
            }
        }
    }
}


/* -- Overlay -------------------------------------------------- */
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.6);
    display: table;
    opacity: 0;
    position: absolute;
    text-align: center;
    color: $white-tint1;
    top: 0;
    left: 0;

    .overlay-content {
        color: $white-tint1;
        text-transform: uppercase;
        padding: $gutter;
        display: table-cell;
        vertical-align: middle;
        line-height: 1.4;
        text-align: center;

        .overlay-title {
            font-size: rem(22);
        }

        .overlay-subtitle {
            font-size: rem(14);
            text-transform: uppercase;
        }

        .genericon {
            margin-top: rem(10);
            color: $white-tint1;
            font-size: rem(32);
            border: solid 4px $white-tint1;
            border-radius: 50%;
            height: 82px;
            width: 82px;
            line-height: 74px;
        }
    }
}

/*-- Grid List --------------------------------------------------------------- */
.items {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(flex-start);
    max-width: $screen-lg;
    margin: 0 auto;

    .item {
        color: $black-tint1;
        height: 240px;
        background-color: $grey;
        margin: 0 auto;
        border-bottom: solid 10px $white-tint1;
        vertical-align: middle;
        @include flex-basis(100%);

        @include media($tablet) {
            @include flex-basis(50%);
            border-right: solid 10px $white-tint1;

            &:nth-child(3n) {
                border-right: none;
            }

            &:nth-child(9n) {
                border-bottom: none;
            }
        }

        @include media($desktop) {
            @include flex-basis(33.3%);

            &:nth-child(7n),
            &:nth-child(8n) {
                border-bottom: none;
            }
        }

        .item-link {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            position: relative;
        }
    }
}

/* -- Loading ---------------------------------------------------------------- */
.loading-container {
    margin: 0 auto;
    padding: 4rem 0;
    display: none;
    height: 100%;
    width: 100%;
    min-height: 720px;
}

.waiting {
    .loading-container {
        display: table;
    }

    .main-content {
        display: none;
    }
}

.loading-ring {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;

    .light {
        width: 35px;
        height: 35px;
        background-color: $site-color;
        border-radius: 50%;
        display: inline-block;
        @include animation(motion 3s $ease-in-out-quart infinite);
    }

    .text {
        display: block;
        text-align: center;
        margin-top: rem(30);
        color: $grey-tint1;
        width: 100%;
        font-size: rem(14);
    }
}

@include keyframes(motion) {
    0% {
        @include transform(translateX(0) scale(1));
    }
    25% {
        @include transform(translateX(-100px) scale(0.3));
    }
    50% {
        @include transform(translateX(0) scale(1));
    }
    75% {
        @include transform(translateX(100px) scale(0.3));
    }
    100% {
        @include transform(translateX(0) scale(1));
    }
}
