.site-header {
    width: 100%;
    height: $navbar-height;
	position: fixed;
    background-color: $black-tint1;
	z-index: 5;
	top: 0;
    right: 0;
    transition: 0.3s all ease-in-out;

    .logo {
        height: $navbar-height;
        width: $navbar-height;
        display: inline-block;
        text-align: center;
        position: relative;

        &:before {
            content: '';
            display: block;
            background-image: url('../img/logo114x114.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: $navbar-height;
            height: $navbar-height;
            -webkit-mask: url('../img/wallpaper.png') top left;
            -moz-mask: url('../img/wallpaper.png') top left;
            mask: url('../img/wallpaper.png') top left;
        }

        &:hover {
            background-color: $site-color;

            .dot {
                background-color: $black-tint1;
            }

            &.active {
                .dot {
                    background-color: $black-tint1;
                }
            }
        }

        .srt {
            display: none;
        }

        .dot {
            display: block;
            position: absolute;
            background-color: $white;
            height: 10px;
            width: 14px;
            right: 5px;
            bottom: 10px;
        }

        &.active {
            .dot {
                background-color: $site-color;
            }
        }
    }

    .navbar {
        padding-top: 6em;
        padding-bottom: 2em;

        @include media($tablet) {
            display: inline-block;
            padding-top: 0;
            padding-bottom: 0;
        }

        .menu {
            .item {
                display: block;
                position: relative;

                @include media($tablet) {
                    display: inline-block;
                }

                .link {
                    display: block;
                    color: $white-tint1;
                    text-decoration: none;
                    line-height: $navbar-height;
                    padding: 0 20px;
                    font-weight: 800;
                    font-family: 'Exo 2', Arial, Helvetica, Verdana, sans-serif;

                    @include media($tablet) {
                        padding: 0 25px;
                        text-align: center;
                        font-size: rem(22);
                    }

                    &:hover {
                        color: $grey-tint1;
                        background-color: $black;

                        @include media($tablet) {
                            background-color: transparent;
                        }
                    }

                    &.active {
                        color: $site-color;
                        background-color: $black;
                        cursor: default;

                        @include media($tablet) {
                            background-color: transparent;
                        }
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    background-color: $grey-tint1;
                    height: 1px;
                    width: calc(100% - 40px);
                    left: 20px;
                    bottom: 0;

                    @include media($tablet) {
                        height: 25px;
                        width: 2px;
                        right: -2px;
                        bottom: 22px;
                        left: auto;
                    }
                }

                &:last-of-type {
                    &:after {
                        background-color: transparent;
                    }
                }

                .nav-text {
                    text-align: left;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    position: relative;
                    text-transform: uppercase;
                    -webkit-mask: url('../img/wallpaper.png') top left;
                    -moz-mask: url('../img/wallpaper.png') top left;
                    mask: url('../img/wallpaper.png') top left;
                }
            }
        }
    }
}
