.site-footer {
    background-color: $white;
    width: 100%;

    @include media($tablet) {
        position: fixed;
        height: 42px;
        z-index: 5;
        bottom: 0;
    }

    .footer-content {
        z-index: 1;
        vertical-align: middle;
        width: 100%;
    }

    .copyright {
        font-size: rem(14);
        line-height: 2;
        margin: $gutter auto 0;
        vertical-align: middle;
        display: block;
        text-align: center;
        text-transform: uppercase;
        color: $grey-tint1;

        @include media($tablet) {
            margin: 0 auto;
            line-height: 42px;
            display: inline-block;
            text-align: left;
        }

        &:before {
            content: '';
        }
    }
}

// -- Social ----------------------------------------------------------------
ul.social-thumbs {
    margin: 0 auto $gutter;
    display: block;
    text-align: center;

    @include media($tablet) {
        margin: 0 auto;
        display: inline-block;
        float: right;
    };

    li {
        margin: 0 10px 0 0;
        display: inline-block;

        &:last-of-type {
            margin: 0;
        }

        a.genericon {
            line-height: 42px;
            height: 42px;
            width: 42px;
            font-size: rem(22);
            background-color: transparent;
            color: $grey-tint1;

            &.facebook {
                &:hover {
                    color: $facebook-blue;
                }
            }

            &.twitter {
                &:hover {
                    color: $twitter-blue;
                }
            }

            &.google-plus {
                &:hover {
                    color: $google-red;
                }
            }

            &.linkedin {
                &:hover {
                    color: $linkedin-blue;
                }
            }

            &.flickr {
                &:hover {
                    color: $flickr-pink;
                }
            }

            &.pinterest {
                &:hover {
                    color: $pinterest-red;
                }
            }

            &.fivehundred {
                font-size: rem(28);

                &:hover {
                    color: $fivehundred-grey;
                }
            }

            &.rss {
                &:hover {
                    color: $rss-orange;
                }
            }

            &.wordpress {
                font-size: rem(28);

                &:hover {
                    color: $wordpress-blue;
                }
            }
        }
    }
}
