$site-color: #c03c03;

$white: #ffffff;
$white-tint1: #fafafa;

$black: #4d4d4d;
$black-tint1: #2b3133;
$black-tint3: #545454;

$grey: #f3f3f3;
$grey-tint1: #888b8d;

$facebook-blue: #3b5998;
$twitter-blue: #00aced;
$google-red: #d73d32;
$linkedin-blue: #007bb6;
$flickr-pink: #ff0084;
$rss-orange: #ff6600;
$pinterest-red: #cb2027;
$fivehundred-blue: #0099e5;
$wordpress-blue: #21759b;

$navbar-height: rem(75);

$font-default: 'Roboto', 'Helvetica', 'Arial', sans-serif;

// -- Grid Settings --------------------------------------------
$gutter: rem(20);
$grid-desktop-columns: 12 !default;
$grid-desktop-gutter: $gutter !default;
$grid-desktop-margin: $gutter !default;

$grid-phone-columns: 4 !default;
$grid-phone-gutter: $gutter !default;
$grid-phone-margin: $gutter !default;

$grid-cell-default-columns: $grid-phone-columns !default;
$grid-max-columns: $grid-desktop-columns !default;

$screen-xs: rem(320);
$screen-sm: rem(768);
$screen-md: rem(992);
$screen-lg: rem(1350);

$mobile: new-breakpoint(min-width $screen-xs);
$tablet: new-breakpoint(min-width $screen-sm);
$desktop: new-breakpoint(min-width $screen-md);
$large-desktop: new-breakpoint(min-width $screen-lg);
