$site-color         :   #C01025;

$white-tint1        :   #FAFAFA;

$black              :   #222222;
$black-tint1        :   #333333;

$grey               :   #F2F2F2;
$grey-tint1         :   #888888;

$facebook-blue      :   #3B5998;
$twitter-blue       :   #00ACED;
$google-red         :   #D73D32;
$linkedin-blue      :   #007BB6;
$flickr-pink        :   #FF0084;
$rss-orange         :   #FF6600;
$pinterest-red      :   #cb2027;
$wordpress-grey     :   #DDDDDD;

/* -- Grid Settings -------------------------------------------- */
$column             : rem(90);
$gutter             : rem(22);
$grid-columns       : 10;
$max-width          : rem(1396);

$screen-xs          : rem(480);
$screen-sm          : rem(768);
$screen-md          : rem(996);
$screen-lg          : rem(1396);