$site-color: #C03C03;

$white: #ffffff;

$black: #12151b;
$black-tint1: #121212;
$black-tint2: #4a4a4a;

$grey: #f3f3f3;
$grey-tint1: #888b8d;

$facebook-blue: #3b5998;
$twitter-blue: #00aced;
$google-red: #d73d32;
$linkedin-blue: #007bb6;
$flickr-pink: #ff0084;
$rss-orange: #ff6600;
$pinterest-red: #cb2027;
$fivehundred-blue: #0099e5;
$wordpress-blue: #21759b;
$youtube-red: #cc181e;
$twitch-purple: #4b367c;
$tumblr-green: #56bc8a;
$vimeo-green: #7fc400;

$size: rem(25);

$font-family-default: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-family-headings: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-family-fa: 'Icomoon';
$font-family-fa-brands: 'Icomoon';
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-fa-normal: 400;

$icon-home: "\f015";
$icon-camera: "\f030";
$icon-pencil: "\f040";
$icon-chevron-right: "\f054";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-globe: "\f0ac";
$icon-google: "\f0d5";
$icon-linkedin: "\f0e1";
$icon-comments: "\f0e6";
$icon-flickr: "\f16e";
$icon-500px: "\f26e";
$icon-user: "\f2c0";

// -- Grid Settings --------------------------------------------
$gutter: rem(20);
$grid-desktop-columns: 12 !default;
$grid-desktop-gutter: $gutter !default;
$grid-desktop-margin: $gutter !default;

$grid-phone-columns: 4 !default;
$grid-phone-gutter: $gutter !default;
$grid-phone-margin: $gutter !default;

$grid-cell-default-columns: $grid-phone-columns !default;
$grid-max-columns: $grid-desktop-columns !default;

$screen-xs: rem(480);
$screen-sm: rem(736);
$screen-md: rem(980);
$screen-lg: rem(1280);
