<!DOCTYPE html>

<!--[if lt IE 8]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
		<meta property="og:locale" content="en_GB" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Jamie De Rycke / Personal website, portfolio and blog of a web monkey" />
		<meta property="og:description" content="Personal website and portfolio of Jamie De Rycke." />
		<meta property="og:url" content="http://www.jamiederycke.me.uk/" />
		<meta property="og:site_name" content="Jamie De Rycke" />
		<meta property="og:image" content="http://www.jamiederycke.me.uk/img/avatar.jpg" />
		<meta property="og:image" content="http://www.jamiederycke.me.uk/img/avatar-300x225.jpg" />
		
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@jderycke" />
		<meta name="twitter:domain" content="Jamie De Rycke / Micro blog of a web monkey" />
		<meta name="twitter:creator" content="@jderycke" />
		
        <title>Jamie De Rycke / Personal website, portfolio and blog of a web monkey</title>
        <meta name="author" content="Jamie De Rycke" />
		<meta name="description" content="Personal website and portfolio of Jamie De Rycke" />
		<meta name="keywords" content="Portfolio, Personal, Web Design, Web Development, valid xhtml, css development, css, html, C# development, mobile development, north wales, Jamie De Rycke" />    
        <link rel="canonical" href="http://www.jamiederycke.me.uk/">
        
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/logo114x114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/logo72x72.png" />
		<link rel="apple-touch-icon-precomposed" href="img/logo57x57.png" />
		<link rel="shortcut icon" href="img/logo57x57.png" />

		<link href='http://fonts.googleapis.com/css?family=Exo+2:300,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/site.common.min.css" />

		<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
		<![endif]-->
	</head>
	<body class="main" ng-app="portfolioApp" scroll>
        <div ng-controller="SiteController">
        <header class="site-header" role="banner">
            <a href="#home" class="genericon logo animate" title="Scroll to top of page" data-ga-category="Logo" data-ga-action="Click" data-ga-label="Logo">
                <span class="srt">Jamie De Rycke - Web Developer, North Wales</span>
            </a>
            <nav class="navbar animate" role="navigation">
                <ul class="toggle-sidebars animate">
                    <li>
                        <a href="#" title="Toggle menu Open/Close" class="toggle-nav animate" data-ga-category="Nav" data-ga-action="Click" data-ga-label="Toggle Menu">
                            <span class="srt">Menu</span>
                            <div class="burger-container">
                                <span class="toggle-nav-bar animate"></span>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <section id="home" class="page home seperator-section animate" role="banner">
            <div class="home-container">
                <div class="container no-gutters">
                    <article class="column whole no-gutters info-box animate">
                        <h1 class="font-effect-wallpaper">
                            Hi there<em>.</em>
                        </h1>
                        <p>My name is Jamie, I create things with pixels and code. I occasionally take photographs<em>.</em></p>
                    </article>
                </div>
                <a href="#about" title="Down to about me" class="scroll down animate" data-ga-category="Scroll arrows" data-ga-action="Click" data-ga-label="Up arrow">
                    <span class="genericon long-arrow down animate"></span>
                </a>
            </div>
        </section>
        <main class="wrapper animate" role="main">
            <section id="about" class="page about">
                <div class="container">
                    <div class="row">
                        <div class="column whole no-gutters info-box">
                            <h2>About me<em>.</em></h2>
                            <p>Hi, I'm, Jamie, this is my personal blog and portfolio. I am a multi-skilled web developer from North Wales, with a passion for innovative solutions and clean user experiences. I currently work for <a href="http://www.moneysupermarket.com" title="MoneySuperMarket.com website link" data-ga-category="Content links" data-ga-action="Click" data-ga-label="MSM link">MoneySuperMarket.com</a> as a web developer.</p>
                            <p>I'm inspired by clean, minimalistic design. Whether it be digital or physical, I believe design is all about solving problems in the simplest possible manner. I am fully proficient in HTML, CSS &amp; Javascript and not afraid to learn something new like SASS, Java or AngularJS. I have over 12 years of experience. I have a passion for pixel perfection, clean code, and semantics.</p>
                            <p>When not making pixelated things I like to take <a href="#work" title="Photography portfolio" data-ga-category="Content links" data-ga-action="Click" data-ga-label="Photography portfolio">pretty pictures</a>, such as the cloudy sunset in my hero image and a bit of hiking. I recently travelled to Tanazania to climb a small hill called Kilimanjaro (you may have hread of it) and recently to Morrocco's Atlas Mountains</a>.</p>
                            <p class="small-text">For a full breakdown of my skills and employment history, see my <a href="http://uk.linkedin.com/in/jamiederycke/" title="LinkedIn profile" target="_blank" data-ga-category="Content links" data-ga-action="Click" data-ga-label="LinkedIn">LinkedIn profile</a>.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column whole no-gutters">
                            <div class="devices">
                                <span class="genericon mobile">

                                </span>

                                <span class="genericon tablet">

                                </span>

                                <span class="genericon desktop">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <div class="seperator-section">
                <div class="container">
                    <blockquote class="font-effect-wallpaper">
                        Sometimes life hits you in the head with a brick. Don't lose faith.
                        <cite>Steve Jobs</cite>
                    </blockquote>
                </div>
            </div>
            
            <section id="work" class="page work" ng-controller="PortfolioController" ng-class="{'waiting' : showWaiting}">
                <div class="row">
                    <div class="container">
                        <div class="column whole no-gutters">
                            <h2>Portfolio<em>.</em></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="whole main-content">
                        <ul class="items">
                            <li class="item" data-ng-class="item.category" data-ng-repeat="item in results | orderBy : predicate | limitTo : 9" data-ng-cloak>
                                <a class="item-link" data-ng-href="{{item.url}}" title="{{item.title}}" target="_blank" data-ga-category="Portfolio" data-ga-action="Click" data-ga-label="{{item.title}}">
                                    <div data-ng-style="{'background-image': 'url(' + item.image_url + ')'}" class="image animate"></div>
                                    <article class="overlay animate">
                                        <div class="overlay-content">
                                            <h1 class="overlay-title" data-ng-bind="item.title">Overlay Title</h1>
                                            <span class="genericon long-arrow right"></span>
                                        </div>
                                    </article>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="column whole no-gutters loading-container">
                        <div class="loading-ring">
                            <div class="light">

                            </div>
                            <span class="text">loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="column whole no-gutters">
                            <p class="small-text">To see more of my photos, go to <a href="http://www.500px.com/jamiederycke/" title="See more of my photos at 500px" target="_blank" data-ga-category="Portfolio" data-ga-action="Click" data-ga-label="500px">500px</a> or <a href="http://www.flickr.com/photos/jamiederycke/" title="See more of my photos at flickr" target="_blank" data-ga-category="Portfolio" data-ga-action="Click" data-ga-label="flickr">flickr</a>.</p>
                        </div>
                    </div>
                </div>
            </section>
            
            <div class="seperator-section">
                <div class="container">
                    <blockquote class="font-effect-wallpaper">
                        Creativity is contagious, pass it on.
                        <cite>Albert Enstein</cite>
                    </blockquote>
                </div>
            </div>
            
            <section id="blog" class="page blog" ng-controller="BlogFeedController" ng-class="{'waiting' : showWaiting}">
                <div class="row">
                    <div class="container">
                        <div class="column whole no-gutters">
                            <h2>Articles<em>.</em></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="whole main-content">
                        <div class="items">
                            <article class="item" role="article" data-ng-repeat="item in feed.items | orderBy : predicate | limitTo : 9" data-ng-cloak>
                                <a class="item-link" data-ng-href="{{item.link}}" title="{{item.title}}" data-ga-category="Blog links" data-ga-action="Click" data-ga-label="{{item.title}}">
                                    <header class="content">
                                        <h1 class="entry-title" data-ng-bind="item.title">Article Title</h1>
                                        <time class="entry-time clock" datetime="{{item.publishedDate | date:'MMM d, y'}}" data-ng-bind="item.publishedDate | date:'MMM d, y'"></time>
                                    </header>
                                    <div class="overlay animate">
                                        <div class="overlay-content">
                                            <h2 class="overlay-title" data-ng-bind="item.title">Overlay Title</h2>
                                            <span class="genericon long-arrow right"></span>
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                    <div class="column whole no-gutters loading-container">
                        <div class="loading-ring">
                            <div class="light">

                            </div>
                            <span class="text">loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="column whole no-gutters">
                            <p class="small-text">To see read of my articles, go to <a href="http://blog.jamiederycke.me.uk" title="Blog of a web monkey" data-ga-category="Blog links" data-ga-action="Click" data-ga-label="Blog">my Blog</a>.</p>
                        </div>
                    </div>                    
                </div>
            </section>
            <div class="seperator-section">
                <div class="container">
                    <blockquote class="font-effect-wallpaper">
                        It is not our abilities that show what we truly are. It is our choices.
                        <cite>Albus Dumbledore – Harry Potter and the Chamber of Secrets</cite>
                    </blockquote>
                </div>
            </div>
            <footer class="site-footer animate" role="contentinfo">
                <a href="#home" class="scroll up animate" title="Back up to home" data-ga-category="Scroll arrows" data-ga-action="Click" data-ga-label="Up arrow">
                    <span class="genericon long-arrow up animate"></span>
                </a>
                <div id="social" class="container footer-container">
                    <div class="footer-content">
                        <small class="copyright">&copy; 2015 Jamie De Rycke. All Rights Reserved. Handcrafted pixels &amp; Code using <a href="http://brackets.io/" title="Link to Brackets.io" data-ga-category="Footer links" data-ga-action="Click" data-ga-label="Brackets.io">Brackets</a>.</small>
                        <ul class="social-thumbs">
                            <li>
                                <a class="genericon facebook" href="http://www.facebook.com/jamie.derycke/" title="Facebook" target="_blank" data-ga-category="Social links" data-ga-action="Click" data-ga-label="Facebook">

                                </a>
                            </li>
                            <li>
                                <a class="genericon twitter" href="http://www.twitter.com/jderycke/" title="Twitter" target="_blank" data-ga-category="Social links" data-ga-action="Click" data-ga-label="Twitter">

                                </a>
                            </li>
                            <li>
                                <a class="genericon google-plus" href="http://plus.google.com/u/0/113337118368975520999/posts/" title="Google+" target="_blank" data-ga-category="Social links" data-ga-action="Click" data-ga-label="Google+">

                                </a>
                            </li>
                            <li>
                                <a class="genericon linkedin" href="http://uk.linkedin.com/in/jamiederycke/" title="LinkedIn" target="_blank" data-ga-category="Social links" data-ga-action="Click" data-ga-label="LinkedIn">

                                </a>
                            </li>
                            <li>
                                <a class="genericon flickr" href="http://www.flickr.com/photos/jamiederycke/" title="Flickr" target="_blank" data-ga-category="Social links" data-ga-action="Click" data-ga-label="Flickr">

                                </a>
                            </li>
                            <li>
                                <a class="genericon fivehundred" href="http://www.500px.com/jamiederycke/" title="500px" target="_blank" data-ga-category="Social links" data-ga-action="Click" data-ga-label="500px">

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </main>
        <div class="blocker animate"></div>
        <nav class="sidebar animate" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <ul class="menu animate">
                <li>
                    <a href="#home" title="Home" class="nav-link active" data-ga-category="Nav" data-ga-action="Click" data-ga-label="Home">
                        <span class="srt">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#about" title="About me" class="nav-link" data-ga-category="Nav" data-ga-action="Click" data-ga-label="About me">
                        <span class="srt">About me</span>
                    </a>
                </li>
                <li>
                    <a href="#work" title="Portfolio" class="nav-link" data-ga-category="Nav" data-ga-action="Click" data-ga-label="Portfolio">
                        <span class="srt">Portfolio</span>
                    </a>
                </li>
                <li>
                    <a href="#blog" title="Articles" class="nav-link" data-ga-category="Nav" data-ga-action="Click" data-ga-label="Blog">
                        <span class="srt">Articles</span>
                    </a>
                </li>
            </ul>
        </nav>
        </div>

        <script type="text/javascript" src="js/thirdparty/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="js/thirdparty/angular-1.4.3.min.js"></script>
        <script type="text/javascript" src="js/app.min.js"></script>

        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-39364857-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>