<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, width=device-width">

		<title>Jamie De Rycke / Personal website, portfolio and blog of a web monkey</title>
		<meta name="author" content="Jamie De Rycke" />
		<meta name="description" content="Personal website and portfolio of Jamie De Rycke" />
		<meta name="keywords" content="Portfolio, Personal, Web Design, Web Development, valid xhtml, css development, css, html, C# development, mobile development, north wales, Jamie De Rycke" />

		<link rel="stylesheet" media="screen" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,900">
		<link rel="stylesheet" media="screen" type="text/css" href="css/site.common.min.css" />

		<!-- Add to homescreen for Chrome on Android -->
	    <meta name="mobile-web-app-capable" content="yes">
	    <link rel="icon" sizes="192x192" href="img/logo114x114.png">

	    <!-- Add to homescreen for Safari on iOS -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/logo114x114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/logo72x72.png" />
		<link rel="apple-touch-icon-precomposed" href="img/logo57x57.png" />
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="apple-mobile-web-app-title" content="Jamie De Rycke / Personal website">
	    <link rel="apple-touch-icon-precomposed" href="img/logo72x72.png">

	    <!-- Tile icon for Win8 (144x144 + tile color) -->
	    <meta name="msapplication-TileImage" content="img/logo72x72.png">
	    <meta name="msapplication-TileColor" content="#222222">

		<link rel="shortcut icon" href="img/favicon.png" />

		<meta property="og:locale" content="en_GB" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Jamie De Rycke / Personal website, portfolio and blog of a web monkey" />
		<meta property="og:description" content="Personal website and portfolio of Jamie De Rycke." />
		<meta property="og:url" content="http://www.jamiederycke.me.uk/" />
		<meta property="og:site_name" content="Jamie De Rycke" />
		<meta property="og:image" content="http://www.jamiederycke.me.uk/img/avatar-300x225.jpg" />

		<meta property="twitter:card" content="summary" />
		<meta property="twitter:site" content="@jderycke" />
		<meta property="twitter:domain" content="Jamie De Rycke / Micro blog of a web monkey" />
		<meta property="twitter:creator" content="@jderycke" />
		<meta property="twitter:title" content="Jamie De Rycke / Personal website, portfolio and blog of a web monkey">
	    <meta property="twitter:description" content="Personal website and portfolio of Jamie De Rycke.">
	    <meta property="twitter:image" content="http://www.jamiederycke.me.uk/img/avatar-300x225.jpg">
	</head>
	<body data-ng-app="portfolioApp" scroll="">
        <div data-ng-controller="SiteController" class="site-wrapper" id="top">
            <header class="site-header animate">
				<div class="site-header__content container">
					<a href="#home" data-ng-click="scrollTo('home', $event)"  class="site-header__logo" title="Scroll to top of page" data-ga-category="Logo" data-ga-action="Click" data-ga-label="Logo">
						<span class="srt">Jamie De Rycke - Web Developer, North Wales</span>
						<span class="site-header__logo__dot font-effect-wallpaper animate"></span>
					</a>
					<button class="burgerMenu" type="button" aria-label="Toggle Navigation" data-ga-category="Nav" data-ga-action="Click" data-ga-label="Toggle Burger Menu" data-ng-click="toggleMenu($event)">
						<span class="lines animate"></span>
					</button>
					<div class="slideContent">
					    <div class="mainMenu">
							<nav class="nav">
			                    <ul class="nav__menu toggle-sidebars">
									<li class="nav__menu__item show-on-mobile">
			                            <a href="#home" data-ng-click="scrollTo('home', $event)" title="Home" class="nav__menu__link nav__menu__link--active" data-ga-category="Nav" data-ga-action="Click" data-ga-label="Scroll to Home">
											<span class="nav__menu__text font-effect-wallpaper">Home</span>
			                            </a>
			                        </li>
									<li class="nav__menu__item">
			                            <a href="#about" data-ng-click="scrollTo('about', $event)" title="About Me" class="nav__menu__link" data-ga-category="Nav" data-ga-action="Click" data-ga-label="Scroll to About Me">
											<span class="nav__menu__text font-effect-wallpaper">About Me</span>
			                            </a>
			                        </li>
									<li class="nav__menu__item">
			                            <a href="#work" data-ng-click="scrollTo('work', $event)" title="Work" class="nav__menu__link" data-ga-category="Nav" data-ga-action="Click" data-ga-label="Scroll to Work">
											<span class="nav__menu__text font-effect-wallpaper">Work</span>
			                            </a>
			                        </li>
									<li class="nav__menu__item">
			                            <a href="#blog" data-ng-click="scrollTo('blog', $event)" title="Articles" class="nav__menu__link" data-ga-category="Nav" data-ga-action="Click" data-ga-label="Scroll to Articles">
			                                <span class="nav__menu__text font-effect-wallpaper">Articles</span>
			                            </a>
									</li>
			                    </ul>
			                </nav>
						</div>
			        </div>
				</div>
            </header>
            <section id="home" class="page home active">
            	<div class="container main-content animate">
					<div class="row">
						<div class="column column--12-col">
							<div class="info-box">
								<div class="info-box__content">
			                        <h1 class="title">
										<span class="title__line1">Jamie</span>
										<span class="title__line2">De Rycke</span>
			                        </h1>
			                        <p class="strapline">I create things with pixels and code.</p>
									<a class="genericon btn__scroll chevron--down" href="#about" data-ng-click="scrollTo('about', $event)" title="Down to about me" class="scroll down" data-ga-category="Scroll arrows" data-ga-action="Click" data-ga-label="Down arrow (Home)">

									</a>
								</div>
		                    </div>
						</div>
					</div>
                </div>
            </section>
            <main class="wrapper">
                <section id="about" class="page about">
					<div class="main-content animate">
						<div class="row">
							<div class="container">
								<div class="column column--12-col">
									<h2 class="font-effect-wallpaper">About me<em>.</em></h2>
								</div>
							</div>
						</div>
						<div class="row ">
							<div class="container">
								<div class="column--flex-wrap">
									<div class="column column--8-col">
										<p>Hello, My name is Jamie De Rycke and I am a multi-skilled web developer from North Wales.</p>
										<p>I'm inspired by clean, minimalistic design. Whether it be digital or physical, I believe design is all about solving problems in the simplest possible manner. I am fully proficient in HTML, CSS &amp; Javascript and not afraid to learn something new like SASS, Java or AngularJS. I have over 12 years of experience. I have a passion for pixel perfection, clean code, and semantics.</p>
										<p>I currently work for <a href="http://www.moneysupermarket.com" target="_blank" rel="nofollow" title="MoneySuperMarket.com website link" data-ga-category="Content links" data-ga-action="Click" data-ga-label="MSM link">MoneySuperMarket.com</a> as a front end developer.</p>
									</div>
									<div class="column column--4-col">

									</div>
								</div>
							</div>
						</div>
					</div>
                </section>
                <div class="seperator-section picture">
                    <div class="container">
                        <blockquote>
                            <span class="font-effect-wallpaper">Sometimes life hits you in the head with a brick.</span>
							<span class="font-effect-wallpaper">Don't lose faith.</span>
                            <cite>Steve Jobs</cite>
                        </blockquote>
                    </div>
                </div>
                <section id="work" class="page work" data-ng-class="{'waiting': waiting}" work="">
					<div class="main-content animate">
						<div class="container">
		                    <div class="row">
			            		<div class="column column--12-col">
									<h2 class="nav-text font-effect-wallpaper">Featured work<em>.</em></h2>
								</div>
							</div>
						</div>
	                    <div class="row">
		            		<div class="column column--12-col grid-items">
		                        <ul class="grid row">
		                            <li class="grid__item column column--sm--2-col column--4-col no-gutters" data-ng-repeat="item in results | orderBy : id | limitTo : 9" data-ng-cloak>
		                                <a class="grid__item--link" data-ng-href="{{item.url}}" title="{{item.title}}" target="_blank" data-ga-category="Portfolio" data-ga-action="Click" data-ga-label="{{item.title}}">
											<div data-ng-style="{'background-image': 'url(' + item.image_url + ')'}" class="content grid__item--image animate {{item.category}}" ></div>
		                                    <article class="overlay animate">
		                                        <div class="overlay__content">
		                                            <h3 class="overlay__content--title" data-ng-bind="item.title">Overlay Title</h3>
		                                            <span class="genericon {{item.category}}"></span>
		                                        </div>
		                                    </article>
		                                </a>
		                            </li>
		                        </ul>
		            		</div>
	                    </div>
						<div class="container text--center">
		                    <div class="row">
			            		<div class="column column--12-col">
									<a class="btn btn--default" href="http://www.flickr.com/photos/jamiederycke/" title="See more at Flickr" target="_blank" data-ga-category="See More" data-ga-action="Click" data-ga-label="Flickr">
										Flickr
										<span class="genericon flickr  font-effect-wallpaper"></span>
									</a>

									<a class="btn btn--default" href="http://500px.com/jamiederycke" title="See more at 500px" target="_blank" data-ga-category="See More" data-ga-action="Click" data-ga-label="500px">
										500px
										<span class="genericon fivehundred font-effect-wallpaper"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="loading-container">
						<div class="loading-ring">
							<div class="light">

							</div>
							<span class="text">loading...</span>
						</div>
					</div>
                </section>
                <div class="seperator-section picture">
                    <div class="container">
                        <blockquote>
                            <span class="font-effect-wallpaper">Creativity is contagious, pass it on.</span>
                            <cite>Albert Enstein</cite>
                        </blockquote>
                    </div>
                </div>
                <section id="blog" class="page blog" data-ng-class="{'waiting': waiting}" blog="">
					<div class="main-content animate">
						<div class="container">
		                    <div class="row">
			            		<div class="column column--12-col grid-items">
									<h2 class="nav-text font-effect-wallpaper">Articles<em>.</em></h2>
								</div>
							</div>
						</div>
	                    <div class="row">
	                        <div class="column--12-col grid-items">
	                            <div class="grid row">
	                                <article class="grid__item column column--sm--2-col column--4-col no-gutters" data-ng-repeat="entry in feed.items | orderBy : datePublished | limitTo : 8" data-ng-cloak itemscope="" itemtype="http://schema.org/Article">
	                                    <a class="grid__item--link" data-ng-href="{{entry.link}}" title="{{entry.title}}" data-ga-category="Blog links" data-ga-action="Click" data-ga-label="{{entry.title}}">
											<div class="grid__item__content">
		                                        <header class="article-header">
		                                            <span class="entry-time clock" data-ng-bind="entry.publishedDate | date:'MMMM d, y'">Article Time</span>
		                                        </header>
												<div class="article-content">
													<h3 class="entry-title" data-ng-bind="entry.title">Article Title</h3>
													<p class="entry-excerpt" data-ng-bind="entry.contentSnippet">Excerpt</p>
												</div>
												<footer class="article-footer">
													<div class="content">
	                                                    See the full post
	                                                    <span class="genericon chevron--right"></span>
	                                                </div>
												</footer>
											</div>
	                                        <div class="overlay animate">
	                                            <div class="overlay__content">
	                                                <h3 class="overlay__content--title" data-ng-bind="entry.title">Overlay Title</h3>
	                                                <span class="genericon newspaper"></span>
	                                            </div>
											</div>
	                                    </a>
	                                </article>
	                            </div>
	                        </div>
						</div>
						<div class="container text--center">
							<div class="row">
								<div class="column column--12-col">
									<a href="http://blog.jamiederycke.me.uk" class="btn btn--default" title="See more blog posts" data-ga-category="See More" data-ga-action="Click" data-ga-label="Blog">
										See more
										<span class="genericon chevron--right font-effect-wallpaper"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
                    <div class="loading-container">
                        <div class="loading-ring">
                            <div class="light">

                            </div>
                            <span class="text">loading...</span>
                        </div>
					</div>
                </section>
				<div class="seperator-section picture">
					<div class="container">
						<blockquote>
							<span class="font-effect-wallpaper">It is not our abilities that show what we truly are.</span>
							<span class="font-effect-wallpaper">It is our choices.</span>
							<cite>Professor Albus Percival Wulfric Brian Dumbledore</cite>
						</blockquote>
					</div>
				</div>
            </main>
			<footer id="footer" class="site-footer">
				<a class="genericon btn__scroll btn__scroll--up chevron--up" href="#top" data-ng-click="scrollTo('home', $event)" title="Back up to home" data-ga-category="Scroll arrows" data-ga-action="Click" data-ga-label="Up arrow (Footer)">

				</a>
				<div class="container site-footer__content" id="social" >
					<small class="site-footer__copyright">&copy; 2016 Jamie De Rycke. All Rights Reserved. Handcrafted pixels &amp; Code.</small>
					<ul class="site-footer__social">
						<li class="site-footer__social-item">
							<a class="genericon facebook font-effect-wallpaper" href="http://www.facebook.com/jamie.derycke/" title="Facebook" target="_blank" data-ga-category="Social links" data-ga-action="Click" data-ga-label="Facebook">

							</a>
						</li>
						<li class="site-footer__social-item">
							<a class="genericon twitter font-effect-wallpaper" href="http://www.twitter.com/jderycke/" title="Twitter" target="_blank" data-ga-category="Social links" data-ga-action="Click" data-ga-label="Twitter">

							</a>
						</li>
						<li class="site-footer__social-item">
							<a class="genericon google-plus font-effect-wallpaper" href="http://plus.google.com/u/0/113337118368975520999/posts/" title="Google+" target="_blank" data-ga-category="Social links" data-ga-action="Click" data-ga-label="Google+">

							</a>
						</li>
						<li class="site-footer__social-item">
							<a class="genericon linkedin font-effect-wallpaper" href="http://uk.linkedin.com/in/jamiederycke/" title="LinkedIn" target="_blank" data-ga-category="Social links" data-ga-action="Click" data-ga-label="LinkedIn">

							</a>
						</li>
					</ul>
				</div>
			</footer>
        </div>
		<div class="blocker animate" data-ga-category="Nav" data-ga-action="Click" data-ga-label="Close Burger Menu"></div>

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.0/angular-scroll.min.js"></script>
        <script type="text/javascript" src="js/portfolioApp.min.js"></script>

		<!-- Google Analytics -->
		<script>
			window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
			ga('create', 'UA-39364857-1', 'auto');
			ga('send', 'pageview');
		</script>
		<script async src='//www.google-analytics.com/analytics.js'></script>
		<!-- End Google Analytics -->
    </body>
</html>
