.animate {
    transition: all .25s ease-in-out;

    &--fade-in {
        animation: fadein 2.5s;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition-property: opacity;
    transition-duration: .25s;
}

.fade-enter-active {
    transition-delay: .25s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotate_pacman_half_up  {
    0% {
        transform: rotate(270deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes rotate_pacman_half_down  {
    0% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes pacman_balls {
    75% {
        opacity: .7;
    }

    100% {
        transform: translate(-4 * $size, -$size / 4);
    }
}
