@include font-face('Genericons', '/static/fonts/icomoon', normal, normal, $file-formats: eot truetype woff svg);

.genericon {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    height: rem(62);
    width: rem(62);
    line-height: rem(54);
    font-family: $font-family-genericons;
    vertical-align: middle;
    cursor: pointer;
    font-weight: $font-weight-normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.clock::before {
    content: '\e8b5';
}

.arrow {
    &--left::before {
        content: '\e5c4';
    }

    &--right::before {
        content: '\e5c8';
    }

    &--down::before {
        content: '\e5db';
    }

    &--up::before {
        content: '\e5d8';
    }
}

.camera::before {
    content: '\e412';
}

.close::before {
    content: '\e5cd';
}

.tick::before {
    content: '\e876';
}

.chevron {
    &--down::before {
        content: '\e313';
    }

    &--left::before {
        content: '\e314';
    }

    &--right::before {
        content: '\e315';
    }

    &--up::before {
        content: '\e316';
    }
}

.mouse::before {
    content: '\e323';
}

.person::before {
    content: '\e7fd';
}

.web::before {
    content: '\e80b';
}

.emoji {
    &--unhappy::before {
        content: '\e811';
    }

    &--neutral::before {
        content: '\e812';
    }

    &--happy::before {
        content: '\e813';
    }

    &--very_unhappy::before {
        content: '\e814';
    }

    &--very_satisfied::before {
        content: '\e815';
    }
}

.notes::before {
    content: '\e8cd';
}

.mail::before {
    content: '\f003';
}

.house::before {
    content: '\f015';
}

.thumbs {
    &--up::before {
        content: '\f087';
    }

    &--down::before {
        content: '\f088';
    }
}

.social {
    &--twitter::before {
        content: '\f099';
    }

    &--facebook::before {
        content: '\f09a';
    }

    &--google-plus::before {
        content: '\f0d5';
    }

    &--google::before {
        content: '\f1a0';
    }

    &--linkedin::before {
        content: '\f0e1';
    }

    &--instagram::before {
        content: '\f16d';
    }

    &--fivehundred::before {
        content: '\f26e';
    }

    &--rss::before {
        content: '\ea9b';
    }

    &--youtube::before {
        content: '\ea9d';
    }

    &--flickr::before {
        content: '\eaa4';
    }

    &--dribbble::before {
        content: '\eaa7';
    }

    &--github::before {
        content: '\eab0';
    }

    &--wordpress::before {
        content: '\eab4';
    }

    &--pinterest::before {
        content: '\ead2';
    }
}

.os {
    &--apple::before {
        content: '\f179';
    }

    &--android::before {
        content: '\f17b';
    }

    .windows::before {
        content: '\eac1';
    }

    .windows8::before {
        content: '\eac2';
    }
}

.browser {
    .chrome::before {
        content: '\f268';
    }

    .firefox::before {
        content: '\f269';
    }

    .internet-explorer::before {
        content: '\f26b';
    }

    &--edge::before {
        content: '\f282';
    }

    .opera::before {
        content: '\eade';
    }
}

.commenting::before {
    content: '\f27b';
}


.pencil::before {
    content: '\e906';
}

.tags::before {
    content: '\e936';
}

.tv::before {
    content: '\e95b';
}

.search::before {
    content: '\e986';
}

.eye {
    &--plus::before {
        content: '\e9cf';
    }

    &--minus::before {
        content: '\e9d0';
    }
}

.star {
    &--empty::before {
        content: '\e9d7';
    }

    &--half::before {
        content: '\e9d8';
    }

    &--full::before {
        content: '\e9d9';
    }
}

.html-five::before {
    content: '\eae5';
}
