h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    padding: 0;
    margin: 0 0 rem(15);
    font-family: $font-family-headings;
    font-weight: $font-weight-thin;

    em {
        color: $site-color;
        font-style: normal;
    }
}

h1,
.h1 {
    font-size: rem(130);
}

h2,
.h2 {
    font-size: rem(42);
    line-height: rem(52);
}

h3,
.h3 {
    font-size: rem(32);
    line-height: rem(42);
}

h4,
.h4 {
    font-size: rem(22);
    line-height: rem(32);
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}

a {
    transition: all .4s ease-in-out;
    color: $site-color;
    text-decoration: underline;

    &:hover {
        color: $grey-tint1;
        text-decoration: none;
    }
}

p {
    margin: 0 0 rem(15);
    font-size: rem(16);
    line-height: rem(22);
}

blockquote {
    font-size: rem(32);
    line-height: rem(38);
    letter-spacing: -0.6px;
    border-left: 4px solid $site-color;
    padding: rem(15) 0 rem(15) rem(15);
    margin: rem(15) rem(30) rem(15) -20%;
    max-width: 55%;
    float: left;
    font-weight: $font-weight-light;

    cite {
        display: block;
        font-size: rem(16);
        line-height: rem(26);
        font-style: normal;
        font-family: $font-family-default;
        font-weight: $font-weight-regular;
        margin-top: rem(10);
        color: $grey;
    }
}

figure {
    position: relative;
    margin-bottom: rem(15)

    figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $site-color;
        color: $white;
        display: inline-block;
        padding: rem(5) rem(15);
    }
}

.font-effect-wallpaper {
    mask: url('/static/img/wallpaper.png') top left;
}

.text {
    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    &--justify {
        text-align: justify;
    }

    &--small {
        margin-top: $gutter;
        color: $grey-tint1;
        font-size: rem(14);
    }
}
