h1,
h2,
h3,
h4 {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto rem(15);
    font-family: $font-family-headings;
    font-weight: $font-weight-thin;

    em {
        color: $site-color;
        font-style: normal;
    }
}

h1 {
    font-size: rem(62);
}

h2 {
    font-size: rem(42);
    line-height: rem(52);
}

h3 {
    font-size: rem(32);
    line-height: rem(42);
}

h4 {
    font-size: rem(22);
    line-height: rem(32);
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}

a {
    transition: all .4s ease-in-out;
    color: $site-color;
    text-decoration: underline;

    &:hover {
        color: $grey-tint1;
        text-decoration: none;
    }
}

p {
    margin: 0 0 rem(15);
    font-size: rem(16);
    line-height: rem(22);
}

blockquote {
    position: relative;
    font-family: $font-family-default;
    font-weight: $font-weight-light;
    font-size: rem(24);
    line-height: rem(34);
    padding: 0 rem(35);
    margin: 0 auto;

    &:before {
        color: $site-color;
        font-weight: $font-weight-regular;
        position: absolute;
        font-size: rem(82);
        top: rem(20);
        left: 0;
        content: "\201C";
    }

    &:after {
        color: $site-color;
        font-weight: $font-weight-regular;
        position: absolute;
        float: right;
        font-size: rem(82);
        right: 0;
        bottom: rem(-25);
        content: "\201D";
    }

    .line {
        display: block;
        letter-spacing: -2px;
        font-weight: $font-weight-light;
    }

    footer {
        margin-top: rem(10);
        text-align: right;
    }

    cite {
        font-weight: $font-weight-bold;
        font-style: normal;
        font-size: rem(16);
        line-height: rem(26);
        color: $grey-tint1;

        &:before {
            content: "\2013";
        }
    }
}

figure {
    position: relative;
    margin-bottom: rem(15)

    figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $site-color;
        color: $white;
        display: inline-block;
        padding: rem(5) rem(15);
    }
}

.font-effect-wallpaper {
    mask: url('/static/img/wallpaper.png') top left;
}

.text {
    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    &--justify {
        text-align: justify;
    }

    &--small {
        margin-top: $gutter;
        color: $grey-tint1;
        font-size: rem(14);
    }
}
