html,
body {
    font-size: 100%;
}

::selection {
    background: $site-color;
    color: $white-tint1;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: $font-default;
    font-weight: 300;
    color: $black-tint1;
    background-color: $white-tint1;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include font-feature-settings('liga');
}

img {
    border: 0;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}

figure {
    margin: 0;
    padding: 0;

    figcaption {
        color: $white-tint1;
        padding: $gutter;
        background-color: rgba($black, .6);
    }
}

blockquote {
    font-size: rem(18);
    line-height: 1.2;
    border-left: 4px solid $site-color;
    padding: 0 0 0 rem(20);
    margin: rem(15) 0 rem(25);
    font-weight: 900;
    line-height: 1.4;

    cite {
        display: block;
        font-size: rem(12);
        font-style: normal;
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
        font-weight: 300;
        line-height: 1;
        margin-top: $gutter;
        color: $grey-tint1;

        &:before {
            content: '\2014 \2009';
        }
    }
}

.animate {
    @include transition(all .6s cubic-bezier(.7, .01, .3, 1));
}


.site-wrapper {
    position: relative;
    right: 0;
    transition: .6s right ease-in-out;
}

.page {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: $white;
    box-sizing: border-box;
    z-index: 1;
    padding-top: rem(95);
    padding-bottom: rem(75);
}

.slideContent {
    transition: .6s right ease-in-out;
    position: fixed;
    z-index: 3;
    top: 0;
    right: rem(-300);
    width: rem(300);
    height: 100%;
    background: $black-tint1;

    @include media($tablet) {
        position: relative;
        right: auto;
        height: $navbar-height;
        display: inline-block;
        float: right;
        width: rem(477);
        background-color: transparent;
    }
}

.burgerMenu {
    position: fixed;
    top: rem(15);
    right: rem(20);
    z-index: 4;
    background-color: transparent;
    outline: 0;
    margin: 0;
    padding: 0;
    height: rem(42);
    width: rem(42);
    transition: all .6s ease-in-out;
    transform: rotate(0);
    transform-origin: center center;
    -webkit-tap-highlight-color: rgba($black, 0);
    border: 0;
    cursor: pointer;
    @include user-select (none);

    @include media($tablet) {
        display: none;
    }
}

.lines {
    display: block;
    border-radius: rem(10);
    width: rem(42);
    height: rem(4);
    position: absolute;
    z-index: -1;
    transform: rotate(0);
    transition: all .2s ease-in-out;
    background-color: $white;
    right: 0;
    content: '';
    cursor: pointer;

    &:before,
    &:after {
        display: block;
        border-radius: rem(10);
        width: rem(42);
        height: rem(4);
        position: absolute;
        z-index: -1;
        transform: rotate(0);
        transition: all .2s ease-in-out;
        background-color: $white;
        right: 0;
        content: '';
    }

    &:before {
        top: rem(-12);
    }

    &:after {
        bottom: rem(-12);
    }

    &:hover {
        background-color: $site-color;

        &:before,
        &:after {
            background-color: $site-color;
        }
    }
}

.mainMenu {
    position: relative;
    padding-bottom: 2em;

    @include media($tablet) {
        padding-bottom: 0;
    }
}

.menuActive {
    overflow: hidden;

    .lines {
        background-color: transparent;

        &:before,
        &:after {
            transform-origin: 50% 50%;
            top: 0;
            width: 3rem;
        }

        &:before {
            transform: rotate3d(0, 0, 1, 45deg);
        }

        &:after {
            transform: rotate3d(0, 0, 1, -45deg);
        }
    }

    .slideContent {
        right: 0;
    }

    .burgerMenu,
    .site-header,
    .site-wrapper {
        right: rem(300);

        @include media($tablet) {
            right: 0;
        }
    }

    .blocker {
        opacity: 1;
        z-index: 4;
    }

    .site-header {
        background-color: $black-tint1;
    }
}

.blocker {
    background-color: rgba($white-tint1, .6);
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate--fade-in {
    animation: fadein 3.4s;
}
