.wrapper {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.container,
.row,
.column {
    box-sizing: border-box;
    position: relative;
    content: '';

    &:before,
    &:after {
        display: table;
        content: '';
        line-height: 0;
        @include clearfix();
    }
}

.container {
    @include outer-container;
    width: 100vw;
    max-width: $screen-lg;
    padding-left: $gutter;
    padding-right: $gutter;

    @include media($tablet) {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.row {
    @include align-items(stretch);
    @include justify-content(flex-start);
    @include display(flex);
    @include flex(0 1 auto);
    @include flex-direction(row);
    @include flex-wrap(wrap);

    &--alt {
        background-color: $white-tint1;
    }
}

.column {
    position: relative;
    min-height: 1px;
    @include flex(0 0 auto);
    @include full-size($gutter);
    @include flex-grow(1);
    padding-left: 0;
    padding-right: 0;

    @include media($tablet) {
        padding-right: $gutter;
        padding-left: $gutter;
    }

    &:first-of-type {
        padding-left: 0;
    }

    &:last-of-type {
        padding-right: 0;
    }

    &--flex-wrap {
        @include align-items(stretch);
        @include justify-content(flex-start);
        @include display(flex);
        @include flex(0 1 auto);
        @include flex-direction(row);
        @include flex-wrap(wrap);
    }

    &.no-gutters {
        padding-left: 0;
        padding-right: 0;
    }

    // Define order override classes.
    @for $i from 1 through $grid-max-columns {
        &--order-#{$i} {
            order: $i;
        }
    }

    // Define partial sizes for columnNumber < totalColumns.
    @for $i from 1 through ($grid-phone-columns - 1) {
        &--xs-#{$i}-col {
            @include partial-size($i, $grid-phone-columns, $grid-phone-gutter);
        }
    }

    // Define 100% for everything else.
    @for $i from $grid-phone-columns through $grid-phone-columns {
        &--xs-#{$i}-col {
            @include full-size($grid-phone-gutter);
        }
    }

    @include media($tablet) {
        // Define partial sizes for columnNumber < totalColumns.
        @for $i from 1 through ($grid-desktop-columns - 1) {
            &--#{$i}-col {
                @include partial-size($i, $grid-desktop-columns, $grid-desktop-gutter);
            }
        }

        // Define 100% for everything else.
        @for $i from $grid-desktop-columns through $grid-desktop-columns {
            &--#{$i}-col {
                @include full-size($grid-desktop-gutter);
            }
        }

        // Define valid tablet offsets.
        @for $i from 1 through ($grid-desktop-columns - 1) {
            &--#{$i}-offset {
                @include offset-size($i, $grid-desktop-columns, $grid-desktop-gutter);
            }
        }
    }
}
