h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0 0 rem(15);
    color: $black-tint3;
    font-family: $font-default;
    font-weight: 400;
    text-align: center;

    em {
        color: $site-color;
        font-style: normal;
    }
}

h1 {
    font-size: rem(130);
    font-weight: 800;
}

h2 {
    font-size: rem(48);
    line-height: rem(58);
    font-weight: 800;
}

h3 {
    font-size: rem(36);
    line-height: rem(46);
}

h4 {
    font-size: rem(22);
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
    display: inline;
}

a {
    @include transition(all .6s ease-in-out);
    color: $site-color;
    text-decoration: underline;

    &:hover {
        color: $grey-tint1;
        text-decoration: none;
    }
}

p {
    margin: 0 0 rem(15);
    font-size: rem(18);
    line-height: 1.8;
}


blockquote {
    font-size: rem(18);
    line-height: 1.2;
    border-left: 4px solid $site-color;
    padding: 0 0 0 rem(20);
    margin: rem(15) 0 rem(25);
    font-weight: 900;
    line-height: 1.4;

    cite {
        display: block;
        font-size: rem(12);
        font-style: normal;
        font-family: $font-default;
        font-weight: 300;
        line-height: 1;
        margin-top: $gutter;
        color: $grey-tint1;
    }
}

.font-effect-wallpaper {
    // scss-lint:disable VendorPrefix
    -webkit-mask: url('../img/wallpaper.png') top left;
    -moz-mask: url('../img/wallpaper.png') top left;
    // scss-lint:enable VendorPrefix
    mask: url('../img/wallpaper.png') top left;
}

.text {
    &--center {
        text-align: center;
    }

    &--small {
        margin-top: $gutter;
        color: $grey-tint1;
        font-size: rem(14);
    }
}
