.btn {
    text-align: center;
    text-decoration: none;
    color: $white;
    background-color: $black-tint3;
    border: solid 2px $black-tint3;

    &:hover {
        background-color: $site-color;
        border-color: $site-color;
        color: $white;
        outline: none;
    }

    &--default {
        display: inline-block;
        margin: $gutter rem(15) 0;
        border-radius: 25px;
        padding: 0 rem(5) 0 rem(20);
        font-size: rem(18);
        line-height: rem(42);
        text-align: left;
        margin: rem(20) rem(15) 0;
        font-weight: 900;

        .genericon {
            height: rem(42);
            width: rem(42);
            line-height: rem(42);
            float: right;
            margin-left: rem(5);
        }
    }

    &--social {
        display: inline-block;
        cursor: pointer;
        text-align: center;
        font-size: rem(42);
        line-height: rem(42);
        width: rem(42);
        height: rem(42);
        margin: 0 rem(10);
        text-decoration: none;

        .genericon {
            font-size: rem(22);
            line-height: rem(36);
            width: rem(42);
            height: rem(42);
        }
    }

    &--flickr {
        &:hover {
            background-color: $flickr-pink;
            border-color: $flickr-pink;
        }
    }

    &--fivehundred {
        &:hover {
            background-color: $fivehundred-blue;
            border-color: $fivehundred-blue;
        }
    }

    &__scroll {
        display: block;
        cursor: pointer;
        text-align: center;
        background-color: $grey;
        color: $grey-tint1;
        font-size: rem(42);
        line-height: rem(42);
        width: rem(42);
        height: rem(42);
        margin: 0 auto;
        text-decoration: none;

        &--up {
            opacity: 0;
            position: fixed;
            z-index: 1;
            line-height: rem(36);
            bottom: $gutter;
            right: $gutter;
            z-index: 5;
            color: $white;
            background-color: $black-tint1;

            @include media($tablet) {
                bottom: rem(42);
                right: rem(20);
            }
        }

        &--down {
            position: absolute;
            background-color: rgba($site-color, .4);
            color: $white;
            bottom: rem(60);
            left: 50%;
            margin-left: rem(-21);
        }

        &.show {
            opacity: 1;
        }
    }
}
