.grid {
    &__item {
        background-color: $grey;
        margin-bottom: $gutter;
        vertical-align: middle;
        display: block;
        text-align: center;
        box-shadow: 0 2px 4px 0 rgba($black, .4);

        @include media($tablet) {
            @include flex-basis(48%);
            margin-right: $gutter;

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }

        @include media($desktop) {
            @include flex-basis(32%);

            &:nth-child(2n) {
                margin-right: $gutter;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }
        }

        &--link {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            position: relative;
            color: $grey-tint1;

            &:hover {
                @include filter(grayscale(100%));

                .overlay {
                    opacity: 1;
                }
            }
        }

        &--image {
            @include transition(all .6s ease-in-out);
            background-image: url('../img/blank.png');
            background-color: $white-tint1;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: rem(260);
            width: 100%;

            &.web {
                background-position: center top;

                &::before {
                    content: '';
                }
            }

            &.camera {
                &::before {
                    content: '';
                }
            }
        }

        &:nth-child(odd) {
            background-color: $white-tint1;
        }
    }
}

.overlay {
    @include justify-content(center);
    @include align-items(center);
    @include display(flex);
    @include transition(all .6s ease-in-out);
    width: 100%;
    height: 100%;
    background-color: rgba($black, .6);
    opacity: 0;
    position: absolute;
    text-align: center;
    color: $white-tint1;
    top: 0;
    left: 0;

    &__content {
        color: $white-tint1;
        text-transform: uppercase;
        padding: $gutter;
        width: 100%;
        vertical-align: middle;
        line-height: 1.4;
        text-align: center;

        &--title {
            font-size: rem(24);
            font-weight: 900;
            color: $white-tint1;
        }
    }

    .genericon {
        color: $white-tint1;
        font-size: rem(42);
        border: solid 4px $white-tint1;
        border-radius: 50%;
        height: rem(82);
        width: rem(82);
        line-height: rem(74);
    }
}
