.site-footer {
    @include transition(all .6s ease);
    width: 100%;
    background-color: $black-tint1;

    &__content {
        z-index: 1;
        vertical-align: middle;
        max-width: 100%;
    }

    &__copyright {
        font-size: rem(14);
        line-height: 2;
        margin: $gutter auto rem(10);
        vertical-align: middle;
        display: block;
        text-align: center;
        text-transform: uppercase;
        color: $white;

        @include media($desktop) {
            margin: 0 auto;
            line-height: rem(42);
            display: inline-block;
            text-align: left;
        }

        &:before {
            content: '';
        }
    }
}
