.site-header {
    @include transition(all .6s ease);
    width: 100%;
    height: $navbar-height;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    overflow: hidden;

    &__content {
        max-width: 100%;

        @include media($tablet) {
            padding-left: $gutter;
            padding-right: $gutter;
        }
    }

    &__logo {
        height: $navbar-height;
        width: $navbar-height;
        display: inline-block;
        text-align: center;
        position: relative;;
        z-index: 4;

        &:before {
            content: '';
            display: block;
            background-image: url('../img/logo114x114.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: $navbar-height;
            height: $navbar-height;
            // scss-lint:disable VendorPrefix
            -webkit-mask: url('../img/wallpaper.png') top left;
            -moz-mask: url('../img/wallpaper.png') top left;
            // scss-lint:enable VendorPrefix
            mask: url('../img/wallpaper.png') top left;
        }

        &:hover {
            background-color: $site-color;

            .site-header__logo__dot {
                background-color: $black-tint1;
            }
        }

        .srt {
            display: none;
        }

        &__dot {
            @include transition(background-color .4s ease);
            display: block;
            position: absolute;
            background-color: $site-color;
            height: rem(12);
            width: rem(12);
            right: rem(8);
            bottom: rem(8);
            border-radius: 50%;
        }
    }

    &--scrolled {
        background-color: $black-tint1;
        box-shadow: 0 2px 4px 0 rgba($black, .4);
    }
}

.nav {
    width: 100%;

    @include media($tablet) {
        display: inline-block;
        float: right;
        width: auto;
    }

    &__menu {
        text-align: center;
        width: 100%;

        @include media($tablet) {
            list-style: none;
            overflow: hidden;
            text-align: right;
            float: right;
        }

        &__item {
            display: block;
            position: relative;
            margin-left: 0;
            border-bottom: solid 1px $grey-tint1;

            &:first-of-type {
                border-top: solid 1px $grey-tint1;
            }

            &:last-of-type {
                border-bottom: none;
            }

            @include media($tablet) {
                display: inline-block;
                margin-left: rem(35);
                border-bottom: 0;
            }
        }

        &__link {
            display: block;
            color: $white;
            text-decoration: none;
            line-height: $navbar-height;
            font-weight: 900;
            position: relative;
            text-align: center;
            font-size: rem(22);

            &:hover {
                color: $white;
                background-color: $black;

                @include media($tablet) {
                    color: $grey-tint1;
                    background-color: transparent;
                }
            }

            &--active {
                color: $site-color;
                background-color: $black;
                cursor: default;

                @include media($tablet) {
                    color: $site-color;
                    background-color: transparent;
                }

                &:hover {
                    color: $site-color;
                }
            }
        }

        &__text {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;
            text-transform: uppercase;
        }
    }
}
