.social {
    margin: 0 auto $gutter;
    display: block;
    text-align: left;

    &--alt {
        margin: 0 auto;
        position: relative;

        @include media($screen-md) {
            position: absolute;
        }
    }

    &__item {
        margin: 0 rem(10) 0 0;
        display: inline-block;

        &:last-of-type {
            margin: 0;
        }
    }

    .genericon {
        line-height: rem(42);
        height: rem(42);
        width: rem(42);
        font-size: rem(22);
        background-color: transparent;
        color: $black;
        text-align: left;

        &--alt {
            line-height: rem(44);
            height: rem(44);
            width: rem(44);
            background-color: rgba($site-color, .45);
            color: $white;
            text-align: center;
        }

        &:hover {
            background-color: $white;
        }

        &.social--facebook {
            &:hover {
                color: $facebook-blue;
            }
        }

        &.social--twitter {
            &:hover {
                color: $twitter-blue;
            }
        }

        &.social--google-plus {
            &:hover {
                color: $google-red;
            }
        }

        &.social--linkedin {
            &:hover {
                color: $linkedin-blue;
            }
        }

        &.social--flickr {
            &:hover {
                color: $flickr-pink;
            }
        }

        &.social--pinterest {
            &:hover {
                color: $pinterest-red;
            }
        }

        &.social--fivehundred {
            font-size: rem(28);

            &:hover {
                color: $fivehundred-blue;
            }
        }

        &.social--rss {
            &:hover {
                color: $rss-orange;
            }
        }

        &.social--wordpress {
            font-size: rem(28);

            &:hover {
                color: $wordpress-blue;
            }
        }
    }
}
