.social {
    margin: 0 auto $gutter;
    display: block;
    text-align: center;

    @include media($desktop) {
        margin: 0 auto;
        display: inline-block;
        text-align: right;
        float: right;
    }

    &--alt {
        margin: 0 auto;
        position: relative;
        text-align: left;
        float: none;

        @include media($desktop) {
            margin: 0 0 0 10px;
            float: none;
            position: absolute;
        }
    }

    &__item {
        margin: 0 rem(10) 0 0;
        display: inline-block;

        &:last-of-type {
            margin: 0;
        }
    }

    .genericon {
        line-height: rem(42);
        height:rem(42);
        width: rem(42);
        font-size: rem(22);
        background-color: transparent;
        color: $white;

        &--alt {
            line-height: rem(44);
            height:rem(44);
            width: rem(44);
            background-color: rgba($site-color, .45);
        }

        &:hover {
            color: $white;
        }

        &.social--facebook {
            &:hover {
                background-color: $facebook-blue;
            }
        }

        &.social--twitter {
            &:hover {
                background-color: $twitter-blue;
            }
        }

        &.social--google-plus {
            &:hover {
                background-color: $google-red;
            }
        }

        &.social--linkedin {
            &:hover {
                background-color: $linkedin-blue;
            }
        }

        &.social--flickr {
            &:hover {
                background-color: $flickr-pink;
            }
        }

        &.social--pinterest {
            &:hover {
                background-color: $pinterest-red;
            }
        }

        &.social--fivehundred {
            font-size: rem(28);

            &:hover {
                background-color: $fivehundred-blue;
            }
        }

        &.social--rss {
            &:hover {
                background-color: $rss-orange;
            }
        }

        &.social--wordpress {
            font-size: rem(28);

            &:hover {
                background-color: $wordpress-blue;
            }
        }
    }
}
