.timeline {
    &__block {
        position: relative;
    	margin-left: 60px;
    	background-color: $white-tint1;
    	padding: $gutter;
        max-width: 300px;
        float: left;
        display: block;

        &:nth-child(even) {
            float: right;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: rem(18);
            height: 100%;
            width: 4px;
            background-color: $site-color;
        }
    }
}
