.btn {
    transition: all .6s ease-in-out;
    font-weight: $font-weight-bold;
    padding: 0 rem(45) 0 rem(15);
    margin: 0 auto;
    background-color: $site-color;
    border: 0;
    border-bottom: solid 2px shade($site-color, 40%);
    color: $black-tint2;
    font-size: rem(16);
    line-height: rem(42);
    text-align: center;
    position: relative;
    text-decoration: none;
    width: auto;
    max-width: rem(380);
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        background-color: shade($site-color, 40%);
        border-color: $site-color;
        color: $white;
        outline: none;
    }

    &--default {
        display: inline-block;
        text-align: left;
        padding: 0 rem(45) 0 rem(15);
        line-height: rem(42);
        font-family: $font-family-fa;
        font-weight: $font-weight-fa-bold;

        &:before {
            display: block;
            position: absolute;
            right: rem(15);
            font-size: rem(16);
            content: fa-content($fa-var-chevron-right);
        }
    }

    &__text {
        line-height: rem(42);
        font-family: $font-family-default;
        font-weight: $font-weight-bold;
    }

    &__wrapper {
        margin-top: $gutter;

        &--top {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 0;
            margin-right: $gutter;
        }
    }

    &__scroll {
        display: block;
        cursor: pointer;
        text-align: center;
        background-color: $black;
        color: $white;
        font-size: rem(42);
        line-height: rem(42);
        width: rem(42);
        height: rem(42);
        margin: 0 auto;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            background-color: $site-color;
            color: $white;
        }

        &--up {
            opacity: 0;
            display: none;
            position: fixed;
            z-index: 1;
            line-height: rem(36);
            bottom: rem(62);
            right: rem(10);

            @include media($screen-sm) {
                right: $gutter;
                bottom: rem(40);
            }
        }

        &--down {
            position: absolute;
            background-color: rgba($site-color, .45);
            bottom: rem(112);
            right: rem(10);
            z-index: 2;

            @include media($screen-sm) {
                right: $gutter;
                bottom: rem(40);
            }
        }

        &.show {
            opacity: 1;
            display: block;
        }
    }
}
