.grid {
    display: grid;
    grid-gap: rem(20);
    grid-template-columns: repeat(1, 1fr);

    @include media($screen-sm) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media($screen-md) {
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        background-color: $grey;
        vertical-align: middle;
        display: block;
        box-shadow: rem(4) rem(4) rem(10) rgba($black, .16);

        &--link {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            position: relative;
            color: $grey-tint1;

            &:hover {
                text-decoration: none;

                .overlay {
                    opacity: 1;
                }
            }
        }

        &--image {
            background-image: url('/static/img/blank.png');
            background-color: $white-tint1;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: rem(260);
            width: 100%;

            &.web {
                background-position: center top;

                &::before {
                    content: '';
                }
            }

            &.camera {
                &::before {
                    content: '';
                }
            }
        }

        &__content {
            padding: $gutter rem(10) rem(40);
            display: table-cell;
            vertical-align: middle;

            @include media($screen-sm) {
                padding: $gutter $gutter rem(40);
            }
        }
    }
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
    width: 100%;
    height: 100%;
    background-color: rgba($site-color, .8);
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;

    &__content {
        text-transform: uppercase;
        padding: $gutter;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        color: $black-tint1;

        &--title {
            font-size: rem(20);
            line-height: rem(24);
            font-family: $font-family-headings;
            font-weight: $font-weight-bold;
            text-align: center;
        }
    }

    .fa {
        font-size: rem(42);
        height: rem(72);
        width: rem(72);
        line-height: rem(64);
        border: solid 4px $black-tint1;
        color: $black-tint1;
        border-radius: 50%;
    }
}
