.article {
    &__header {
        color: $black;

        &__title {
            font-size: rem(22);
            color: $black-tint1;
            line-height: rem(32);
            margin: 0 auto rem(15);
            font-family: $font-family-headings;
            font-weight: $font-weight-regular;
            text-align: left;
        }
    }

    &__content {
        margin: rem(10) auto;
        font-size: rem(16);
        white-space: pre-line;

        p {
            font-size: rem(16);
            margin-bottom: rem(10);
        }
    }

    &__footer {
        color: $site-color;
        position: absolute;
        bottom: 0;
        width: calc(100% - 40px);

        &__content {
            margin: 0 auto $gutter;
            padding: 0;
            text-align: right;
        }
    }

    &__meta {
        display: block;
        margin: 0 auto;
        text-align: left;
        font-size: rem(14);
        line-height: rem(20);

        &--page {
            margin: 0 auto rem(15);
        }

        &__item {
            display: inline-block;
            margin-right: rem(15);
            padding-left: rem(20);
            position: relative;

            &::before {
                position: absolute;
                border-radius: 50%;
                margin-top: -4px;
                width: 8px;
                background-color: $site-color;
                top: 50%;
                content: '';
                height: 8px;
                left: 0;
            }

            &:first-of-type {
                padding-left: 0;

                &::before {
                    background-color: transparent;
                }
            }
        }
	  }
}

.post {
    background-color: $white;
    transform: translate3d(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 42px);
    overflow-y: scroll;
    z-index: 1;
    padding-left: rem(10);
    padding-right: rem(10);

    @include media($screen-sm) {
        padding-left: $gutter;
        padding-right: $gutter;
    }

    &-enter-active {
      transition: all 375ms cb(out) 225ms
    }

    &-leave-active {
      transition: all 300ms cb(in)
    }

    &-enter,
    &-leave-to {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
}
