.info-box {
    display: table;
    align-items: center;
    margin: 0 auto;
    height: calc(100vh - 42px);

    &__content {
        display: table-cell;;
        vertical-align: middle;
    }

    &__title {
        font-size: rem(22);
        line-height: rem(32);

        &--large {
            font-size: rem(32);
            line-height: rem(42);

            @include media($screen-sm) {
                font-size: rem(42);
                line-height: rem(52);
            }
        }
    }

    &__line {
        display: block;
        font-family: $font-family-headings;
        font-weight: $font-weight-bold;

        &__content {
            display: inline-block;
        }
    }

    &__sub-title {
        font-family: $font-family-default;
        font-weight: $font-weight-normal;
        font-size: rem(16);
        display: inline-block;
    }
}
