.info-box {
    position: relative;
    margin: 0 auto;

    @include media($screen-md) {
        display: grid;
        justify-content: start;
        align-items: center;
    }

    &__text {
        display: block;
        float: left;
        margin: rem(20) 0;
        z-index: 2;

        @include media($screen-md) {
            margin: rem(20);
        }
    }

    &__title {
        font-family: $font-family-headings;
        font-weight: $font-weight-thin;
        font-size: rem(26);
        margin-bottom: 0;

        &--large {
            font-size: rem(32);

            @include media($screen-sm) {
                font-size: rem(62);
            }
        }
    }

    &__sub-title {
        font-family: $font-family-default;
        font-weight: $font-weight-light;
        font-size: rem(16);
        display: inline-block;
        margin-bottom: 1px;

        &:first-of-type {
            margin-top: rem(15);
        }
    }

    &__line {
        background-color: $site-color;
        color: $white;
        display: inline-block;
        margin-bottom: 1px;
        padding: rem(5) rem(10);
        clear: both;
        float: left;
    }

    &__link {
        color: $white;
        text-decoration: underline;
    }

    &__img {
        clear: both;
        filter: grayscale(100%);

        @include media($screen-md) {
            clear: none;
            position: absolute;
            right: 0;
            width: 100%;
        }
    }

    &__quote {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
