.separator-section {
    position: relative;
    margin: 0 auto;
    height: rem(140);
    background-color: $grey;
    border-top: solid 2px $grey-tint2;

    &__container {
        display: flex;
        position: relative;
        align-items: center;
        height: 100%;
        width: 100%;

        @include media($screen-sm) {
            padding-left: $gutter;
        }

        blockquote {
            vertical-align: middle;
            font-size: rem(20);
            line-height: rem(30);
            border-left: 0;
            display: inline-block;
            text-align: left;
            color: $site-color;
            margin: 0;
            padding: 0;
            border-right: 0;
            font-family: $font-family-headings;
            font-weight: $font-weight-regular;
            max-width: 100%;

            @include media($screen-sm) {
                font-size: rem(22);
                line-height: rem(32);
                text-align: left;
            }

            .line {
                display: block;
                font-family: $font-family-headings;
                font-weight: $font-weight-regular;
            }

            cite {
                color: $black-tint1;
            }
        }
    }

    &__picture {
        background-image: url('/static/img/bg-md-v3.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        border-top: 0;

        @include media($screen-sm) {
            background-image: url('/static/img/bg-lg-v3.jpg');
        }

        &::before {
            content: '';
            position: absolute;
            height: calc(100vh - 42px);
            width: 100vw;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($black, .25);
        }

        &--error {
            background-image: url('/static/img/bg-error-md.jpg');

            @include media($screen-sm) {
                background-image: url('/static/img/bg-error-lg.jpg');
            }
        }
    }
}
