.social {
    display: grid;
    margin: 0 auto rem(10);
    grid-gap: 0 rem(10);
    grid-template-columns: repeat(6, 1fr);

    @include media($screen-sm) {
        margin: 0;
    }

    &__item {
        display: block;
        margin: 0 auto;
    }

    &__link {
        display: block;
        line-height: rem(42);
        height: rem(42);
        width: rem(42);
        font-size: rem(22);
        background-color: transparent;
        color: $grey-tint1;
        text-align: center;
        text-decoration: none;
        font-family: $font-family-fa-brands;
        font-weight: $font-weight-fa-normal;

        &:hover {
            color: $white;
            background-color: $site-color;
        }

        &__text {
            display: none;
            font-family: $font-family-default;
            font-weight: $font-weight-regular;
        }
    }

    &--facebook {
        &:before {
            content: $icon-facebook;
        }

        &:hover {
            color: $white;
            background-color: $facebook-blue;
        }
    }

    &--twitter {
        &:before {
            content: $icon-twitter;
        }

        &:hover {
            color: $white;
            background-color: $twitter-blue;
        }
    }

    &--google-plus {
        &:before {
            content: $icon-google;
        }

        &:hover {
            color: $white;
            background-color: $google-red;
        }
    }

    &--linkedin {
        &:before {
            content: $icon-linkedin;
        }

        &:hover {
            color: $white;
            background-color: $linkedin-blue;
        }
    }

    &--flickr {
        &:before {
            content: $icon-flickr;
        }

        &:hover {
            color: $white;
            background-color: $flickr-pink;
        }
    }

    &--fivehundred {
        font-size: rem(28);

        &:before {
            content: $icon-500px;
        }

        &:hover {
            color: $white;
            background-color: $fivehundred-blue;
        }
    }
}
