.social {
    display: grid;
    margin: 0 auto rem(10);
    grid-gap: 0 rem(10);
    grid-template-columns: repeat(6, 1fr);

    @include media($screen-sm) {
        margin: 0;
    }

    &__item {
        display: block;
        margin: 0 auto;
    }

    &__link {
        display: block;
        line-height: rem(42);
        height: rem(42);
        width: rem(42);
        font-size: rem(22);
        background-color: transparent;
        color: $grey-tint1;
        text-align: center;
        text-decoration: none;
        font-family: $font-family-fa-brands;
        font-weight: $font-weight-normal;

        &:hover {
            color: $white;
            background-color: $site-color;
        }

        &__text {
            display: none;
            font-family: $font-family-default;
            font-weight: $font-weight-fa-normal;
        }
    }

    &--facebook {
        &:before {
            content: fa-content($fa-var-facebook-f);
        }

        &:hover {
            color: $white;
            background-color: $facebook-blue;
        }
    }

    &--twitter {
        &:before {
            content: fa-content($fa-var-twitter);
        }

        &:hover {
            color: $white;
            background-color: $twitter-blue;
        }
    }

    &--google-plus {
        &:before {
            content: fa-content($fa-var-google-plus-g);
        }

        &:hover {
            color: $white;
            background-color: $google-red;
        }
    }

    &--linkedin {
        &:before {
            content: fa-content($fa-var-linkedin-in);
        }

        &:hover {
            color: $white;
            background-color: $linkedin-blue;
        }
    }

    &--flickr {
        &:before {
            content: fa-content($fa-var-flickr);
        }

        &:hover {
            color: $white;
            background-color: $flickr-pink;
        }
    }

    &--pinterest {
        &:before {
            content: fa-content($fa-var-pinterest);
        }

        &:hover {
            color: $white;
            background-color: $pinterest-red;
        }
    }

    &--fivehundred {
        font-size: rem(28);

        &:before {
            content: fa-content($fa-var-500px);
        }

        &:hover {
            color: $white;
            background-color: $fivehundred-blue;
        }
    }

    &--rss {
        font-family: $font-family-fa;
        font-weight: $font-weight-fa-bold;

        &:before {
            content: fa-content($fa-var-rss);
        }

        &:hover {
            color: $white;
            background-color: $rss-orange;
        }
    }

    &--wordpress {
        font-size: rem(28);

        &:before {
            content: fa-content($fa-var-wordpress);
        }

        &:hover {
            color: $white;
            background-color: $wordpress-blue;
        }
    }
}
