.social {
    display: grid;
    margin: 0 auto rem(10);
    grid-gap: 0 rem(10);
    grid-template-columns: repeat(6, 1fr);

    @include media($screen-sm) {
        margin: 0;
    }

    &__item {
        display: block;
        margin: 0 auto;
    }

    &__link {
        line-height: rem(42);
        height: rem(42);
        width: rem(42);
        font-size: rem(22);
        background-color: transparent;
        color: $black;
        text-align: center;
        text-decoration: none;
   }
    &--facebook {
        &:hover {
            color: $facebook-blue;
        }
    }

    &--twitter {
        &:hover {
            color: $twitter-blue;
        }
    }

    &--google-plus {
        &:hover {
            color: $google-red;
        }
    }

    &--linkedin {
        &:hover {
            color: $linkedin-blue;
        }
    }

    &--flickr {
        &:hover {
            color: $flickr-pink;
        }
    }

    &--pinterest {
        &:hover {
            color: $pinterest-red;
        }
    }

    &--fivehundred {
        font-size: rem(28);

        &:hover {
            color: $fivehundred-blue;
        }
    }

    &--rss {
        &:hover {
            color: $rss-orange;
        }
    }

    &--wordpress {
        font-size: rem(28);

        &:hover {
            color: $wordpress-blue;
        }
    }
}
