.blog {
    .grid__item--link {
        color: $black-tint1;
        height: rem(260);
    }

    .grid__item__content {
        padding: $gutter;
    }

    .article {
        &-header {
            color: $grey-tint1;
        }

        &-footer {
            color: $site-color;
            position: absolute;
            bottom: rem(10);
            width: calc(100% - 40px);

            .content {
                padding: 0;
                float: right;
            }

            .genericon {
                line-height: rem(42);
                height: rem(42);
                width: rem(42);
            }
        }
    }

    .entry {
        &-title {
            font-size: rem(24);
            text-align: left;
            font-weight: 300;
        }

        &-excerpt {
            font-size: rem(14);
            margin-bottom: rem(10);
        }

        &-time {
            &::before {
                font-family: 'Genericons';
                display: inline-block;
                padding-right: rem(10);
                margin-bottom: rem(15);
            }
        }

        &-comments {
            &::before {
                font-family: 'Genericons';
                display: inline-block;
                padding: 0 rem(10) 0 0;
            }
        }
    }
}
