.blog {
    .item-link {
        color: $black-tint1;
        height: 260px;

        .content {
            padding: $gutter;
        }

        .article {
            &-header {
                color: $grey-tint1;
            }

            &-footer {
                color: $site-color;
                position: absolute;
                bottom: 0;
            }
        }

        .entry {
            &-title {
                font-size: rem(30);
                text-align: left;
            }

            &-excerpt {
                font-size: rem(14);
                margin-bottom: 10px;
            }

            &-time {
                &:before {
                    font-family: 'Genericons';
                    display: inline-block;
                    padding-right: 10px;
                    margin-bottom: 10px;
                }
            }

            &-comments {
                &:before {
                    font-family: 'Genericons';
                    display: inline-block;
                    padding: 0 10px 0 0;
                }
            }
        }
    }
}
