#error {
    .site-wrapper {
        margin-bottom: 0;
    }

    .site-header {
        background-color: transparent;

        .logo {
            &:hover {
                .dot {
                    background-color: $black-tint1;
                }
            }

            .dot {
                background-color: $site-color;
            }
        }
    }

    .site-footer {
        position: absolute;
        bottom: 0;
    }

    .error {
        background-image: url('../img/bg-error-md.jpg');
        height: 100vh;

        @include media($tablet) {
            background-image: url('../img/bg-error-lg.jpg');
        }

        .container {
            display: table-cell;
            vertical-align: middle;

            .info-box {
                text-align: center;
                display: block;
                margin: 0 auto;
                max-width: $screen-lg;

                .title {
                    font-weight: 900;
                    font-size: rem(62);
                }

                .strapline {
                    font-size: rem(18);

                    @include media($tablet) {
                        font-size: rem(22);
                    }
                }
            }
        }
    }

    .page {
        padding-top: 0;
        padding-bottom: 0;
    }
}
