.error-page {

    .site-header {
        background-color: transparent;
    }

    .site-footer {
        position: absolute;
        bottom: 0;
    }

    .error {
        background-image: url('../img/bg-error-md.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;

        @include media($tablet) {
            background-image: url('../img/bg-error-lg.jpg');
        }

        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('../img/grid.png');
            z-index: 1;
        }

        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($black, .45);
            z-index: 0;
        }

        .container {
            position: fixed;
            left: 0;
            top: 0;
            max-width: 100%;
            z-index: 1;
        }
    }

    .page {
        padding-top: 0;
        padding-bottom: 0;
    }
}
