.home {
    z-index: 0;
    min-height: 100vh;
    height: 100vh;
    background-color: $black-tint1;

    .container {
        position: fixed;
        left: 0;
        top: 0;
        max-width: 100%;
    }

    .main-content {
        opacity: 0;
    }

    .line {
        @include media($tablet) {
            font-size: rem(42);
        }
    }

    .name {
        font-size: rem(42);

        @include media($tablet) {
            font-size: rem(82);
        }
    }

    &.active {
        .main-content {
            opacity: 1;
        }
    }
}
