.work {
    .item {
        display: block;
        height: 240px;

        .item-link {
            .image {
                background-image: url('../img/blank.png');
                background-color: $white-tint1;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                height: 100%;
                width: 100%;

                &.web {
                    background-position: center top;

                    &:before {
                        content: '';
                    }
                }

                &.camera {
                    &:before {
                        content: '';
                    }
                }
            }
        }
    }
}
