.site-header {
    height: rem(55);
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
    background-color: $black;

    @include media($screen-sm) {
        height: 100%;
        width: rem(120);
    }

    &__logo {
        height: rem(55);
        width: rem(55);
        display: block;
        margin: 0 auto;
        position: relative;
        background-color: $black;

        @include media($screen-sm) {
            height: rem(120);
            width: rem(120);
        }

        &::before {
            content: '';
            display: block;
            background-image: url('/static/img/logo114x114.png');
            background-repeat: no-repeat;
            background-size: rem(55);
            background-position: center;
            width: rem(55);
            height: rem(55);
            mask: url('/static/img/wallpaper.png') top left;

            @include media($screen-sm) {
                background-size: rem(75);
                height: rem(120);
                width: rem(120);
            }
        }

        .srt {
            display: none;
        }

        &__dot {
            transition: background-color .5s ease;
            display: block;
            position: absolute;
            background-color: $site-color;
            height: rem(8);
            width: rem(8);
            right: rem(8);
            bottom: rem(8);
            border-radius: 50%;

            @include media($screen-sm) {
                height: rem(12);
                width: rem(12);
                right: rem(25);
                bottom: rem(30);
            }
        }

        &:hover {
            background-color: $site-color;

            .site-header__logo__dot {
                background-color: $black;
            }
        }
    }
}

.nav {
    width: 100%;
    z-index: 5;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: $black;

    @include media($screen-sm) {
        width: rem(120);
        top: rem(120);
        bottom: initial;
    }

    &__menu {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @include media($screen-sm) {
            grid-template-columns: repeat(1, 1fr);
        }

        &__item {
            display: block;
        }

        &__link {
            display: block;
            color: $white;
            text-decoration: none;
            line-height: rem(42);
            font-family: $font-family-headings;
            font-weight: $font-weight-bold;
            position: relative;
            text-align: center;
            font-size: rem(16);
            width: 100%;

            @include media($screen-sm) {
                line-height: rem(120);
            }

            &:hover {
                color: $black-tint1;
                background-color: $site-color;
            }

            &--active {
                color: $black;
                background-color: $site-color;
                cursor: default;

                &:hover {
                    color: $black;
                    background-color: $site-color;
                }
            }
        }

        &__icon {
            font-size: rem(42);
            position: absolute;
            top: rem(20);
            left: 0;
            width: 100%;
            display: none;

            @include media($screen-sm) {
                display: inline-block;
            }
        }

        &__text {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-transform: uppercase;

            @include media($screen-sm) {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-transform: uppercase;
                position: relative;
                bottom: rem(-25);
                left: 0;
                width: 100%;
            }
        }
    }
}
